<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--
* @Copyright(c): 厦门路桥信息股份有限公司  版权所有
* @author :XMRBI
* @Description:经营快报查看
* @createDate:2018-7-27
-->
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
	<title>经营快报查看</title>
	<link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/dist/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/dist/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/static/plugins/select2/select2.css}"/>
    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap-treeview/bootstrap-treeview.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap-toggle/bootstrap-toggle.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap-validator/css/bootstrapValidator.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/dist/css/AdminLTE.css}"/>
    <link rel="stylesheet" th:href="@{/static/dist/css/skins/_all-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/dist/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/dist/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/plugins/jvectormap/jquery-jvectormap-1.2.2.css}"/>
    <!-- Theme style -->
	<link rel="stylesheet" th:href="@{/static/dist/css/AdminLTE.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/dist/css/skins/_all-skins.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/css/common.css}"/>
	<!-- Bootstrap 3.3.7 -->
	<link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/plugins/bootstrap-table/dist/bootstrap-table.min.css}"/>
	<style type="text/css">
	.panel {
	  margin-bottom: 0px;
	}
	.form-group {
	  margin-bottom: 2px;
	}
	
	</style>
	<style type="text/css">
        html, body {
            overflow-x: hidden;
        }

        body {
            padding-top: 5px;
        }
        
        .box.box-solid.box-default>.box-header {
        	background-color: #DEF2FF;
        }
        
        .col-sm-10 span {
            word-break: break-all;
            word-wrap: break-word;
            white-space: normal;
            display: block;
            float: left;
            height: 34px;
            padding: 6px 12px 6px 0px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #777;
        }
        
		#compList>thead>tr>th{text-align: center;vertical-align: middle !important;}
		#compList>tbody>tr>td{vertical-align: middle !important;}
		
		#annexList>thead>tr>th{text-align: center;vertical-align: middle !important;vertical-align: middle !important;}
		#annexList>tbody>tr>td{text-align: center;vertical-align: middle !important;vertical-align: middle !important;}
		
		#btn_upload,#btn_delete{
			padding: 3px 6px;
			font-size: 12px;
		}
		
		input{
			text-align: center;
		}
		
		.table>tbody>tr>td{
			padding: 3px;
		}
		
		table,table tr th, table tr td { border:1px solid #000; }
        table {border-collapse: collapse; padding:2px;}
          
    </style>
</head>
<body>
<div class="container-fluid" style="width:100%; height: 100%" >
	<form th:each="indicComp,indicCompStat : ${finalCompList}" th:id="${'myform_comp_'} + ${indicComp.id}" class="form-horizontal compForm">
		<input name="id" th:value="${indicComp.id}" type="hidden" />
		<input name="reportMonth" th:value="${indicComp.reportMonth}" type="hidden" />
		<input name="lastYearAccumu" th:value="${indicComp.lastYearAccumu}" type="hidden" />
		<input name="thisYearPlan" th:value="${indicComp.thisYearPlan}" type="hidden" />
		<input name="thisMonthAmount" th:value="${indicComp.thisMonthAmount}" type="hidden" />
		<input name="thisMonthAccumu" th:value="${indicComp.thisMonthAccumu}" type="hidden" />
		<input name="completionRate" th:value="${indicComp.completionRate}" type="hidden" />
		<input name="initialBalance" th:value="${indicComp.initialBalance}" type="hidden" />
		<input name="currentRevenue" th:value="${indicComp.currentRevenue}" type="hidden" />
		<input name="currentPayment" th:value="${indicComp.currentPayment}" type="hidden" />
		<input name="endBalance" th:value="${indicComp.endBalance}" type="hidden" />
		<input name="indicator.id" th:value="${indicComp.indicator.id}" type="hidden" />
		<input name="version" th:value="${indicComp.version}" type="hidden" />
	</form>
	
	<div class="row">
		<div class="col-md-12">
			<ul id="myTab" class="nav nav-tabs">
				<li class="active">
					<a href="#originalInfo" data-toggle="tab">基本信息</a>
				</li>
				<li>
					<a href="#editInfo" data-toggle="tab">调整报表</a>
				</li>
				<li th:if="${showFinal}">
					<a href="#finalInfo" data-toggle="tab">最终版本</a>
				</li>
				<li>
					<a href="#annexs" data-toggle="tab">附件</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div id="myTabContent" class="tab-content">
		<input hidden="hidden" id="sumDisplay" name="sumDisplay" th:value="${sumDisplay}" />
		<div class="tab-pane fade in active" id="originalInfo">
		<div id="originalInfo_print">
			<h3 align="center" th:text="${report.reportTitle}" style="margin: 10px 0px;"></h3>
		    <form id="myform_report" class="form-horizontal">
		    	<input hidden="hidden" name="id" th:value="${report.id}" />
		    	<!-- <input hidden="hidden" name="annexIds" th:value="${report.annexIds}" /> -->
		    	<input hidden="hidden" name="version" th:value="${0}" />
			</form>
		    
		    <table id="compList" class="table table-bordered" style="width: 100%">
			   	<thead th:if="${!#strings.isEmpty(noFinanceComps)}">
			   		<tr align="center">
			   			<th>经营指标</th>
			   			<th>单位</th>
			   			<th th:text="${year-1} + ${'年同期累计'}"></th>
			   			<th th:text="${year} + ${'年计划'}"></th>
			   			<th>本月发生</th>
			   			<th>本月止年累</th>
			   			<th>计划完成率</th>
			   		</tr>
			   	</thead>
			   	<tbody id="compList_body">
			   		<tr th:each="indicComp,indicCompStat : ${originalCompList}" th:if="${!#bools.isTrue(indicComp.indicator.fillDepartment) or !#strings.contains(indicComp.indicator.fillDepartment.name,'财务部')}" height="36px;">
			   			<td align="left">
			   				<!-- 经营指标子项缩进 -->
			   				<span th:if="${#strings.contains(indicComp.indicator.indicNo,'.')}" th:with="arrList=${#strings.listSplit(indicComp.indicator.indicNo,'.')}">
			   					<span th:with="num_=${#lists.size(arrList)-2}">
				   					<span th:each="i : ${#numbers.sequence(0,num_)}">&nbsp;&nbsp;</span>
			   					</span>
			   				</span>
			   				<span th:text="${indicComp.indicator.indicNo} + ${' '} + ${indicComp.indicator.indicName}"></span>
			   			</td>
			   			<td align="center" th:text="${indicComp.indicator.unit}"></td>
			   			<!-- 上一年同期累计 -->
			   			<td align="center">
				   			<span th:id="${'lastYearAccumu_'}+${indicCompStat.index+1}" th:text="${indicComp.lastYearAccumu}"></span>
			   			</td>
			   			<!-- 今年计划 -->
			   			<td align="center">
			   				<span th:id="${'thisYearPlan_'}+${indicCompStat.index+1}" th:text="${indicComp.thisYearPlan}"></span>
			   			</td>
			   			<!-- 本月发生 -->
			   			<td align="center">
			   				<span th:text="${indicComp.thisMonthAmount}"></span>
			   			</td>
			   			<!-- 本月止年累 -->
			   			<td align="center">
			   				<span th:id="${'thisMonthAccumu_'}+${indicCompStat.index+1}" th:text="${indicComp.thisMonthAccumu}"></span>
			   			</td>
			   			<!-- 计划完成率 -->
			   			<td align="center">
			   				<span th:id="${'completionRate_'}+${indicCompStat.index+1}" th:text="${indicComp.completionRate}"></span>
			   			</td>
			   		</tr>
			   		
			   		<!-- 财务指标  -->
			   		<tr th:if="${!#strings.isEmpty(financeComps) and !#strings.isEmpty(noFinanceComps)}" height="20px;">
			   			<td colspan="7"></td>
			   		</tr>
			   		<tr th:if="${!#strings.isEmpty(financeComps)}">
			   			<td></td>
			   			<td align="center">单位</td>
			   			<td colspan="2" align="center">期初余额</td>
			   			<td align="center">本期收入</td>
			   			<td align="center">本期支出</td>
			   			<td align="center">期末余额</td>
			   		</tr>
			   		<tr th:each="indicComp,indicCompStat : ${originalCompList}" th:if="${#bools.isTrue(indicComp.indicator.fillDepartment) and #strings.contains(indicComp.indicator.fillDepartment.name,'财务部') and !#strings.contains(indicComp.indicator.indicName,'资产总额')}" height="36px;">
			   			<td align="left">
			   				<!-- 经营指标子项缩进 -->
			   				<span th:if="${#strings.contains(indicComp.indicator.indicNo,'.')}" th:with="arrList=${#strings.listSplit(indicComp.indicator.indicNo,'.')}">
			   					<span th:with="num_=${#lists.size(arrList)-2}">
				   					<span th:each="i : ${#numbers.sequence(0,num_)}">&nbsp;&nbsp;</span>
			   					</span>
			   				</span>
			   				<span th:text="${indicComp.indicator.indicNo} + ${' '} + ${indicComp.indicator.indicName}"></span>
			   			</td>
			   			<td align="center" th:text="${indicComp.indicator.unit}"></td>
			   			<!-- 期初余额 -->
			   			<td align="center" colspan="2" >
				   			<span th:text="${indicComp.initialBalance}"></span>
			   			</td>
			   			<!-- 本期收入 -->
			   			<td align="center">
			   				<span th:text="${indicComp.currentRevenue}"></span>
			   			</td>
			   			<!-- 本期支付 -->
			   			<td align="center">
			   				<span th:text="${indicComp.currentPayment}"></span>
			   			</td>
			   			<!-- 期末余额 -->
			   			<td align="center">
			   				<span th:id="${'endBalance_'}+${indicCompStat.index+1}" th:text="${indicComp.endBalance}"></span>
			   			</td>
			   		</tr>
			   		
			   		<!-- 资产总额  -->
			   		<tr th:each="indicComp,indicCompStat : ${originalCompList}" th:if="${#strings.contains(indicComp.indicator.indicName,'资产总额')}" height="20px;">
			   			<td colspan="7"></td>
			   		</tr>
			   		<tr th:each="indicComp,indicCompStat : ${originalCompList}" th:if="${#strings.contains(indicComp.indicator.indicName,'资产总额')}">
			   			<td></td>
			   			<td align="center" >单位</td>
			   			<td colspan="2"  th:text="${year-1} + ${'年末'}" align="center" ></td>
			   			<td colspan="2" align="center" >本月止净增减（增+，减-）</td>
			   			<td align="center" >期末</td>
			   		</tr>
			   		<tr th:each="indicComp,indicCompStat : ${originalCompList}" th:if="${#strings.contains(indicComp.indicator.indicName,'资产总额')}">
			   			<td align="left">
			   				<!-- 经营指标子项缩进 -->
			   				<span th:if="${#strings.contains(indicComp.indicator.indicNo,'.')}" th:with="arrList=${#strings.listSplit(indicComp.indicator.indicNo,'.')}">
			   					<span th:with="num_=${#lists.size(arrList)-2}">
				   					<span th:each="i : ${#numbers.sequence(0,num_)}">&nbsp;&nbsp;</span>
			   					</span>
			   				</span>
			   				<span th:text="${indicComp.indicator.indicNo} + ${' '} + ${indicComp.indicator.indicName}"></span>
			   			</td>
			   			<td align="center" th:text="${indicComp.indicator.unit}"></td>
			   			<!-- 年末 -->
			   			<td align="center" colspan="2" >
				   			<span th:text="${indicComp.initialBalance}"></span>
			   			</td>
			   			<!-- 本月止净增减 -->
			   			<td align="center" colspan="2">
			   				<span th:text="${indicComp.currentRevenue}"></span>
			   			</td>
			   			<!-- 期末 -->
			   			<td align="center">
			   				<span th:id="${'endBalance_'}+${indicCompStat.index+1}" th:text="${indicComp.endBalance}"></span>
			   			</td>
			   		</tr>
			   	</tbody>
			 </table>
			 </div>
			   
			 <div style="text-align: center;margin-bottom: 10px;">
				 <button type="button" onclick="fnCloseWin()" class="btn btn-primary" style="margin-right: 25px;width: 80px;">关闭</button> 
				 <button type="button" onclick="fnPrint(0)" class="btn btn-primary" style="margin-right: 25px;width: 80px;">打印</button>
				 <button type="button" onclick="fnExport(0)" class="btn btn-primary" style="width: 80px;">导出</button> 
			</div>
		</div>
		
		<div class="tab-pane fade" id="editInfo">
			<div id="editInfo_print">
			<h3 align="center" th:text="${report.reportTitle}" style="margin: 10px 0px;"></h3>
		    <table id="compList" class="table table-bordered" style="width: 100%">
			   	<thead th:if="${!#strings.isEmpty(noFinanceComps)}">
			   		<tr align="center">
			   			<th>经营指标</th>
			   			<th>单位</th>
			   			<th th:text="${year-1} + ${'年同期累计'}"></th>
			   			<th th:text="${year} + ${'年计划'}"></th>
			   			<th>本月发生</th>
			   			<th>本月止年累</th>
			   			<th>计划完成率</th>
			   		</tr>
			   	</thead>
			   	<tbody id="compList_body">
			   		<tr th:each="indicComp,indicCompStat : ${editCompList}" th:if="${!#bools.isTrue(indicComp.indicator.fillDepartment) or !#strings.contains(indicComp.indicator.fillDepartment.name,'财务部')}" height="36px;">
			   			<td align="left">
			   				<!-- 经营指标子项缩进 -->
			   				<span th:if="${#strings.contains(indicComp.indicator.indicNo,'.')}" th:with="arrList=${#strings.listSplit(indicComp.indicator.indicNo,'.')}">
			   					<span th:with="num_=${#lists.size(arrList)-2}">
				   					<span th:each="i : ${#numbers.sequence(0,num_)}">&nbsp;&nbsp;</span>
			   					</span>
			   				</span>
			   				<span th:text="${indicComp.indicator.indicNo} + ${' '} + ${indicComp.indicator.indicName}"></span>
			   			</td>
			   			<td align="center" th:text="${indicComp.indicator.unit}"></td>
			   			<!-- 上一年同期累计 -->
			   			<td align="center">
				   			<span th:id="${'lastYearAccumu_'}+${indicCompStat.index+1}" th:text="${indicComp.lastYearAccumu}"></span>
			   			</td>
			   			<!-- 今年计划 -->
			   			<td align="center">
			   				<span th:id="${'thisYearPlan_'}+${indicCompStat.index+1}" th:text="${indicComp.thisYearPlan}"></span>
			   			</td>
			   			<!-- 本月发生 -->
			   			<td align="center">
			   				<span th:text="${indicComp.thisMonthAmount}"></span>
			   			</td>
			   			<!-- 本月止年累 -->
			   			<td align="center">
			   				<span th:id="${'thisMonthAccumu_'}+${indicCompStat.index+1}" th:text="${indicComp.thisMonthAccumu}"></span>
			   			</td>
			   			<!-- 计划完成率 -->
			   			<td align="center">
			   				<span th:id="${'completionRate_'}+${indicCompStat.index+1}" th:text="${indicComp.completionRate}"></span>
			   			</td>
			   		</tr>
			   		
			   		<!-- 财务指标  -->
			   		<tr th:if="${!#strings.isEmpty(financeComps) and !#strings.isEmpty(noFinanceComps)}" height="20px;">
			   			<td colspan="7"></td>
			   		</tr>
			   		<tr th:if="${!#strings.isEmpty(financeComps)}">
			   			<td></td>
			   			<td align="center">单位</td>
			   			<td colspan="2" align="center">期初余额</td>
			   			<td align="center">本期收入</td>
			   			<td align="center">本期支出</td>
			   			<td align="center">期末余额</td>
			   		</tr>
			   		<tr th:each="indicComp,indicCompStat : ${editCompList}" th:if="${#bools.isTrue(indicComp.indicator.fillDepartment) and #strings.contains(indicComp.indicator.fillDepartment.name,'财务部') and !#strings.contains(indicComp.indicator.indicName,'资产总额')}" height="36px;">
			   			<td align="left">
			   				<!-- 经营指标子项缩进 -->
			   				<span th:if="${#strings.contains(indicComp.indicator.indicNo,'.')}" th:with="arrList=${#strings.listSplit(indicComp.indicator.indicNo,'.')}">
			   					<span th:with="num_=${#lists.size(arrList)-2}">
				   					<span th:each="i : ${#numbers.sequence(0,num_)}">&nbsp;&nbsp;</span>
			   					</span>
			   				</span>
			   				<span th:text="${indicComp.indicator.indicNo} + ${' '} + ${indicComp.indicator.indicName}"></span>
			   			</td>
			   			<td align="center" th:text="${indicComp.indicator.unit}"></td>
			   			<!-- 期初余额 -->
			   			<td align="center" colspan="2" >
				   			<span th:text="${indicComp.initialBalance}"></span>
			   			</td>
			   			<!-- 本期收入 -->
			   			<td align="center">
			   				<span th:text="${indicComp.currentRevenue}"></span>
			   			</td>
			   			<!-- 本期支付 -->
			   			<td align="center">
			   				<span th:text="${indicComp.currentPayment}"></span>
			   			</td>
			   			<!-- 期末余额 -->
			   			<td align="center">
			   				<span th:id="${'endBalance_'}+${indicCompStat.index+1}" th:text="${indicComp.endBalance}"></span>
			   			</td>
			   		</tr>
			   		
			   		<!-- 资产总额  -->
			   		<tr th:each="indicComp,indicCompStat : ${editCompList}" th:if="${#strings.contains(indicComp.indicator.indicName,'资产总额')}" height="20px;">
			   			<td colspan="7"></td>
			   		</tr>
			   		<tr th:each="indicComp,indicCompStat : ${editCompList}" th:if="${#strings.contains(indicComp.indicator.indicName,'资产总额')}">
			   			<td></td>
			   			<td align="center" >单位</td>
			   			<td colspan="2"  th:text="${year-1} + ${'年末'}" align="center" ></td>
			   			<td colspan="2" align="center" >本月止净增减（增+，减-）</td>
			   			<td align="center" >期末</td>
			   		</tr>
			   		<tr th:each="indicComp,indicCompStat : ${editCompList}" th:if="${#strings.contains(indicComp.indicator.indicName,'资产总额')}">
			   			<td align="left">
			   				<!-- 经营指标子项缩进 -->
			   				<span th:if="${#strings.contains(indicComp.indicator.indicNo,'.')}" th:with="arrList=${#strings.listSplit(indicComp.indicator.indicNo,'.')}">
			   					<span th:with="num_=${#lists.size(arrList)-2}">
				   					<span th:each="i : ${#numbers.sequence(0,num_)}">&nbsp;&nbsp;</span>
			   					</span>
			   				</span>
			   				<span th:text="${indicComp.indicator.indicNo} + ${' '} + ${indicComp.indicator.indicName}"></span>
			   			</td>
			   			<td align="center" th:text="${indicComp.indicator.unit}"></td>
			   			<!-- 年末 -->
			   			<td align="center" colspan="2" >
				   			<span th:text="${indicComp.initialBalance}"></span>
			   			</td>
			   			<!-- 本月止净增减 -->
			   			<td align="center" colspan="2">
			   				<span th:text="${indicComp.currentRevenue}"></span>
			   			</td>
			   			<!-- 期末 -->
			   			<td align="center">
			   				<span th:id="${'endBalance_'}+${indicCompStat.index+1}" th:text="${indicComp.endBalance}"></span>
			   			</td>
			   		</tr>
			   	</tbody>
			 </table>
			 </div>
			   
			 <div style="text-align: center;margin-bottom: 10px;">
				 <button type="button" onclick="fnCloseWin()" class="btn btn-primary" style="margin-right: 25px;width: 80px;">关闭</button> 
				 <button type="button" onclick="fnPrint(1)" class="btn btn-primary" style="margin-right: 25px;width: 80px;">打印</button>
				 <button type="button" onclick="fnExport(1)" class="btn btn-primary" style="width: 80px;">导出</button> 
			</div>
		</div>
		
		<div class="tab-pane fade" id="finalInfo">
		<div id="finalInfo_print">
			<h3 align="center" th:text="${report.reportTitle}" style="margin: 10px 0px;"></h3>
		    <table id="compList" class="table table-bordered" style="width: 100%">
			   	<thead th:if="${!#strings.isEmpty(noFinanceComps)}">
			   		<tr align="center">
			   			<th>经营指标</th>
			   			<th>单位</th>
			   			<th th:text="${year-1} + ${'年同期累计'}"></th>
			   			<th th:text="${year} + ${'年计划'}"></th>
			   			<th>本月发生</th>
			   			<th>本月止年累</th>
			   			<th>计划完成率</th>
			   		</tr>
			   	</thead>
			   	<tbody id="compList_body">
			   		<tr th:each="indicComp,indicCompStat : ${finalCompList}" th:if="${!#bools.isTrue(indicComp.indicator.fillDepartment) or !#strings.contains(indicComp.indicator.fillDepartment.name,'财务部')}" height="36px;">
			   			<td align="left">
			   				<!-- 经营指标子项缩进 -->
			   				<span th:if="${#strings.contains(indicComp.indicator.indicNo,'.')}" th:with="arrList=${#strings.listSplit(indicComp.indicator.indicNo,'.')}">
			   					<span th:with="num_=${#lists.size(arrList)-2}">
				   					<span th:each="i : ${#numbers.sequence(0,num_)}">&nbsp;&nbsp;</span>
			   					</span>
			   				</span>
			   				<span th:text="${indicComp.indicator.indicNo} + ${' '} + ${indicComp.indicator.indicName}"></span>
			   			</td>
			   			<td align="center" th:text="${indicComp.indicator.unit}"></td>
			   			<!-- 上一年同期累计 -->
			   			<td align="center">
				   			<input th:id="${'lastYearAccumu_'}+${indicComp.id}" th:value="${indicComp.lastYearAccumu}" class="form-control" th:onchange="'fnSetValue(this)'" style="width: 120px;" />
			   			</td>
			   			<!-- 今年计划 -->
			   			<td align="center">
			   				<input th:id="${'thisYearPlan_'}+${indicComp.id}" th:value="${indicComp.thisYearPlan}" class="form-control" th:onchange="'fnSetValue(this)'" style="width: 120px;" />
			   			</td>
			   			<!-- 本月发生 -->
			   			<td align="center">
			   				<input th:id="${'thisMonthAmount_'}+${indicComp.id}" th:value="${indicComp.thisMonthAmount}" class="form-control" th:onchange="'fnSetValue(this)'" style="width: 120px;" />
			   			</td>
			   			<!-- 本月止年累 -->
			   			<td align="center">
			   				<input th:id="${'thisMonthAccumu_'}+${indicComp.id}" th:value="${indicComp.thisMonthAccumu}" class="form-control" th:onchange="'fnSetValue(this)'" style="width: 120px;" />
			   			</td>
			   			<!-- 计划完成率 -->
			   			<td align="center">
			   				<input th:id="${'completionRate_'}+${indicComp.id}" th:value="${indicComp.completionRate}" class="form-control" th:onchange="'fnSetValue(this)'" style="width: 120px;" />
			   			</td>
			   		</tr>
			   		
			   		<!-- 财务指标  -->
			   		<tr th:if="${!#strings.isEmpty(financeComps) and !#strings.isEmpty(noFinanceComps)}" height="20px;">
			   			<td colspan="7"></td>
			   		</tr>
			   		<tr th:if="${!#strings.isEmpty(financeComps)}">
			   			<td></td>
			   			<td align="center">单位</td>
			   			<td colspan="2" align="center">期初余额</td>
			   			<td align="center">本期收入</td>
			   			<td align="center">本期支出</td>
			   			<td align="center">期末余额</td>
			   		</tr>
			   		<tr th:each="indicComp,indicCompStat : ${finalCompList}" th:if="${#bools.isTrue(indicComp.indicator.fillDepartment) and #strings.contains(indicComp.indicator.fillDepartment.name,'财务部') and !#strings.contains(indicComp.indicator.indicName,'资产总额')}" height="36px;">
			   			<td align="left">
			   				<!-- 经营指标子项缩进 -->
			   				<span th:if="${#strings.contains(indicComp.indicator.indicNo,'.')}" th:with="arrList=${#strings.listSplit(indicComp.indicator.indicNo,'.')}">
			   					<span th:with="num_=${#lists.size(arrList)-2}">
				   					<span th:each="i : ${#numbers.sequence(0,num_)}">&nbsp;&nbsp;</span>
			   					</span>
			   				</span>
			   				<span th:text="${indicComp.indicator.indicNo} + ${' '} + ${indicComp.indicator.indicName}"></span>
			   			</td>
			   			<td align="center" th:text="${indicComp.indicator.unit}"></td>
			   			<!-- 期初余额 -->
			   			<td align="center" colspan="2" >
				   			<input th:id="${'initialBalance_'}+${indicComp.id}" th:value="${indicComp.initialBalance}" class="form-control" th:onchange="'fnSetValue(this)'" style="width: 120px;" />
			   			</td>
			   			<!-- 本期收入 -->
			   			<td align="center">
			   				<input th:id="${'currentRevenue_'}+${indicComp.id}" th:value="${indicComp.currentRevenue}" class="form-control" th:onchange="'fnSetValue(this)'" style="width: 120px;" />
			   			</td>
			   			<!-- 本期支付 -->
			   			<td align="center">
			   				<input th:id="${'currentPayment_'}+${indicComp.id}" th:value="${indicComp.currentPayment}" class="form-control" th:onchange="'fnSetValue(this)'" style="width: 120px;" />
			   			</td>
			   			<!-- 期末余额 -->
			   			<td align="center">
			   				<input th:id="${'endBalance_'}+${indicComp.id}" th:value="${indicComp.endBalance}" class="form-control" th:onchange="'fnSetValue(this)'" style="width: 120px;" />
			   			</td>
			   		</tr>
			   		
			   		<!-- 资产总额  -->
			   		<tr th:each="indicComp,indicCompStat : ${finalCompList}" th:if="${#strings.contains(indicComp.indicator.indicName,'资产总额')}" height="20px;">
			   			<td colspan="7"></td>
			   		</tr>
			   		<tr th:each="indicComp,indicCompStat : ${finalCompList}" th:if="${#strings.contains(indicComp.indicator.indicName,'资产总额')}">
			   			<td></td>
			   			<td align="center" >单位</td>
			   			<td colspan="2"  th:text="${year-1} + ${'年末'}" align="center" ></td>
			   			<td colspan="2" align="center" >本月止净增减（增+，减-）</td>
			   			<td align="center" >期末</td>
			   		</tr>
			   		<tr th:each="indicComp,indicCompStat : ${finalCompList}" th:if="${#strings.contains(indicComp.indicator.indicName,'资产总额')}">
			   			<td align="left">
			   				<!-- 经营指标子项缩进 -->
			   				<span th:if="${#strings.contains(indicComp.indicator.indicNo,'.')}" th:with="arrList=${#strings.listSplit(indicComp.indicator.indicNo,'.')}">
			   					<span th:with="num_=${#lists.size(arrList)-2}">
				   					<span th:each="i : ${#numbers.sequence(0,num_)}">&nbsp;&nbsp;</span>
			   					</span>
			   				</span>
			   				<span th:text="${indicComp.indicator.indicNo} + ${' '} + ${indicComp.indicator.indicName}"></span>
			   			</td>
			   			<td align="center" th:text="${indicComp.indicator.unit}"></td>
			   			<!-- 年末 -->
			   			<td align="center" colspan="2" >
				   			<input th:id="${'initialBalance_'}+${indicComp.id}" th:value="${indicComp.initialBalance}" class="form-control" th:onchange="'fnSetValue(this)'" style="width: 120px;" />
			   			</td>
			   			<!-- 本月止净增减 -->
			   			<td align="center" colspan="2">
			   				<input th:id="${'currentRevenue_'}+${indicComp.id}" th:value="${indicComp.currentRevenue}" class="form-control" th:onchange="'fnSetValue(this)'" style="width: 120px;" />
			   			</td>
			   			<!-- 期末 -->
			   			<td align="center">
			   				<input th:id="${'endBalance_'}+${indicComp.id}" th:value="${indicComp.endBalance}" class="form-control" th:onchange="'fnSetValue(this)'" style="width: 120px;" />
			   			</td>
			   		</tr>
			   	</tbody>
			 </table>
			 </div>
			 
			<div id="finalInfo_print_2" hidden="hidden" >
			<h3 align="center" th:text="${report.reportTitle}" style="margin: 10px 0px;"></h3>
		    <table id="compList" class="table table-bordered" style="width: 100%">
			   	<thead th:if="${!#strings.isEmpty(noFinanceComps)}">
			   		<tr align="center">
			   			<th>经营指标</th>
			   			<th>单位</th>
			   			<th th:text="${year-1} + ${'年同期累计'}"></th>
			   			<th th:text="${year} + ${'年计划'}"></th>
			   			<th>本月发生</th>
			   			<th>本月止年累</th>
			   			<th>计划完成率</th>
			   		</tr>
			   	</thead>
			   	<tbody id="compList_body">
			   		<tr th:each="indicComp,indicCompStat : ${finalCompList}" th:if="${!#bools.isTrue(indicComp.indicator.fillDepartment) or !#strings.contains(indicComp.indicator.fillDepartment.name,'财务部')}" height="36px;">
			   			<td align="left">
			   				<!-- 经营指标子项缩进 -->
			   				<span th:if="${#strings.contains(indicComp.indicator.indicNo,'.')}" th:with="arrList=${#strings.listSplit(indicComp.indicator.indicNo,'.')}">
			   					<span th:with="num_=${#lists.size(arrList)-2}">
				   					<span th:each="i : ${#numbers.sequence(0,num_)}">&nbsp;&nbsp;</span>
			   					</span>
			   				</span>
			   				<span th:text="${indicComp.indicator.indicNo} + ${' '} + ${indicComp.indicator.indicName}"></span>
			   			</td>
			   			<td align="center" th:text="${indicComp.indicator.unit}"></td>
			   			<!-- 上一年同期累计 -->
			   			<td align="center">
				   			<span th:id="${'span_lastYearAccumu_'}+${indicComp.id}" th:text="${indicComp.lastYearAccumu}"></span>
			   			</td>
			   			<!-- 今年计划 -->
			   			<td align="center">
			   				<span th:id="${'span_thisYearPlan_'}+${indicComp.id}" th:text="${indicComp.thisYearPlan}"></span>
			   			</td>
			   			<!-- 本月发生 -->
			   			<td align="center">
			   				<span th:id="${'span_thisMonthAmount_'}+${indicComp.id}" th:text="${indicComp.thisMonthAmount}"></span>
			   			</td>
			   			<!-- 本月止年累 -->
			   			<td align="center">
			   				<span th:id="${'span_thisMonthAccumu_'}+${indicComp.id}" th:text="${indicComp.thisMonthAccumu}"></span>
			   			</td>
			   			<!-- 计划完成率 -->
			   			<td align="center">
			   				<span th:id="${'span_completionRate_'}+${indicComp.id}" th:text="${indicComp.completionRate}"></span>
			   			</td>
			   		</tr>
			   		
			   		<!-- 财务指标  -->
			   		<tr th:if="${!#strings.isEmpty(financeComps) and !#strings.isEmpty(noFinanceComps)}" height="20px;">
			   			<td colspan="7"></td>
			   		</tr>
			   		<tr th:if="${!#strings.isEmpty(financeComps)}">
			   			<td></td>
			   			<td align="center">单位</td>
			   			<td colspan="2" align="center">期初余额</td>
			   			<td align="center">本期收入</td>
			   			<td align="center">本期支出</td>
			   			<td align="center">期末余额</td>
			   		</tr>
			   		<tr th:each="indicComp,indicCompStat : ${finalCompList}" th:if="${#bools.isTrue(indicComp.indicator.fillDepartment) and #strings.contains(indicComp.indicator.fillDepartment.name,'财务部') and !#strings.contains(indicComp.indicator.indicName,'资产总额')}" height="36px;">
			   			<td align="left">
			   				<!-- 经营指标子项缩进 -->
			   				<span th:if="${#strings.contains(indicComp.indicator.indicNo,'.')}" th:with="arrList=${#strings.listSplit(indicComp.indicator.indicNo,'.')}">
			   					<span th:with="num_=${#lists.size(arrList)-2}">
				   					<span th:each="i : ${#numbers.sequence(0,num_)}">&nbsp;&nbsp;</span>
			   					</span>
			   				</span>
			   				<span th:text="${indicComp.indicator.indicNo} + ${' '} + ${indicComp.indicator.indicName}"></span>
			   			</td>
			   			<td align="center" th:text="${indicComp.indicator.unit}"></td>
			   			<!-- 期初余额 -->
			   			<td align="center" colspan="2" >
				   			<span th:id="${'span_initialBalance_'}+${indicComp.id}" th:text="${indicComp.initialBalance}"></span>
			   			</td>
			   			<!-- 本期收入 -->
			   			<td align="center">
			   				<span th:id="${'span_currentRevenue_'}+${indicComp.id}" th:text="${indicComp.currentRevenue}"></span>
			   			</td>
			   			<!-- 本期支付 -->
			   			<td align="center">
			   				<span th:id="${'span_currentPayment_'}+${indicComp.id}" th:text="${indicComp.currentPayment}"></span>
			   			</td>
			   			<!-- 期末余额 -->
			   			<td align="center">
			   				<span th:id="${'span_endBalance_'}+${indicComp.id}" th:text="${indicComp.endBalance}"></span>
			   			</td>
			   		</tr>
			   		
			   		<!-- 资产总额  -->
			   		<tr th:each="indicComp,indicCompStat : ${finalCompList}" th:if="${#strings.contains(indicComp.indicator.indicName,'资产总额')}" height="20px;">
			   			<td colspan="7"></td>
			   		</tr>
			   		<tr th:each="indicComp,indicCompStat : ${finalCompList}" th:if="${#strings.contains(indicComp.indicator.indicName,'资产总额')}">
			   			<td></td>
			   			<td align="center" >单位</td>
			   			<td colspan="2"  th:text="${year-1} + ${'年末'}" align="center" ></td>
			   			<td colspan="2" align="center" >本月止净增减（增+，减-）</td>
			   			<td align="center" >期末</td>
			   		</tr>
			   		<tr th:each="indicComp,indicCompStat : ${finalCompList}" th:if="${#strings.contains(indicComp.indicator.indicName,'资产总额')}">
			   			<td align="left">
			   				<!-- 经营指标子项缩进 -->
			   				<span th:if="${#strings.contains(indicComp.indicator.indicNo,'.')}" th:with="arrList=${#strings.listSplit(indicComp.indicator.indicNo,'.')}">
			   					<span th:with="num_=${#lists.size(arrList)-2}">
				   					<span th:each="i : ${#numbers.sequence(0,num_)}">&nbsp;&nbsp;</span>
			   					</span>
			   				</span>
			   				<span th:text="${indicComp.indicator.indicNo} + ${' '} + ${indicComp.indicator.indicName}"></span>
			   			</td>
			   			<td align="center" th:text="${indicComp.indicator.unit}"></td>
			   			<!-- 年末 -->
			   			<td align="center" colspan="2" >
				   			<span th:id="${'span_initialBalance_'}+${indicComp.id}" th:text="${indicComp.initialBalance}"></span>
			   			</td>
			   			<!-- 本月止净增减 -->
			   			<td align="center" colspan="2">
			   				<span th:id="${'span_currentRevenue_'}+${indicComp.id}" th:text="${indicComp.currentRevenue}"></span>
			   			</td>
			   			<!-- 期末 -->
			   			<td align="center">
			   				<span th:id="${'span_endBalance_'}+${indicComp.id}" th:text="${indicComp.endBalance}"></span>
			   			</td>
			   		</tr>
			   	</tbody>
			 </table>
			 </div>
			   
			 <div style="text-align: center;margin-bottom: 10px;">
				 <button type="button" onclick="fnSaveIndicCompletion(true)" class="btn btn-primary" style="margin-right: 25px;width: 80px;">保存</button>
				 <button type="button" onclick="fnCloseWin()" class="btn btn-primary" style="margin-right: 25px;width: 80px;">关闭</button> 
				 <button type="button" onclick="fnPrint(2)" class="btn btn-primary" style="margin-right: 25px;width: 80px;">打印</button>
				 <button type="button" onclick="fnExport(2)" class="btn btn-primary" style="width: 80px;">导出</button> 
			</div>
		</div>
		
		<div class="tab-pane fade" id="annexs">
			<div class="box box-default collapsed-box box-solid" style="margin: 5px 0px;border-color: #DEF2FF;">
                <div class="box-header with-border" style="padding: 8px;">
                    <span style="font-weight: bold;font-size: 14px;">附件列表</span>
                    <form id="formAnnex" class="form-horizontal">

                    </form>
                </div>
            </div>
			
			<table id="annexList" class="table table-bordered" style="width: 100%">
			   	<thead>
			   		<tr align="center">
			   			<th>序号</th>
			   			<th>附件名称</th>
			   			<th>创建人</th>
			   			<th>创建时间</th>
			   			<th>操作</th>
			   		</tr>
			   	</thead>
			   	<tbody id="annexList_body">
			   		<tr th:if="${#lists.isEmpty(annexs)}" height="32px;">
						<td colspan="5" align="center">无</td>
					</tr>
					<tr th:each="annex,annexStat : ${annexs}">
						<td align="center">
							<input hidden="hidden" name="fieldIds" th:value="${annex.id}"/>
							<span th:text="${annexStat.index+1}"></span>
						</td>
						<td align="center">
							<a href="javascript:" th:onclick="'window.top.openCommonViewImgWin(\''+${annex.id}+'\')'" th:text="${annex.name}+${'.'}+${annex.extendName}"></a>
						</td>
						<td th:text="${annex.creator}" align="center"></td>
						<td th:text="${annex.uploadTime}?${#dates.format(annex.uploadTime, 'yyyy-MM-dd')}:''" align="center"></td>
						<td align="center">
						</td>
					</tr>
			   	</tbody>
			 </table>
		</div>
	</div>

</div>

</body>
<!-- jQuery 2.2.3 -->
<script th:src="@{/static/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/common.js}"></script>
<script th:src="@{/static/plugins/bootstrap-validator/js/bootstrapValidator.min.js}"></script>
<script th:src="@{/static/plugins/bootstrap-table/dist/bootstrap-table.min.js}"></script>
<script th:src="@{/static/plugins/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/static/plugins/jQuery/jquery.serializejson.min.js}"></script>
<script th:src="@{/static/plugins/datepicker/bootstrap-datepicker.js}"></script>
<script th:src="@{/static/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<script th:src="@{/static/plugins/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/bootstrap-contextmenu/bootstrap-contextmenu.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/bootstrap-contextmenu/prettify.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/attention/zDialog/zDrag.js}"></script>
<!-- Slimscroll -->
<script type="text/javascript" th:src="@{/static/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<script type="text/javascript" th:src="@{/static/dist/js/app.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/
	var CTX = [[@{/}]];
	
	$(function () {
	    //初始化Button的点击事件
	    var oButtonInit = new ButtonInit();
	    oButtonInit.Init();
	    
	    $('.datepicker').datepicker({
	    	format:'yyyy-mm-dd',
	    	language:'zh-CN',
	      	autoclose: true
	    });
	    
	});
	
	
	//初始化按钮
	var ButtonInit = function () {
	    var oInit = new Object();
	    var postdata = {};

	    oInit.Init = function () {
	        //初始化页面上面的按钮事件
	    };

	    return oInit;
	};
	
	function formatDate(time){
	    var date = new Date(time);

	    var year = date.getFullYear(),
	        month = date.getMonth()+1,//月份是从0开始的
	        day = date.getDate(),
	        hour = date.getHours(),
	        min = date.getMinutes(),
	        sec = date.getSeconds();
	    var preArr = Array.apply(null,Array(10)).map(function(elem, index) {
	        return '0'+index;
	    });////开个长度为10的数组 格式为 00 01 02 03

	    var newTime = year + '-' +
	                (preArr[month]||month) + '-' +
	                (preArr[day]||day) + ' ' +
	                (preArr[hour]||hour) + ':' +
	                (preArr[min]||min) + ':' +
	                (preArr[sec]||sec);

	    return newTime;         
	}
	
	//设值
	function fnSetValue(obj){
		var objId = obj.id;
		var value = obj.value;
		var index = objId.substring(objId.indexOf('_')+1);
		var idStr = objId.substring(0,objId.indexOf('_'));
		var pattern = /^(-?\d+)(\.\d+)?$/;
		var toSet = true;
		var hasSymbol = false;
		if(value.indexOf('+') == 0){
			value = value.substring(1);
			hasSymbol = true;
		}
		if(value.indexOf('%') > -1){
			var subValue = value.substring(0,value.indexOf('%'));
			if(!pattern.test(subValue)){
				toSet = false;
			}
		}else if(value != '-' && value != '' && !pattern.test(value)){
			toSet = false;
		}
		if(!toSet){
			alert("输入的字符不符合规范！");
			$('#'+objId).val('');
			return;
		}
		if(hasSymbol){
			value = "+" + value;
		}
		$('#myform_comp_'+ index).find("input[name='"+idStr+"']").val(value);
		$("#span_" + obj.id).html(value);
	}
	
	//保存经营指标完成情况
	function fnSaveIndicCompletion(showMsg){
		loading('正在保存,请稍后...');
		var saveNext = true;
		var compForms = document.getElementsByClassName("compForm");
		var params = "";
		for(var j = 0,len = compForms.length; j < len; j++){
			var compForm = compForms[j];
		    if(saveNext){
		    	$.ajax({
					url: CTX+'indicator-completion/save-indicator-completion',
					type: 'post',
					dataType: 'json',
					data: $(compForm).serialize(),
					timeout: 20000,
					async: false,
					success: function(json){
						if(json.success){
						}
					},
					error: function(){
						saveNext = false;
						console.log('保存'+comp+'时出错!');
						alert('请求超时或系统出错!');
						loaded();
					}
				});
		    }else{
		    	return;
		    }
		}
		setTimeout(function(){
    		if(saveNext && showMsg){
    			alert('保存成功!');
    		}
	    	loaded();
    	},500);
	}
	
	//执行保存
	function saveOneCompletion(comp){
		$.ajax({
			url: CTX+'indicator-completion/save-indicator-completion',
			type: 'post',
			dataType: 'json',
			data: comp,
			timeout: 20000,
			async: false,
			success: function(json){
				if(json.success){
				}
			},
			error: function(){
				saveNext = false;
				console.log('保存'+comp+'时出错!');
				alert('请求超时或系统出错!');
				loaded();
			}
		});
	}
	
	//关闭
	function fnCloseWin(){
		window.parent.closeCommonFrameWin(true);
	}
	
	//打印
	function fnPrint(version){
		var p_html;
		if(version == 0){
			p_html = $("#originalInfo_print").html();
		}else if(version == 1){
			p_html = $("#editInfo_print").html();
		}else if(version == 2){
			p_html = $("#finalInfo_print_2").html();
		}
		var newWin = window.open('', '_blank', ''); //在当前页打开新的窗口
		var tbStyle = 'table,table tr th, table tr td { border:1px solid #000; }table {border-collapse: collapse; padding:2px;}'
		var inputStyle = "input{border: none;text-align: center;background-color: #fff; width: 100px;}";
		newWin.document.write("<head><style>#print-content{font-size:14px}"+tbStyle+inputStyle+"</style></head>"); //向新窗口添加css样式
		newWin.document.write(p_html);
		newWin.print();
		var userAgent = navigator.userAgent;
		if (userAgent.indexOf("Chrome") != -1) {
			newWin.close();
		} else {
			if (tata = newWin.document.execCommand("print")) {
				newWin.close();
			}
		}
		//newWin.location.reload(); //重新加载使窗口恢复到打印前状态l
	}
	
	//导出
	function fnExport(version){
		if(version == 2){
			fnSaveIndicCompletion(false);
		}
		console.log('导出表格');
		location.replace(CTX+"business-report/export-excel?id=" + $('#myform_report').find("input[name='id']").val() + "&version=" + version+"&sumDisplay="+ $("#sumDisplay").val());
	}
		
	/*]]>*/
</script>	
</html>
