<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--
* @Copyright(c): 厦门路桥信息股份有限公司  版权所有
* @author :XMRBI
* @Description:经营快报
* @createDate:2018-7-5
-->
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
	<title>经营快报</title>
	<link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/dist/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/dist/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/static/plugins/select2/select2.css}"/>
    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap-treeview/bootstrap-treeview.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap-toggle/bootstrap-toggle.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap-validator/css/bootstrapValidator.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/dist/css/AdminLTE.css}"/>
    <link rel="stylesheet" th:href="@{/static/dist/css/skins/_all-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/dist/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/dist/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/plugins/jvectormap/jquery-jvectormap-1.2.2.css}"/>
    <!-- Theme style -->
	<link rel="stylesheet" th:href="@{/static/dist/css/AdminLTE.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/dist/css/skins/_all-skins.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/css/common.css}"/>
	<!-- Bootstrap 3.3.7 -->
	<link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/plugins/bootstrap-table/dist/bootstrap-table.min.css}"/>
	<style type="text/css">
	.panel {
	  margin-bottom: 0px;
	}
	.form-group {
	  margin-bottom: 2px;
	}
	
	</style>
	<style type="text/css">
        html, body {
            overflow-x: hidden;
        }

        body {
            padding-top: 5px;
        }

        .col-sm-10 span {
            word-break: break-all;
            word-wrap: break-word;
            white-space: normal;
            display: block;
            float: left;
            height: 34px;
            padding: 6px 12px 6px 0px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #777;
        }
        
		.table th{text-align: center;vertical-align: middle !important;}
          
    </style>
</head>
<body>
<div class="container-fluid" style="width:100%; height: 100%" >
    <h3 align="center" th:text="${bsReport.reportTitle}" style="margin: 10px 0px;"></h3>
    <form id="myform" class="form-horizontal">
    	<input hidden="hidden" name="id" />
	    <!-- <input hidden="hidden" name="parentId" th:value="${bsReport.parentId}"/> -->
	    <input hidden="hidden" name="reportTitle" th:value="${bsReport.reportTitle}"/>
	    <input hidden="hidden" name="reportMonth" th:value="${bsReport.reportMonth}"/>
	    <!-- <input hidden="hidden" name="requiredTime" class="datepicker" th:value="${bsReport.requiredTime}?${#dates.format(bsReport.requiredTime, 'yyyy-MM-dd')}:''"/> -->
	    <input hidden="hidden" name="indicatorIds" th:value="${bsReport.indicatorIds}"/>
	    <input hidden="hidden" name="status" th:value="${bsReport.status}"/>
	</form>
    
    <table class="table table-bordered" style="width: 100%" >
	   	<thead th:if="${!#lists.isEmpty(noFinanceIndics)}">
	   		<tr align="center">
	   			<th>经营指标</th>
	   			<th>单位</th>
	   			<th th:text="${year-1} + ${'年同期累计'}"></th>
	   			<th th:text="${year} + ${'年计划'}"></th>
	   			<th>本月发生</th>
	   			<th>本月止年累</th>
	   			<th>计划完成率</th>
	   		</tr>
	   	</thead>
	   	<tbody>
	   		<!-- <tr th:each="indicator : ${indicators}"> -->
	   		<tr th:each="indicator : ${noFinanceIndics}"><!-- 非财务指标 -->
	   			<td align="left">
	   				<!-- 经营指标子项缩进 -->
			   		<span th:if="${#strings.contains(indicator.indicNo,'.')}" th:with="arrList=${#strings.listSplit(indicator.indicNo,'.')}">
			   			<span th:with="num_=${#lists.size(arrList)-2}">
				   			<span th:each="i : ${#numbers.sequence(0,num_)}">&nbsp;&nbsp;</span>
			   			</span>
			   		</span>
	   				<span th:text="${indicator.indicNo} + ${' '} + ${indicator.indicName}"></span>
	   			</td>
	   			<td align="center" th:text="${indicator.unit}"></td>
	   			<td></td>
	   			<td></td>
	   			<td></td>
	   			<td></td>
	   			<td></td>
	   		</tr>
	   		
	   		<tr th:if="${!#lists.isEmpty(financeIndics) and !#lists.isEmpty(noFinanceIndics)}">
	   			<td colspan="7"></td>
	   		</tr>
	   		<tr th:if="${!#lists.isEmpty(financeIndics)}">
	   			<td></td>
	   			<td align="center">单位</td>
	   			<td colspan="2" align="center">期初余额</td>
	   			<td align="center">本期收入</td>
	   			<td align="center">本期支出</td>
	   			<td align="center">期末余额</td>
	   		</tr>
	   		<tr th:each="indicator : ${financeIndics}">
	   			<td align="left">
	   				<!-- 经营指标子项缩进 -->
			   		<span th:if="${#strings.contains(indicator.indicNo,'.')}" th:with="arrList=${#strings.listSplit(indicator.indicNo,'.')}">
			   			<span th:with="num_=${#lists.size(arrList)-2}">
				   			<span th:each="i : ${#numbers.sequence(0,num_)}">&nbsp;&nbsp;</span>
			   			</span>
			   		</span>
	   				<span th:text="${indicator.indicNo} + ${' '} + ${indicator.indicName}"></span>
	   			</td>
	   			<td align="center" th:text="${indicator.unit}"></td>
	   			<td colspan="2"></td>
	   			<td></td>
	   			<td></td>
	   			<td></td>
	   		</tr>
	   		<tr th:if="${#bools.isTrue(generalAssert) and !#lists.isEmpty(financeIndics)}">
	   			<td colspan="7"></td>
	   		</tr>
	   		<tr th:if="${#bools.isTrue(generalAssert)}">
	   			<td></td>
	   			<td align="center" >单位</td>
	   			<td colspan="2" th:text="${year-1} + ${'年末'}" align="center" ></td>
	   			<td colspan="2" align="center" >本月止净增减（增+，减-）</td>
	   			<td align="center" >期末</td>
	   		</tr>
	   		<tr th:if="${#bools.isTrue(generalAssert)}">
	   			<td>
	   				<!-- 经营指标子项缩进 -->
			   		<span th:if="${#strings.contains(generalAssert.indicNo,'.')}" th:with="arrList=${#strings.listSplit(generalAssert.indicNo,'.')}">
			   			<span th:with="num_=${#lists.size(arrList)-2}">
				   			<span th:each="i : ${#numbers.sequence(0,num_)}">&nbsp;&nbsp;</span>
			   			</span>
			   		</span>
	   				<span th:text="${generalAssert.indicNo} + ${' '} + ${generalAssert.indicName}"></span>
	   			</td>
	   			<td align="center" th:text="${generalAssert.unit}"></td>
	   			<td colspan="2"></td>
	   			<td colspan="2"></td>
	   			<td></td>
	   		</tr>
	   	</tbody>
	 </table>
	   
	 <div style="text-align: center;margin-bottom: 10px;">
		 <button type="button" onclick="fnReportIssued();" class="btn btn-primary" style="margin-right: 25px;width: 80px;">下发</button>
		 <button type="button" onclick="fnCloseWin();" class="btn btn-default" style="width: 80px;">取消</button> 
	</div>
</div>

</body>
<!-- jQuery 2.2.3 -->
<script th:src="@{/static/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/common.js}"></script>
<script th:src="@{/static/plugins/bootstrap-validator/js/bootstrapValidator.min.js}"></script>
<script th:src="@{/static/plugins/bootstrap-table/dist/bootstrap-table.min.js}"></script>
<script th:src="@{/static/plugins/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/static/plugins/jQuery/jquery.serializejson.min.js}"></script>
<script th:src="@{/static/plugins/datepicker/bootstrap-datepicker.js}"></script>
<script th:src="@{/static/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<script th:src="@{/static/plugins/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/bootstrap-contextmenu/bootstrap-contextmenu.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/bootstrap-contextmenu/prettify.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/attention/zDialog/zDrag.js}"></script>
<!-- Slimscroll -->
<script type="text/javascript" th:src="@{/static/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<script type="text/javascript" th:src="@{/static/dist/js/app.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/
	var CTX = [[@{/}]];
	
	$(function () {
	    //初始化Button的点击事件
	    var oButtonInit = new ButtonInit();
	    oButtonInit.Init();
	    
	    $('.datepicker').datepicker({
	    	format:'yyyy-mm-dd',
	    	language:'zh-CN',
	      	autoclose: true
	    });
		
	});
	
	//初始化按钮
	var ButtonInit = function () {
	    var oInit = new Object();
	    var postdata = {};

	    oInit.Init = function () {
	        //初始化页面上面的按钮事件
	    };

	    return oInit;
	};
	
    //下发
    function fnReportIssued(){
		loading('正在保存,请稍后...');
		$.ajax({  
			url: CTX+'business-report/save-issued-report',
	        type: 'POST',  
	        data:$('#myform').serialize(),// 序列化表单值  
	        dataType: 'json',//服务端接收的数据类型
	        success:function(json) {  
	         	loaded();
				alert(json.msg);
				if(json.success){
					window.parent.closeCommonFrameWin(json.success);
				}
	        },  
	        error:function(json) {  
	           	alert('请求超时或系统出错!');
				loaded();
	        }  
	   });  
    }
    
  	//取消
    function fnCloseWin(){
    	window.parent.closeCommonFrameWin();
    }
		
	/*]]>*/
</script>	
</html>
