<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--
* @Copyright(c): 厦门路桥信息股份有限公司  版权所有
* @author :XMRBI
* @Description:经营指标维护
* @createDate:2018-7-5
-->
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
	<title>经营指标维护</title>
	<link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/dist/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/dist/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/static/plugins/select2/select2.css}"/>
    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap-treeview/bootstrap-treeview.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap-toggle/bootstrap-toggle.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap-validator/css/bootstrapValidator.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/dist/css/AdminLTE.css}"/>
    <link rel="stylesheet" th:href="@{/static/dist/css/skins/_all-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/dist/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/dist/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/plugins/jvectormap/jquery-jvectormap-1.2.2.css}"/>
    <!-- Theme style -->
	<link rel="stylesheet" th:href="@{/static/dist/css/AdminLTE.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/dist/css/skins/_all-skins.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/css/common.css}"/>
	<!-- Bootstrap 3.3.7 -->
	<link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/plugins/bootstrap-table/dist/bootstrap-table.min.css}"/>
	<style type="text/css">
	.panel {
	  margin-bottom: 0px;
	}
	.form-group {
	  margin-bottom: 2px;
	}
	
	</style>
	<style type="text/css">
        html, body {
            overflow-x: hidden;
        }

        body {
            padding-top: 5px;
        }

        .col-sm-10 span {
            word-break: break-all;
            word-wrap: break-word;
            white-space: normal;
            display: block;
            float: left;
            height: 34px;
            padding: 6px 12px 6px 0px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #777;
        }
        
        #MenuTree ul li:first-child{
            background-color:#d2d6de;
          	font-size:16px;
        }
        
        .btn{
        	font-size: 16px;
        	padding: 3px 12px;
        }
        
        .btn-link:HOVER {
			text-decoration: none;
		}
		
		.modal-header{
			background-color:#F4F6F8;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		
		.container-fluid{
			padding-right: 10px;
			padding-left: 10px;
		}
		
		.list-group-item{
			padding: 8px 5px;
		}
          
    </style>
</head>
<body>
	<div class="container-fluid" style="width:100%; height: 100%" >
	    <!-- 左侧单位列表-->
	    <div class="col-sm-3">
	        <!-- 项目列表树-->
	         <div class="row" id="menuTreePanel" style="overflow: auto;">
	             <div id="MenuTree" data-toggle="context" data-target="#context-menu"></div>
	         </div>
	    </div>
	    
	     <!-- 右侧信息-->
	  	<div class="col-sm-9">
	  	 	<div id="toolbar" class="btn-group" style="margin-bottom: 5px;">
	             <button id="btn_add" type="button" class="btn btn-link" onclick="fnAddIndicator()">
	                	新建
	            </button>
	            <button id="btn_addchild" type="button" class="btn btn-link" onclick="fnAddChildIndicator()">
	                	新建子项
	            </button>
	            <button id="btn_edit" type="button" class="btn btn-link" onclick="fnEditIndicator()">
	                	编辑
	            </button>
	            <button id="btn_invalid" type="button" class="btn btn-link" onclick="setValid(0)">
	                	禁用
	            </button>
	            <button id="btn_isvalid" type="button" class="btn btn-link" onclick="setValid(1)">
	                	启用
	            </button>
	        </div>
	        <table id="dataList"></table>
	    </div>
	    
	    <!-- 右键菜单 -->
	    <div id="context-menu">
	        <ul class="dropdown-menu" role="menu">
	            <li><a tabindex="-1" id="addIndicator"><em id="" class="glyphicon glyphicon-plus"></em>新建经营指标</a>
	            </li>
	            <li><a tabindex="-1" id="editIndicator"><em id="" class="glyphicon glyphicon-pencil"></em>编辑指标</a>
	            </li>
	            <li><a tabindex="-1" id="addChildIndicator"><em id="" class="glyphicon glyphicon-plus"></em>新建子项</a>
	            </li>
	        </ul>
	    </div>
	</div>

	<div class="modal fade" id="indicatorModal" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
		<div class="modal-dialog" role="document" >
			<div class="modal-content">
				<div class="modal-header">
				 	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 id="modal_title" class="modal-title" style="text-align: center;color: blue;">新增经营指标</h4>
				</div>
				<input id="parentId" type="hidden"/>
				<div class="modal-body" style="overflow: hidden; padding: 10px;">
				<form id="myform_indicator" class="form-horizontal">
                    <input name="id" type="hidden"/>
                    <input name="parentId" type="hidden"/>
                    
                    <div class="col-md-12" id="parent_div" >
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label">&nbsp;父级指标:</label>
		                  	<div class="col-sm-9">
	                    	 <input type="text" class="form-control" disabled="disabled" id="parentName" value="" />
		                  	</div>
		                </div>
            		</div>
                    
					<div class="col-md-12">
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;指标名称:</label>
		                  	<div class="col-sm-9">
	                    	 <input type="text" class="form-control" name="indicName" value="" />
		                  	</div>
		                </div>
            		</div>
					<div class="col-md-12">
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;指标编码:</label>
		                  	<div class="col-sm-9">
	                    	 <input type="text" class="form-control" name="indicNo" value="" />
		                  	</div>
		                </div>
            		</div>
					<div class="col-md-12">
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label">&nbsp;计量单位:</label>
		                  	<div class="col-sm-9">
	                    	 <select class="form-control" name="unit" id="unit">
	                    	 	<option value=""></option>
	                    	 	<option th:each="unit : ${unitList}" th:value="${unit.name}" th:text="${unit.name}"></option>
	                    	 	<!-- <option value="亿元">亿元</option>
	                    	 	<option value="万元">万元</option>
	                    	 	<option value="元">元</option>
	                    	 	<option value="亩">亩</option>
	                    	 	<option value="万平方米">万平方米</option>
	                    	 	<option value="万人次">万人次</option>
	                    	 	<option value="%">%</option>
	                    	 	<option value="元/车公里">元/车公里</option>
	                    	 	<option value="万吨">万吨</option>
	                    	 	<option value="个">个</option> -->
	                    	 </select>
		                  	</div>
		                </div>
            		</div>
					<div class="col-md-12">
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label">&nbsp;填报部门:</label>
		                  	<div class="col-sm-9">
	                    	 <select class="form-control" name="fillDepartment.id" id="fillDepartment.id">
	                    	 	<option value=""></option>
	                    	 	<option th:each="useunit : ${useunits}" th:value="${useunit.id}" th:text="${useunit.name}"></option>
	                    	 </select>
		                  	</div>
		                </div>
            		</div>
					<div class="col-md-12">
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;类型:</label>
		                  	<div class="col-sm-9">
	                    	 <select class="form-control" name="type" id="type">
	                    	 	<option value=""></option>
	                    	 	<option value="投资类">投资类</option>
	                    	 	<option value="收入类">收入类</option>
	                    	 </select>
		                  	</div>
		                </div>
            		</div>
					<div class="col-md-12">
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label">&nbsp;自动汇总:</label>
		                  	<div class="col-sm-9">
	                    	<div id="indic_autoCollect" class="btn-group">
								<button value="0" style="font-size: 14px;padding: 5px 12px;" class="btn btn-default btn-primary" type="button" id="noAutoCollect">&emsp;&emsp;否&emsp;&emsp;</button> 
								<button value="1" style="font-size: 14px;padding: 5px 12px;" class="btn btn-default" type="button" id="autoCollect">&emsp;&emsp;是&emsp;&emsp;</button> 
							</div>
							<input type="hidden" name="isAutoCollect" value="0" id="isAutoCollect"/>
		                  	</div>
		                </div>
            		</div>
					<div class="col-md-12">
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;是否启用:</label>
		                  	<div class="col-sm-9">
	                    	<div id="indic_valid" class="btn-group">
								<button value="0" style="font-size: 14px;padding: 5px 12px;" class="btn btn-default" type="button" id="invalid">&emsp;&emsp;否&emsp;&emsp;</button> 
								<button value="1" style="font-size: 14px;padding: 5px 12px;" class="btn btn-default btn-primary" type="button" id="isvalid">&emsp;&emsp;是&emsp;&emsp;</button> 
							</div>
							<input type="hidden" name="isValided" value="1" id="isValided"/>
		                  	</div>
		                </div>
            		</div>
            		
					<div class="col-md-12">
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;显示于汇总表:</label>
		                  	<div class="col-sm-9">
	                    	<div id="indic_sumDisplay" class="btn-group">
								<button value="0" style="font-size: 14px;padding: 5px 12px;" class="btn btn-default" type="button" id="unSumDisplay">&emsp;&emsp;否&emsp;&emsp;</button> 
								<button value="1" style="font-size: 14px;padding: 5px 12px;" class="btn btn-default btn-primary" type="button" id="isSumDisplay">&emsp;&emsp;是&emsp;&emsp;</button> 
							</div>
							<input type="hidden" name="sumDisplay" value="1" id="sumDisplay"/>
		                  	</div>
		                </div>
            		</div>
					  
				</form>
				</div>
				<div class="modal-footer" style="text-align: center;">
					 <button id="btnSubmit" type="button" onclick="doSaveIndicator()" class="btn btn-primary" style="width:80px;">保存</button>
					 <button type="button" class="btn btn-default" data-dismiss="modal" style="width:80px;">取消</button> 
				</div>
			</div>
		</div>
	</div>
</body>
<!-- jQuery 2.2.3 -->
<script th:src="@{/static/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/common.js}"></script>
<script th:src="@{/static/plugins/bootstrap-validator/js/bootstrapValidator.min.js}"></script>
<script th:src="@{/static/plugins/bootstrap-table/dist/bootstrap-table.min.js}"></script>
<script th:src="@{/static/plugins/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/static/plugins/jQuery/jquery.serializejson.min.js}"></script>
<script th:src="@{/static/plugins/datepicker/bootstrap-datepicker.js}"></script>
<script th:src="@{/static/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<script th:src="@{/static/plugins/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/bootstrap-contextmenu/bootstrap-contextmenu.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/bootstrap-contextmenu/prettify.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/attention/zDialog/zDrag.js}"></script>
<!-- Slimscroll -->
<script type="text/javascript" th:src="@{/static/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<script type="text/javascript" th:src="@{/static/dist/js/app.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/
	var CTX = [[@{/}]];
	
	$(function () {
	    //1.初始化Table
	    var oTable = new TableInit();
	    oTable.Init();
	    //2.初始化Button的点击事件
	    var oButtonInit = new ButtonInit();
	    oButtonInit.Init();
	    
	    //自动汇总
	    $('#indic_autoCollect button').on('click',function(){
			$('#indic_autoCollect button').removeClass('btn-primary');
			$(this).addClass('btn-primary');
			var enable = $(this).attr('value');
			$("input[name='isAutoCollect']").val(enable);
		});

	    //是否启用
	    $('#indic_valid button').on('click',function(){
			$('#indic_valid button').removeClass('btn-primary');
			$(this).addClass('btn-primary');
			var enable = $(this).attr('value');
			$("input[name='isValided']").val(enable);
		});
	    
	    //在汇总表显示
	    $('#indic_sumDisplay button').on('click',function(){
			$('#indic_sumDisplay button').removeClass('btn-primary');
			$(this).addClass('btn-primary');
			var enable = $(this).attr('value');
			$("input[name='sumDisplay']").val(enable);
		});
		
		//模态窗口关闭事件
		$('#indicatorModal').on('hidden.bs.modal', function (e) {
			$("input[name='id']").val('');
			$("input[name='parentId']").val('');
			$("input[name='indicName']").val('');
			$("input[name='indicNo']").val('');
			$("#unit").val('');
			$("select[name='fillDepartment.id']").val('');
			$("#type").val('');
			
			$("#isAutoCollect").val('0');
			$('#indic_autoCollect button').removeClass('btn-primary');
			$('#noAutoCollect').addClass('btn-primary');

			$("#isValided").val('1');
			$('#indic_valid button').removeClass('btn-primary');
			$('#isvalid').addClass('btn-primary');
			
			$("#sumDisplay").val('1');
			$('#indic_sumDisplay button').removeClass('btn-primary');
			$('#isSumDisplay').addClass('btn-primary');
			
			$("#parentName").val('');
			
			$('#myform_indicator').bootstrapValidator('resetForm');//重置表单校验:
		});
	    
		
	    $('#myform_indicator').bootstrapValidator({
			message: '此处输入有误',
	        excluded: [':disabled'],
	        feedbackIcons: {
	            valid: 'glyphicon glyphicon-ok',
	            invalid: 'glyphicon glyphicon-remove',
	            validating: 'glyphicon glyphicon-refresh'
	        },
	        fields:{
	        	'indicName':{
	        		message: '指标名称输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '指标名称不可为空'
	                    }
	                }
	        	},
	        	'indicNo':{
	        		message: '指标编码输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '指标编码不可为空'
	                    }
	                }
	        	},
	        	'type':{
	        		message: '指标类型输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '指标类型不可为空'
	                    }
	                }
	        	},
	        	'isValided':{
	        		message: '是否启用输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '是否启用不可为空'
	                    }
	                }
	        	}
	        }
		});
	    
	    $('#menuTreePanel').height($(window).height()-20);
	     //初始化项目列表树
	     initMenuTree();
	    
	});
	
	//初始化列表
	var TableInit = function () {
	    var oTableInit = new Object();
	    //初始化Table
	    oTableInit.Init = function () {
	        $('#dataList').bootstrapTable({
	        	url: CTX + 'business-indicator/query-business-indicator-page', //请求后台的URL（*）
	            method: 'get',                      //请求方式（*）
	            striped: true,                      //是否显示行间隔色
	            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
	            pagination: true,                   //是否显示分页（*）
	            sortable: false,                     //是否启用排序
	            sortOrder: "asc",                   //排序方式
	            queryParams: oTableInit.queryParams,//传递参数（*）
	            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
	            pageNumber:1,                       //初始化加载第一页，默认第一页
	            pageSize: 10,                       //每页的记录行数（*）
	            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
	            queryParamsType: "a",
	            strictSearch: true,
	            //showColumns: true,                  //是否显示所有的列
	            minimumCountColumns: 2,             //最少允许的列数
	            clickToSelect: true,                //是否启用点击选中行
	            height:$(window).height()-40,	    //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
	            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
	            //singleSelect: true,
	            undefinedText: "",
	            columns: [
				{
	            	checkbox:true
		        },{
				    field: 'number',
				    title:'序号',
				    align : 'center',
				    sortable:true,
				    formatter:function(value,row,index){
				    	var pageSize=$('#dataList').bootstrapTable('getOptions').pageSize;
		                var pageNumber=$('#dataList').bootstrapTable('getOptions').pageNumber;
		                return pageSize * (pageNumber - 1) + index + 1;
				    }
				},{
				    field: 'indicNo',
				    title:'指标编码',
				    align : 'center',
				    sortable:true
				},{
				    field: 'indicName',
				    title:'指标名称',
				    align : 'center',
				    sortable:true
				},{
				    field: 'unit',
				    title:'计量单位',
				    align : 'center',
				    sortable:true
				},{
				    field: 'fillDepartment',
				    title:'填报部门',
				    align : 'center',
				    sortable:true
				},{
				    field: 'isValided',
				    title:'状态',
				    align : 'center',
				    sortable:true,
				    formatter:function(value){
				    	if(value == 1){
				    	    return '启用';
				    	}else{
				    		return '禁用';
				    	}
				    }
				},]
	        });
	    };

	    //得到查询的参数
	    oTableInit.queryParams = function (params) {
	        var temp = {   //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
	        	parentId: $("#parentId").val(),
	        	pageNum: params.pageNumber,//页码params.offset
                size: params.pageSize//页面大小params.limit
	        };
	        return temp;
	    };
	    return oTableInit;
	};
	
	//初始化按钮
	var ButtonInit = function () {
	    var oInit = new Object();
	    var postdata = {};

	    oInit.Init = function () {
	        //初始化页面上面的按钮事件
	    };

	    return oInit;
	};
	
	//查询-刷新
	function queryInfo(pageNo){
		if(pageNo == null){
			pageNo = $('#dataList').bootstrapTable('getOptions').pageNumber;
		}
		$('#dataList').bootstrapTable('refreshOptions',{pageNumber:pageNo,pageSize:10});
	}
	
	 //初始化项目列表树
	    function initMenuTree() {
	    	var r = Math.random().toString().substring(5);
	        $.ajax({
	            url: CTX + 'business-indicator/query-indicator-tree?Mathnum=' + r,
	            method: 'GET',
	            dataType: 'json',
	            data: {selectable:true},
	            success: function (json) {
	            	var treedata = [{
						id:0,
				    	text: "项目目录",
				    	treeCode:'0',
				    	enable: true,
				    	icon:"",
				    	selectable:true,
				    	nodeType:"typeProject",
				    	nodes:json
				  	}];
	                $('#MenuTree').treeview({
	                    showTags: true,
	                    data:treedata,
	                    //showCheckbox: true,
	                    onNodeSelected: function(event, node) {
	                        $("#parentId").val(node.id);
	                        console.log(node.id);
	                        queryInfo(1);
	                    }
	                });
	                $('#MenuTree').treeview('expandAll');
	                initMenuTreeContextmenu();
	                loaded();
	            },
	            error: function () {
	                loaded();
	                alert('请求超时或系统出错');
	            }
	        });
	    }
	 
	    //初始化树右键菜单
	    function initMenuTreeContextmenu() {
	        $('#MenuTree').contextmenu({
	            target: '#context-menu',
	            before: function (e, context) {
	                var nodeId = e.target.getAttribute("data-nodeid");
	                var node = $('#MenuTree').treeview('getNode', nodeId);
	                currentNode = node;
	                $('#addIndicator, #addChildIndicator,#editIndicator').hide();
	                //根据类型显示菜单
	                if (currentNode.nodeType == 'typeProject') {
	                	 $('#addIndicator').show();
	                	 //$('#addChildIndicator').hide();
	                }else {
	                	 $('#addChildIndicator').show();
	                	 $('#editIndicator').show();
	                	 //$('#addIndicator').hide();
	                }
	            },
	            onItem: function (context, e) {
	                var operId = e.target.getAttribute('id');
	                if(operId == 'addChildIndicator'){
	                	fnAddChildIndicator(currentNode.id);
	                }
	                if (operId == 'addIndicator') {
	                	fnAddIndicator();
	                }
	                if (operId == 'editIndicator') {
	                	fnEditIndicator(currentNode.id);
	                }
	            }
	        });
	    }
	    
    	//新建指标
        function fnAddIndicator() {
        	$('#indicatorModal').find('.modal-title').html('新增经营指标');
    		$('#indicatorModal').modal('toggle');
    	}
    	
    	//新增子项
    	function fnAddChildIndicator(parentId) {
    		if(parentId == null){
    			var seldatas = $('#dataList').bootstrapTable('getSelections');
        		if(seldatas.length==0){
        			alert('请选择指标项！');
        			return;
        		}
        		if(seldatas.length>1){
        			alert('只会新增所选的第一项的子项！');
        		}
        		var selData = seldatas[0];
        		parentId = selData.id;
    		}
    		//取得父级指标名称
    		var r = Math.random().toString().substring(5);
    		$.ajax({
                url: CTX + 'business-indicator/get-business-indicator?Mathnum=' + r,
                method: 'get',
                dataType: 'json',
                data: {id:parentId},
                success: function (json) {
                    $("#parentName").val(json.indicNo + " " + json.indicName);
                },
                error: function () {
                    alert('请求超时或系统出错!');
                }
            });
    		
    		$("input[name='parentId']").val(parentId);
    		$('#indicatorModal').find('.modal-title').html('新建子经营指标');
    		$('#indicatorModal').modal('toggle');
    	}
    	
    	//编辑指标
    	function fnEditIndicator(indicId){
    		if(indicId==null){
    			var seldatas = $('#dataList').bootstrapTable('getSelections');
        		if(seldatas.length==0){
        			alert('请选择指标项！');
        			return;
        		}
        		if(seldatas.length>1){
        			alert('只会编辑所选的第一项！');
        		}
        		var selData = seldatas[0];
        		var indicId = selData.id;
    		}
    		var r = Math.random().toString().substring(5);
    		$.ajax({
                url: CTX + 'business-indicator/get-business-indicator?Mathnum=' + r,
                method: 'get',
                dataType: 'json',
                data: {id:indicId},
                success: function (json) {
                    $('#myform_indicator').find('input[name="id"]').val(json.id);
                    $('#myform_indicator').find('input[name="parentId"]').val(json.parentId);
                    $('#myform_indicator').find('input[name="indicName"]').val(json.indicName);
                    $('#myform_indicator').find('input[name="indicNo"]').val(json.indicNo);
                    
                    $("#parentName").val(json.parentName);
                    
                    $("select[name='unit']").val(json.unit);
                    $("select[name='fillDepartment.id']").val(json.fillDepartmentId);
                    $("select[name='type']").val(json.type);
                    
                    $("input[name='isAutoCollect']").val(json.isAutoCollect);
                    $("input[name='isValided']").val(json.isValided);
                    $("input[name='sumDisplay']").val(json.sumDisplay);
                    
                    $('#indic_autoCollect button').removeClass('btn-primary');
                    $('#indic_valid button').removeClass('btn-primary');
                    $('#indic_sumDisplay button').removeClass('btn-primary');
                    
                    if(json.isAutoCollect == 1){
                    	$('#autoCollect').addClass('btn-primary');
                    }else{
                    	$('#noAutoCollect').addClass('btn-primary');
                    }
                    if(json.isValided == 1){
                    	$('#isvalid').addClass('btn-primary');
                    }else{
                    	$('#invalid').addClass('btn-primary');
                    }
                    if(json.sumDisplay == 1){
                    	$('#isSumDisplay').addClass('btn-primary');
                    }else{
                    	$('#unSumDisplay').addClass('btn-primary');
                    }
                    
                    
                    $('#indicatorModal').find('.modal-title').html('编辑经营指标');
            		$('#indicatorModal').modal('toggle');
                },
                error: function () {
                    alert('请求超时或系统出错!');
                }
            });
    		
    	}
    	
    	//禁用指标
    	function setValid(flag){
    		var seldatas = $('#dataList').bootstrapTable('getSelections');
    		if(seldatas.length==0){
    			alert('请选择指标项！');
    			return;
    		}
    		var ids = "";
    		for(var i = 0; i < seldatas.length ; i++){
    			ids += seldatas[i].id + ",";
    		}
    		$.ajax({
                url: CTX + 'business-indicator/set-indicator-valid',
                method: 'post',
                dataType: 'json',
                data: {ids:ids,isValided:flag},
                success: function (json) {
                    alert(json.msg);
                    if (json.success) {
                        //刷新列表
                        //$('#dataList').bootstrapTable('refresh');
                    	queryInfo();
                    	initMenuTree();//初始化项目列表树
                    }
                },
                error: function () {
                    alert('请求超时或系统出错!');
                }
            });
    	}
    	
    	//保存
    	function doSaveIndicator(){
    		var result = $('#myform_indicator').data('bootstrapValidator');
			result.validate();
			if(result.isValid()){
				loading('正在保存,请稍候...');
				$.ajax({  
					url: CTX+'business-indicator/save-business-indicator',
		            type: 'POST',  
		            data:$('#myform_indicator').serialize(),// 序列化表单值  
		            dataType: 'json',//服务端接收的数据类型
		            success:function(json) {  
		            	loaded();
						if(json.success){
							alert(json.msg);
							$("#indicatorModal").modal('hide');
					        initMenuTree();//初始化项目列表树
					        queryInfo();
						}else{
							alert(json.msg);
						}
		            },  
		            error:function(json) {  
		            	alert('请求超时或系统出错!');
						loaded();
		            }  
		        });  
			}
    	}
		
	/*]]>*/
</script>	
</html>
