<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--
* @Copyright(c): 厦门路桥信息股份有限公司  版权所有
* @author :XMRBI
* @Description:合同查看
* @createDate:2018-9-11
-->
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<title>合同复核界面</title>
<link rel="stylesheet"
	th:href="@{/static/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/static/dist/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/static/dist/css/ionicons.min.css}" />
<link rel="stylesheet" th:href="@{/static/css/common.css}" />
<link rel="stylesheet" th:href="@{/static/plugins/select2/select2.css}" />
<link rel="stylesheet"
	th:href="@{/static/plugins/bootstrap-treeview/bootstrap-treeview.min.css}" />
<link rel="stylesheet"
	th:href="@{/static/plugins/bootstrap-toggle/bootstrap-toggle.min.css}" />
<link rel="stylesheet"
	th:href="@{/static/plugins/bootstrap-validator/css/bootstrapValidator.min.css}" />
<link rel="stylesheet" th:href="@{/static/dist/css/AdminLTE.css}" />
<link rel="stylesheet"
	th:href="@{/static/dist/css/skins/_all-skins.min.css}" />
<link rel="stylesheet"
	th:href="@{/static/dist/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/static/dist/css/ionicons.min.css}" />
<link rel="stylesheet"
	th:href="@{/static/plugins/jvectormap/jquery-jvectormap-1.2.2.css}" />
<!-- Theme style -->
<link rel="stylesheet" th:href="@{/static/dist/css/AdminLTE.min.css}" />
<link rel="stylesheet"
	th:href="@{/static/dist/css/skins/_all-skins.min.css}" />
<link rel="stylesheet" th:href="@{/static/css/common.css}" />
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet"
	th:href="@{/static/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/static/plugins/bootstrap-table/dist/bootstrap-table.min.css}" />
<style type="text/css">
.panel {
	margin-bottom: 0px;
}

.form-group {
	margin-bottom: 2px;
}
</style>
<style type="text/css">
html, body {
	overflow-x: hidden;
}

body {
	padding-top: 5px;
}

.box.box-solid.box-default>.box-header {
	background-color: #DEF2FF;
}

.col-sm-10 span {
	word-break: break-all;
	word-wrap: break-word;
	white-space: normal;
	display: block;
	float: left;
	height: 34px;
	padding: 6px 12px 6px 0px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #777;
}

#compList>thead>tr>th {
	text-align: center;
	vertical-align: middle !important;
}

#compList>tbody>tr>td {
	vertical-align: middle !important;
}

#annexList>thead>tr>th {
	text-align: center;
	vertical-align: middle !important;
	vertical-align: middle !important;
}

#annexList>tbody>tr>td {
	text-align: center;
	vertical-align: middle !important;
	vertical-align: middle !important;
}

#contractAnnexs>thead>tr>th {
	text-align: center;
	vertical-align: middle !important;
	vertical-align: middle !important;
}

#contractAnnexs>tbody>tr>td {
	text-align: center;
	vertical-align: middle !important;
	vertical-align: middle !important;
}


#btn_upload, #btn_delete {
	padding: 3px 6px;
	font-size: 12px;
}

input {
	text-align: left;
}

.table>tbody>tr>td {
	padding: 3px;
}
</style>
</head>
<body>
     <!-- 跳转表单-->
      <input type="hidden" id="lookType" th:value="${lookType}"/>
      <form action="" method="get" id="closeContractFrom"></form>
      <form action="" method="get" id="getTaskFrom">
      <input name="taskId" id="taskId" th:value="${taskId}" type="hidden"/>
      <input name="contractId" th:value="${ContractEnter.id}" type="hidden"/>
      <input name="approveContractNumber" id="approveContractNumber" type="hidden"/>  
      <input name="isPass" id="isPass" type="hidden"/>
      </form>
	<div class="container-fluid" style="width: 100%; height: 100%">
		<div class="row">
			<div class="col-md-12">
				<ul id="myTab" class="nav nav-tabs">
					<li class="active"><a href="#basicInfo" data-toggle="tab">基本信息</a>
					</li>
					
					<li><a href="#contractText" data-toggle="tab"><span></span>合同正文</a>
					</li>
					
					<li><a href="#contractMain" data-toggle="tab"><span></span>合同摘要表</a>
					</li>
					
				</ul>
			</div>
		</div>

		<div id="myTabContent" class="tab-content">
		
		<div  class="tab-pane fade" id="contractMain">
			<div class="box box-default collapsed-box box-solid" style="margin: 5px 0px;border-color: #DEF2FF;">
                <div class="box-header with-border" style="padding: 8px;">
                    <span style="font-weight: bold;font-size: 14px;">合同摘要</span>
                    <form id="formAnnex" class="form-horizontal">

                    </form>
                </div>
            </div>
			
			<table id="contractMainList" class="table table-bordered" style="width: 100%">
			   	<thead>
			   		<tr align="center">
			   		</tr>
			   	</thead>
			   	<tbody id="contractMainList_body">
			   		<tr>
						<td align="left"
						style="vertical-align: middle; width: 10%; height: 40px; text-align: center;">
						<span th:text="合同名称"></span>
						</td>
						<td style="vertical-align: middle;width: 40%;  text-align: center;" th:text="${ContractEnter.contractName}" ></td>
						
					    <td align="left"
						style="vertical-align: middle; width: 10%; height: 40px; text-align: center;">
						<span th:text="合同编号"></span>
						</td>
						<td style="vertical-align: middle;width: 40%;  text-align: center;" th:text="${ContractEnter.contractNumber}" ></td>
					</tr>
					
					  <tr>
						<td align="left"
						style="vertical-align: middle; width: 10%; height: 40px; text-align: center;">
						<span th:text="经办部门"></span>
						</td>
						<td style="vertical-align: middle;width: 40%;  text-align: center;" th:text="${ContractEnter.contractOwnerDept}" ></td>
						
						<td align="left"
						style="vertical-align: middle; width: 10%; height: 40px; text-align: center;">
						<span th:text="经办人"></span>
						</td>
						<td style="vertical-align: middle;width: 40%;  text-align: center;" th:text="${ContractEnter.contractOwner}" ></td>
					</tr>
					
						<tr>
						<td align="left"
						style="vertical-align: middle; width: 10%; height: 40px; text-align: center;">
						<span th:text="合同签约方"></span>
						</td>
						<td style="vertical-align: middle;width: 40%;  text-align: center;" th:text="${ContractEnter.signContractPeople}" ></td>
						
						<td align="left"
						style="vertical-align: middle; width: 10%; height: 40px; text-align: center;">
						<span th:text="合同金额"></span>
						</td>
						<td style="vertical-align: middle;width: 40%;  text-align: center;" th:text="${ContractEnter.contractMoney}" ></td>
					</tr>
					
						<tr>
						<td align="left"
						style="vertical-align: middle; width: 10%; height: 40px; text-align: center;">
						<span th:text="合同确定方式"></span>
						</td>
						<td style="vertical-align: middle;width: 40%;  text-align: center;" th:text="${ContractEnter.contractConfirmWay}" ></td>
					    <td></td>
					    <td></td>
					    </tr>
					    
					    
					    <tr>
						<td align="left"
						style="vertical-align: middle; width: 10%; height: 40px; text-align: center;">
						<span th:text="主要签订依据"></span>
						</td>
						<td style="vertical-align: middle;width: 40%;  text-align: center;" th:text="${ContractEnter.contractSigningBasis}" ></td>
					    <td></td>
					    <td></td>
					    </tr>
					    
					    
					    <tr>
						<td align="left"
						style="vertical-align: middle; width: 10%; height: 40px; text-align: center;">
						<span th:text="合同签订主要事宜"></span>
						</td>
						
						<td style="vertical-align: middle;width: 40%;  text-align: center;" th:text="${ContractEnter.contractMainThing}" ></td>
					    <td></td>
					    <td></td>
					    </tr>
				
			   	</tbody>
			 </table>
		</div>
		
		
	<div  class="tab-pane fade" id="contractText">
	   <table id="contractAnnexs" class="table table-bordered" style="width: 100%">
			   	<thead>
			   		<tr align="center">
			   			<th >序号</th>
			   			<th>合同名称</th>
			   		</tr>
			   	</thead>
			   	<tbody id="contractAnnexList_body">
			   		<tr th:if="${#lists.isEmpty(contractAnnexs)}" height="32px;">
						<td colspan="5" align="center">无</td>
					</tr>
					<tr th:each="annex,annexStat : ${contractAnnexs}">
						<td align="center">
							<input hidden="hidden" name="fieldIds" th:value="${annex.id}"/>
							<span th:text="${annexStat.index+1}"></span>
						</td>
						<td align="center">
							<a href="javascript:" th:onclick="'window.top.openCommonViewImgWin(\''+${annex.id}+'\')'" th:text="${annex.name}+${'.'}+${annex.extendName}"></a>
						</td>
					</tr>
			   	</tbody>
			 </table>
		</div>
			<div class="tab-pane fade in active" id="basicInfo">
				<h3 align="center" th:if="${ContractEnter.contractType}==0" th:text="厦门轨道物资有限公司钢材赊销、围挡、钢支撑、机电合同单" style="margin: 10px 0px;"></h3>	
				<h3 align="center" th:if="${ContractEnter.contractType}==1" th:text="厦门轨道物资有限公司甲供三方合同单" style="margin: 10px 0px;"></h3>	
				<h3 align="center" th:if="${ContractEnter.contractType}==2" th:text="厦门轨道物资有限公司地铁甲供物资采购合同单" style="margin: 10px 0px;"></h3>	
				<h3 align="center" th:if="${ContractEnter.contractType}==3" th:text="厦门轨道物资有限公司办公室专用合同单" style="margin: 10px 0px;"></h3>	
			    <h3 align="center" th:if="${ContractEnter.contractType}==4" th:text="厦门轨道物资有限公司财务部、贸管部通用合同单" style="margin: 10px 0px;"></h3>	
				<form id="myform_contract" class="form-horizontal">
					<input hidden="hidden" name="id" th:value="${contractType}" />
				</form>
		    <!--设置表单保存合同数据 -->
			<form action="" method="post" id="contractListFrom">
				<table id="contractList" class="table table-bordered"
					style="width: 100%">
					<thead>
						<tr align="center"></tr>
					</thead>
					<tbody id="contractList_body">
						<!-- 合同名称 -->
						<tr>
							<td align="left"
								style="vertical-align: middle; width: 120px; height: 40px; text-align: center;">
								<span th:text="合同名称："></span>
							</td>
							<td colspan="3"  style="vertical-align: middle; height: 40px; text-align: left;" th:text="${ContractEnter.contractName}" ></td>
						</tr>
						<!-- 项目名称： -->
						<tr>
							<td align="left"
								style="vertical-align: middle; height: 40px; width: 120px; text-align: center; height: 20px">
								<span th:text="项目名称："></span>
							</td>

							<td colspan="3" align="left" style="vertical-align: middle;height: 40px;" th:text="${ContractEnter.projectName}">
								
							</td>
						</tr>
						<!-- 合同确定方式 合同金额 -->
						<tr>
							<td align="left"
								style="vertical-align: middle; height: 40px; text-align: center; width: 120px;">
								<span th:text="合同确定方式："></span>
							</td>

							<td colspan="3" style="vertical-align: middle; height: 40px; text-align: left;" th:text="${ContractEnter.contractConfirmWay}">
								
							</td>
						</tr>
						<!--合同标的物-->
						<tr>
							<td 
								style="vertical-align: middle; height: 40px; text-align: center; width: 120px;">
								<span th:text="合同标的物："></span>
							</td>
							<td style="vertical-align: middle; height: 40px; text-align: left;" th:text="${ContractEnter.contractMatter}" >
							
							</td>

							<td align="left"
								style="vertical-align: middle; height: 40px; text-align: center; width:160px;">
								<span th:text="合同金额（元）："></span>
							</td>
							
							<td style="vertical-align: middle; height: 40px; text-align: left;" th:text="${ContractEnter.contractMoney}" >
						
							</td>
						</tr>
						<!-- 合同签约方-->
						<tr>
							<td align="left"
								style="vertical-align: middle; height: 40px; width: 120px; text-align: center; height: 20px">
								<span th:text="合同签约方："></span>
							</td>

							<td colspan="3" align="left" style="vertical-align: middle;height: 40px;" th:text="${signPeople}">
								
							</td>
						</tr>
						
						<!--合同标的法务审核人 会计审核人 -->
						<tr>
							<td align="left"
								style="vertical-align: middle; height: 40px; text-align: center; width: 120px;">
								<span th:text="法务审核人："></span>
							</td>
							<td	style="vertical-align: middle; height: 40px; text-align: left;" th:text="${ContractEnter.legalAuditor}">
							
							</td>

							<td align="left"
								style="vertical-align: middle; height: 40px; text-align: center; width: 160px;">
								<span th:text="会计审核人："></span>
							</td>
							
							<td	style="vertical-align: middle; height: 40px; text-align: left;" th:text="${ContractEnter.accoutingAuditor}">

							</td>
						</tr>
						
						<!--是否要分管领导签字 是否需要公司盖章 -->
						<tr>
							<td align="left"
								style="vertical-align: middle; height: 40px; text-align: center; width: 120px;">
								<span th:text="是否需要集团分管领导审批："></span>
							</td>
							
							<td align="center" style="vertical-align: middle;text-align: left;">
							<span th:if=" ${ContractEnter.isLeaderApproval} ==0" th:text="是"></span>
			   			    <span th:if=" ${ContractEnter.isLeaderApproval} ==1" th:text="否"></span>
							</td>

							<td align="left"
								style="vertical-align: middle; height: 40px; text-align: center; width: 160px;">
								<span th:text="是否需要我司先盖章："></span>
							</td>
							
							<td align="center" style="vertical-align: middle;text-align: left;">
							<span th:if=" ${ContractEnter.isStamp} ==0" th:text="是"></span>
			   			    <span th:if=" ${ContractEnter.isStamp} ==1" th:text="否"></span>
							</td>
						</tr>
						
						  <!--对方经办人电话 合同编号-->
                             <tr>
							<td align="left"
								style="vertical-align: middle; height: 40px; text-align: center; width: 120px;">
								<span th:text="对方经办人（电话）："></span>
							</td>
							
							<td  style="vertical-align: middle; height: 40px; text-align: center;">
							<div style="float: left;width: 49%;text-align: left;"> 
							<span style="vertical-align: middle;" th:text=" ${ContractEnter.theOtherParty}"></span>
							</div>
							
							<div style="float:right;width: 49%;vertical-align: middle;text-align: left;"> 
							
							<span th:text=" ${ContractEnter.theOtherPartyPhone}"></span>
							
							</div>
							
							</td>

							<td align="left"
								style="vertical-align: middle; height: 40px; text-align:center; width: 160px;">
								<span th:text="合同编号："></span>
							</td>
							
							<td align="left"
								style="vertical-align: middle; height: 40px; text-align: left; width: 160px;">
			                	<span id="contractNumber"></span>
							</td>
							
						</tr>
						
						 <!--经办人电话 -->
                             <tr>
							<td align="left"
								style="vertical-align: middle; height: 40px; text-align: center; width: 120px;">
								<span th:text="合同经办人（电话）："></span>
							</td>
							
							<td style="vertical-align: middle; height: 40px; text-align: left;">
							<div style="float: left;width: 49% ;vertical-align: middle;text-align: left;"> 
							
							<span th:text=" ${ContractEnter.contractOwner}"></span>
							
							</div>
							
							<div style="float:right;width: 49%;text-align: left;vertical-align: left;"> 
							
							<span th:text=" ${ContractEnter.contractOwnerPhone}"></span>
							
							</div>
							
							</td>

							<td align="left"
								style="vertical-align: middle; height: 40px; text-align: center; width: 160px;">
								<span th:text="经办部门："></span>
							</td>
							
							<td	style="vertical-align: middle; height: 40px; text-align:left;" th:text="${ContractEnter.contractOwnerDept}">
							
							</td>
						</tr>
						
						<!--合同签订依据-->
							<tr>
							<td align="left"
								style="vertical-align: middle; width: 120px; height: 60px; text-align: center;">
								<span th:text="合同签订依据："></span>
							</td>

							<td colspan="3"  style="vertical-align: middle; height: 40px; text-align: left;" th:text="${ContractEnter.contractSigningBasis}">
							
							</td>
						</tr>
						
						
						<!--合同主要事宜-->
							<tr>
							
							<td align="left"
								style="vertical-align: middle; width: 120px; height: 60px; text-align: center;">
								<span th:text="合同主要事宜："></span>
							</td>

							<td colspan="3"  style="vertical-align: middle; height: 40px; text-align: left;" th:text="${ContractEnter.contractMainThing}">
							
							</td>
						   </tr>
						   
						   	<!-- 合同份数 -->
						<tr>
							<td align="left"
								style="vertical-align: middle; width: 120px; height: 40px; text-align: center;">
								<span th:text="合同份数："></span>
							</td>

							<td colspan="3" style="vertical-align: middle; width: 120px; height: 40px; text-align: left;">
							<span th:text="合同一式  +${ContractEnter.contractTextNumber}+ 份，其中我方+${ContractEnter.ownContractTextNumber}+ 份，其他方+${ContractEnter.otherContractTextNumber}+份"></span>
							</td>
						</tr>
						   
						   <!--我承诺-->
							<tr>
							<td align="left" style="vertical-align: middle; width: 120px; height: 40px; text-align: center;">
								<span th:text="我承诺：" style="color: red;"></span>
							</td>

							<td colspan="3" align="left" style="height: 40px;">
							<div style="float: left;text-align: center;height:35px;line-height:35px; overflow:hidden">
							本人对本合同资信材料、签约方签字字样及印章真实性负责，如因此给公司造成损失愿承担赔偿责任。
							</div>
						    </td>
						</tr>
					</tbody>
				</table>
				
				</form>
				
					 <div>
			
			 <div style="width:7%;float: left;text-align: left;height:35px;line-height:35px; overflow:hidden">
			    合同编号:
			  </div>
			    <div style="width: 80%;float: left;">
			      	<input type="text" id="handContractNumber"  name="handContractNumber" class="form-control" width="100%" placeholder="请输入合同编号"  onkeyup="this.value=this.value.replace(/\s+/g,'')" onblur="setContractNumber()" />
			    </div>
			    
			    <div style="text-align: center;margin-bottom: 10px; float: left;width:13%" >
			    <select id="isApprove"  class="form-control" style="text-align:center;">
		        <option value="请选择" style="text-align:center;">是否通过</option>
                <option value="0" style="text-align:center;">通过</option>
                <option value="1" style="text-align:center;">不通过</option>
                </select>
			    </div>
			</div>
				<br/>
				<br/>
				<!--附件表格-->
				<div class="box box-default collapsed-box box-solid" style="margin: 5px 0px;border-color: #DEF2FF;">
                <div class="box-header with-border" style="padding: 8px;">
                    <span style="font-weight: bold;font-size: 14px;">附件列表</span>
                    <form id="formAnnex" class="form-horizontal">
                    </form>
                </div>
                </div>
                 
				<!--附件表格-->
				<table id="annexList" class="table table-bordered" style="width: 100%">
			   	<thead>
			   		<tr align="center">
			   			<th>序号</th>
			   			<th>附件名称</th>
			   			<th>创建人</th>
			   			<th>创建时间</th>
			   		</tr>
			   	</thead>
			   	<tbody id="annexList_body">
			   		<tr th:if="${#lists.isEmpty(annexs)}" height="32px;">
						<td colspan="5" align="center">无</td>
					</tr>
					<tr th:each="annex,annexStat : ${annexs}">
						<td align="center">
							<input hidden="hidden" name="fieldIds" th:value="${annex.id}"/>
							<span th:text="${annexStat.index+1}"></span>
						</td>
						<td align="center">
							<a href="javascript:" th:onclick="'window.top.openCommonViewImgWin(\''+${annex.id}+'\')'" th:text="${annex.name}+${'.'}+${annex.extendName}"></a>
						</td>
						<td th:text="${annex.creator}" align="center"></td>
						<td th:text="${annex.uploadTime}?${#dates.format(annex.uploadTime, 'yyyy-MM-dd')}:''" align="center"></td>
					</tr>
			   	</tbody>
			 </table>
			 
			 <!--界面操作按钮-->
				 <div style="text-align: center;margin-bottom: 10px;">
				 
  			     <button type="button"  class="btn btn-primary" onclick="clickApprove()" style="margin-right: 25px;width: 80px;">提交</button> 
			     <button type="button"  class="btn btn-primary" onclick="fnClickReport()" style="margin-right: 25px;width: 80px;">关闭</button> 
			      
			      </div>
			</div>
		</div>
	</div>
		
</body>
<!-- jQuery 2.2.3 -->
<script th:src="@{/static/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/common.js}"></script>
<script
	th:src="@{/static/plugins/bootstrap-validator/js/bootstrapValidator.min.js}"></script>
<script
	th:src="@{/static/plugins/bootstrap-table/dist/bootstrap-table.min.js}"></script>
<script
	th:src="@{/static/plugins/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/static/plugins/jQuery/jquery.serializejson.min.js}"></script>
<script th:src="@{/static/plugins/datepicker/bootstrap-datepicker.js}"></script>
<script
	th:src="@{/static/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js}"></script>
<script type="text/javascript"
	th:src="@{/static/plugins/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<script
	th:src="@{/static/plugins/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js}"></script>
<script type="text/javascript"
	th:src="@{/static/plugins/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
<script type="text/javascript"
	th:src="@{/static/plugins/bootstrap-contextmenu/bootstrap-contextmenu.js}"></script>
<script type="text/javascript"
	th:src="@{/static/plugins/bootstrap-contextmenu/prettify.js}"></script>
<script type="text/javascript"
	th:src="@{/static/plugins/attention/zDialog/zDrag.js}"></script>
<!-- Slimscroll -->
<script type="text/javascript"
	th:src="@{/static/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<script type="text/javascript" th:src="@{/static/dist/js/app.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/
	var CTX = [[@{/}]];
		$(function () {
			
		
		    //2.初始化Button的点击事件
		    var oButtonInit = new ButtonInit();
		    oButtonInit.Init();
		    //初始化时间控件
		    $('.datepicker').datepicker({
		    	format:'yyyy-mm',
		    	language:'zh-CN',
		      	autoclose: true,
		      	startView: 'months', //开始视图层，为月视图层
		        maxViewMode:'years', //最大视图层，为年视图层
		        minViewMode:'months', //最小视图层，为月视图层
		        clearBtn: true
		    }).on('hide',function(){
				
			});
		});

	
		
		//初始化按钮
		var ButtonInit = function () {
		    var oInit = new Object();
		    var postdata = {};

		    oInit.Init = function () {
		        //初始化页面上面的按钮事件
		    };
		    return oInit;
		};
	
	//格式化日期
	function formatDate(time){
	    var date = new Date(time);
	    var year = date.getFullYear(),
	        month = date.getMonth()+1,//月份是从0开始的
	        day = date.getDate(),
	        hour = date.getHours(),
	        min = date.getMinutes(),
	        sec = date.getSeconds();
	    var preArr = Array.apply(null,Array(10)).map(function(elem, index) {
	        return '0'+index;
	    });////开个长度为10的数组 格式为 00 01 02 03

	    var newTime = year + '-' +
	                (preArr[month]||month) + '-' +
	                (preArr[day]||day);/*  + ' ' +
	                (preArr[hour]||hour) + ':' +
	                (preArr[min]||min) + ':' +
	                (preArr[sec]||sec); */
	    return newTime;         
	  }

 	
	  	//关闭合同签订界面返回主界面
	  	function fnClickReport(){
	  		$("#closeContractFrom").attr("action",CTX+'contract-approve/contract-approve-view');
			$("#closeContractFrom").submit();
	  	}
	  	
	  	//失去焦点设置合同编号
	  	function setContractNumber(){
	  		var contractNumber=$("#handContractNumber").val();
	  		$("#contractNumber").text(contractNumber);
	  	}
	  	
	  	
	  	//确定提交
	  	function clickApprove(){
	  	//合同编号
	  	var number=$("#handContractNumber").val();
	  	//审核意见
	  	var isApprove=$("#isApprove").val();
	  	  
	  	  
			if(isApprove=="0"){
				if(number.length==0){
					alert("请填写合同编号!");
					return;
				}else{
				    $("#approveContractNumber").val(number);
				}
			}
			
			 if(isApprove=="请选择"){
			  		alert("请选择是否通过!");
					return;
			  	 }
			
			  $("#isPass").val(isApprove);
			 $.ajax({
					url:CTX+'office-contract/checkContract',
					method:'post',
					data:$('#getTaskFrom').serialize(),
					success:function(json){
						alert('成功提交')
						fnClickReport();
					},
					error:function(){
						alert('请求超时或网络错误');
					}
				});
		
	  	}
	  	
		/*]]>*/
	</script>

	</html>

