<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
	<title>单位类型管理</title>
	<link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/dist/css/font-awesome.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/dist/css/ionicons.min.css}"/>
	<!-- iCheck for checkboxes and radio inputs -->
  	<link rel="stylesheet" th:href="@{/static/plugins/iCheck/all.css}"/>
  	<!-- Bootstrap time Picker -->
  	<link rel="stylesheet" th:href="@{/static/plugins/timepicker/bootstrap-timepicker.min.css}"/>
	<!-- Theme style -->
	<link rel="stylesheet" th:href="@{/static/dist/css/AdminLTE.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/dist/css/skins/_all-skins.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/css/common.css}"/>
  	<style type="text/css">
  		.radio{float:left;}
  		.picker_div{width: 100%;float:left;margin:10px 20px;}
  	</style>
</head>
<body>
	<section class="content">
	 	<div class="box box-default box-solid" style="margin-bottom:5px;">
            <div class="box-header with-border">
              	<h3 class="box-title">门禁统计周期</h3>
              	<div class="box-tools pull-right">
                	<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                	</button>
             	</div>
              	<!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
            	<form id="editForm" class="form-horizontal">
            		<input type="hidden" name="id" th:value="${countSet}!=null?${countSet.id}:''"/>
            		<input type="hidden" name="projectInfoId" th:value="${projectInfo}!=null?${projectInfo.id}:''"/>
            		<div class="form-group">
            			<label class="col-sm-2 control-label">
            				进场人数
            			</label>
            			<div class="col-sm-10">
		                  	<div class="radio" >
			                    <label>
			                      <input type="radio" name="countInCycle" class="minimal" value="1"  th:checked="${countSet}!=null and ${countSet.countInCycle}==1"/>
			                     	 当天
			                    </label>
		                  	</div>
		                  	<div class="radio">
			                    <label>
			                      <input type="radio" name="countInCycle" class="minimal" value="2" th:checked="${countSet}!=null and ${countSet.countInCycle}==2"/>
			                     	 本周
			                    </label>
		                  	</div>
		                  	<div class="radio">
			                    <label>
			                      <input type="radio" name="countInCycle" class="minimal" value="3" th:checked="${countSet}!=null and ${countSet.countInCycle}==3"/>
			                     	 本月
			                    </label>
		                  	</div>
		                  	<div class="radio">
			                    <label>
			                      <input type="radio" name="countInCycle" class="minimal" value="4" th:checked="${countSet}!=null and ${countSet.countInCycle}==4"/>
			                     	 本季度
			                    </label>
		                  	</div>
		                  	<div class="radio">
			                    <label>
			                      <input type="radio" name="countInCycle" class="minimal" value="5" th:checked="${countSet}!=null and ${countSet.countInCycle}==5"/>
			                     	 今年
			                    </label>
		                  	</div>
	                  	</div>
	                 </div>
	                 <div class="form-group">
            			<label class="col-sm-2 control-label">
            				出场人数
            			</label>
            			<div class="col-sm-10">
		                  	<div class="radio" >
			                    <label>
			                      <input type="radio" name="countOutCycle" class="minimal" value="1" th:checked="${countSet}!=null and ${countSet.countOutCycle}==1"/>
			                     	 当天
			                    </label>
		                  	</div>
		                  	<div class="radio">
			                    <label>
			                      <input type="radio" name="countOutCycle" class="minimal" value="2" th:checked="${countSet}!=null and ${countSet.countOutCycle}==2"/>
			                     	 本周
			                    </label>
		                  	</div>
		                  	<div class="radio">
			                    <label>
			                      <input type="radio" name="countOutCycle" class="minimal" value="3" th:checked="${countSet}!=null and ${countSet.countOutCycle}==3"/>
			                     	 本月
			                    </label>
		                  	</div>
		                  	<div class="radio">
			                    <label>
			                      <input type="radio" name="countOutCycle" class="minimal" value="4" th:checked="${countSet}!=null and ${countSet.countOutCycle}==4"/>
			                     	 本季度
			                    </label>
		                  	</div>
		                  	<div class="radio">
			                    <label>
			                      <input type="radio" name="countOutCycle" class="minimal" value="5" th:checked="${countSet}!=null and ${countSet.countOutCycle}==5"/>
			                     	 今年
			                    </label>
		                  	</div>
	                  	</div>
	                 </div>
	                 <div class="form-group">
            			<label class="col-sm-2 control-label">
            				在场人数
            			</label>
            			<div class="col-sm-10">
		                  	<div class="radio" >
			                    <label>
			                      <input type="radio" name="countIngCycle" class="minimal" value="1" th:checked="${countSet}!=null and ${countSet.countIngCycle}==1"/>
			                     	 当天
			                    </label>
		                  	</div>
	                 	</div>
	              	</div>
	              	<div class="form-group">
            			<label class="col-sm-2 control-label">
            				出入场设置
            			</label>
            			<div class="col-sm-10">
		                  	<div class="radio">
			                    <label>
			                      <input type="radio" name="inoutSet" class="minimal" value="1" th:checked="${countSet}!=null and ${countSet.inoutSet}==1"/>
			                     	设备判别
			                    </label>
		                  	</div>
		                  	<div class="radio">
			                    <label>
			                      <input type="radio" name="inoutSet" class="minimal" value="2" th:checked="${countSet}!=null and ${countSet.inoutSet}==2"/>
			                     	 按时间段判别
			                    </label>
		                  	</div>
	                 	</div>
	              	</div>
	              	<div class="form-group" id="inoutSet_div" th:style=" ${countSet}==null or ${countSet.inoutSet}==1?'display:none':'display:block'">
            			<label class="col-sm-2 control-label">
            				判别时间段
            			</label>
            			<div class="col-sm-10" id="time_interval_list" th:if="${countSet}!=null">
            				<div class="row" style="margin:5px;" th:each="timeinter:${countSet.timeIntervals}">
            					<input type="hidden" name="timeIntervalId" th:value="${timeinter.id}"/>
	            				<div class="col-sm-3">
	            					<div class="bootstrap-timepicker">
		            					<div class="input-group">
						                    <input type="text" class="form-control timepicker" name="timeIntervalStartTime" th:value="${timeinter.startTime}" placeholder="选择开始时间"/>
						                    <div class="input-group-addon">
						                      	<i class="fa fa-clock-o"></i>
						                    </div>
					                  	</div>
				                  	</div>
	            				</div>
	            				<div style="width:10px; line-height:30px;float:left;"> ~ </div>
				                <div class="col-sm-3">
				                	<div class="bootstrap-timepicker">
					                	<div class="input-group">
						                    <input type="text" class="form-control timepicker" name="timeIntervalEndTime" th:value="${timeinter.endTime}" placeholder="选择截止时间"/>
						                    <div class="input-group-addon">
						                      	<i class="fa fa-clock-o"></i>
						                    </div>
					                  	</div>
				                  	</div>
				                </div>
				                <div class="col-sm-3">
				                	<select name="timeIntervalInoutType" class="form-control">
				                		<option value="1" th:selected="${timeinter.inoutType==1}">进入工地</option>
				                		<option value="2" th:selected="${timeinter.inoutType==2}">离开工地</option>
				                	</select>
				                </div>
				                <div class="col-sm-2">
				                	<button type="button" class="btn btn-success" onclick="addTimeInterval()" th:if="${timeinterStat.index}==0">增加</button>
				                	<button type="button" class="btn btn-danger" onclick="removeTimeInterval(this)" th:if="${timeinterStat.index}!=0">删除</button>
				                </div>
			                </div>
	                 	</div>
	                 	<div class="col-sm-10" id="time_interval_list" th:if="${countSet}==null or ${#lists.isEmpty(countSet.timeIntervals)}">
	                 		<div class="row" style="margin:5px;">
            					<input type="hidden" name="timeIntervalId"/>
	            				<div class="col-sm-3">
	            					<div class="bootstrap-timepicker">
		            					<div class="input-group">
						                    <input type="text" class="form-control timepicker" name="timeIntervalStartTime" placeholder="选择开始时间"/>
						                    <div class="input-group-addon">
						                      	<i class="fa fa-clock-o"></i>
						                    </div>
					                  	</div>
				                  	</div>
	            				</div>
	            				<div style="width:10px; line-height:30px;float:left;"> ~ </div>
				                <div class="col-sm-3">
				                	<div class="bootstrap-timepicker">
					                	<div class="input-group">
						                    <input type="text" class="form-control timepicker" name="timeIntervalEndTime" placeholder="选择截止时间"/>
						                    <div class="input-group-addon">
						                      	<i class="fa fa-clock-o"></i>
						                    </div>
					                  	</div>
				                  	</div>
				                </div>
				                <div class="col-sm-3">
				                	<select name="timeIntervalInoutType" class="form-control">
				                		<option value="1">进入工地</option>
				                		<option value="2">离开工地</option>
				                	</select>
				                </div>
				                <div class="col-sm-2">
				                	<button type="button" class="btn btn-success" onclick="addTimeInterval()">增加</button>
				                </div>
			                </div>
	                 	</div>
	              	</div>
            	</form><br/>
            	<button type="button" class="btn btn-block btn-primary" style="width:150px;margin:0 auto;" onclick="fnSave()">保存</button>
            </div>
        </div>
   	</section>
</body>
<script type="text/template" id="time_interval_list_temp">
	<div class="row" style="margin:5px;">
		<input type="hidden" name="timeIntervalId"/>
	    <div class="col-sm-3">
			<div class="bootstrap-timepicker">
				<div class="input-group">
					<input type="text" class="form-control timepicker" name="timeIntervalStartTime" placeholder="选择开始时间"/>
					<div class="input-group-addon">
						<i class="fa fa-clock-o"></i>
					</div>
				</div>
			</div>
	    </div>
        <div style="width:10px; line-height:30px;float:left;"> ~ </div>
	    <div class="col-sm-3">
			<div class="bootstrap-timepicker">
	    		<div class="input-group">
					<input type="text" class="form-control timepicker" name="timeIntervalEndTime" placeholder="选择截止时间"/>
					<div class="input-group-addon">
						<i class="fa fa-clock-o"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<select name="timeIntervalInoutType" class="form-control">
				<option value="1">进入工地</option>
				<option value="2">离开工地</option>
			</select>
		</div>
		<div class="col-sm-2">
			<button type="button" class="btn btn-danger" onclick="removeTimeInterval(this)">删除</button>
		</div>
	</div>
</script>
<script type="text/javascript" th:src="@{/static/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<script type="text/javascript" th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
<!-- iCheck 1.0.1 -->
<script type="text/javascript" th:src="@{/static/plugins/iCheck/icheck.min.js}"></script>
<!-- bootstrap time picker -->
<script type="text/javascript" th:src="@{/static/plugins/timepicker/bootstrap-timepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
<script type="text/javascript" th:src="@{/static/js/doT.min.js}"></script>
<script type="text/javascript" th:src="@{/static/dist/js/app.min.js}"></script>
<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/
	var CTX = [[@{/}]];
	var doTxt = null;
	$(function () {
		doTxt = doT.template($('#time_interval_list_temp').html());
		$('input[type="radio"].minimal').on('ifChecked',function(e){
			if($(this).attr('name')=='inoutSet'){
				if($(this).val()==1){
					$('#inoutSet_div').hide();
				}else{
					$('#inoutSet_div').show();
				}
			}
		});
		$('input[type="radio"].minimal').iCheck({
	      	checkboxClass: 'icheckbox_minimal-blue',
	      	radioClass: 'iradio_minimal-blue'
	    });
		initPicker();
	});
	
	function initPicker(){
		$(".timepicker").timepicker({
			showInputs:false,
			showMeridian:false
	    });
	}
	
	function addTimeInterval(){
		var data = {id:'',admissionTime:'',inoutType:1};
		$('#time_interval_list').append(doTxt(data));
		initPicker();
	}
	
	function removeTimeInterval(_this){
		$(_this).parent().parent().remove();
	}
	
	function fnSave(){
		if($("input[name='projectInfoId']").val()==''){
			alert('请先添加项目信息');
			return;
		}
		loading('正在保存,请稍后...');
		$.ajax({
			url: CTX+'count-set/save-count-set',
			type: 'post',
			dataType: 'json',
			data: $("#editForm").serialize(),
			timeout: 10000,
			success: function(json){
				loaded();
				if(json.success){
					window.location.reload();
				}
			},
			error: function(){
				alert('请求超时或系统出错!');
				loaded();
			}
		});
	}
/*]]>*/		
</script>
</html>
