<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
	<title th:text="${projectInfo.id}==null?'新增工程信息':'编辑工程信息'"></title>
	<link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/dist/css/font-awesome.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/dist/css/ionicons.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/plugins/jvectormap/jquery-jvectormap-1.2.2.css}"/>
	<!-- bootstrap datepicker -->
  	<link rel="stylesheet" th:href="@{/static/plugins/datepicker/datepicker3.css}"/>
  	<!-- daterange picker -->
  	<link rel="stylesheet" th:href="@{/static/plugins/daterangepicker/daterangepicker.css}"/>
	<!-- Theme style -->
	<link rel="stylesheet" th:href="@{/static/dist/css/AdminLTE.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/dist/css/skins/_all-skins.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/css/common.css}"/>
	<link rel="stylesheet" th:href="@{/static/plugins/bootstrap-toggle/bootstrap-toggle.min.css}"/>
	<!-- fileinput -->
	<link th:href="@{/static/plugins/bootstrap-fileinput/css/fileinput.css}" media="all" rel="stylesheet" type="text/css"/>
	<link th:href="@{/static/plugins/bootstrap-fileinput/themes/explorer-fa/theme.css}" media="all" rel="stylesheet" type="text/css"/>
	<style type="text/css">
		.form-horizontal .control-label{text-align: left;}
		.littleTable tr td{padding:5px;}
		.table>tbody+tbody {
		    border-top: 0;
		}
		.kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
		    margin: 0;
		    padding: 0;
		    border: none;
		    box-shadow: none;
		    text-align: center;
		}
		.kv-avatar {
		    display: inline-block;
		    height:
		}
		.kv-avatar .file-input {
		    display: table-cell;
		}
		.kv-reqd {
		    color: red;
		    font-family: monospace;
		    font-weight: normal;
		}
		.file-default-preview img{
			max-width:280px;
		}
		.file-thumbnail-footer{display: none;}
		.file-drop-zone{margin:5px;}
		.krajee-default.file-preview-frame .kv-file-content{height:auto;}
	</style>
</head>
<body>
	<section class="content">
		<form id="myform" class="form-horizontal">
		<input type="hidden" name="id" th:value="${projectInfo}!=null?${projectInfo.id}:''"/>
		<input type="hidden" name="annexIds" th:value="${projectInfo}!=null?${projectInfo.annexIds}:''"/>
		<input type="hidden" name="picId" th:value="${projectInfo}!=null?${projectInfo.picId}:''"/>
		<input type="hidden" name="projectGroup.id" th:value="${projectInfo}!=null and ${projectInfo.projectGroup}!=null?${projectInfo.projectGroup.id}:''"/>
		<input type="hidden" name="lesseeId" th:value="${projectInfo.lesseeId}"/>
		<input type="hidden" name="status" th:value="${projectInfo}!=null?${projectInfo.status}:''"/>
		<div class="box box-default box-solid" style="margin-bottom:5px;">
            <div class="box-header with-border">
              	<h3 class="box-title">工程基本信息</h3>
              	<div class="box-tools pull-right">
                	<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                	</button>
             	</div>
              	<!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
            	<div class="row">
            		<div class="col-md-6 text-center">
            			<div class="kv-avatar">
			                <div class="file-loading">
			                    <input name="picFile" type="file"/>
			                </div>
			            </div>
			            <div class="kv-avatar-hint"><small>建议上传图片尺寸为280x190 选择图片小于 200KB</small></div>
			            <div id="kv-avatar-errors-1" class="center-block" style="display:none"></div>
            		</div>
            		<div class="col-md-6">
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;施工许可证:</label>
		                  	<div class="col-sm-9">
	                    		<input type="text" class="form-control" name="projectLicence" th:value="${projectInfo.projectLicence}"/>
		                  	</div>
		                </div>
		                <div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;工程名称:</label>
		                  	<div class="col-sm-9">
	                    		<input type="text" class="form-control" name="projectName" th:value="${projectInfo.projectName}"/>
		                  	</div>
		                </div>
		                <div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;GIS经纬度:</label>
		                  	<div class="col-sm-9">
		                  		<div class="input-group">
					                <input type="text" class="form-control" name="lngLat" th:value="${projectInfo.lngLat}"/>
					                <div class="input-group-btn">
					                <button type="button" class="btn btn-primary" onclick="fnChooseLnglat()">选点</button>
					                </div>
				              	</div>
		                  	</div>
		                </div>
		                <div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;工程所在地:</label>
		                  	<div class="col-sm-9">
		                  		<input type="text" class="form-control" name="location" th:value="${projectInfo.location}"/>
		                  	</div>
		                </div>
		                <div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;清单人工费:</label>
		                  	<div class="col-sm-9">
		                  		<div class="input-group">
					                <input type="text" class="form-control" name="labourCost" th:value="${projectInfo.labourCost}"/>
					                <span class="input-group-addon">万元</span>
				              	</div>
		                  	</div>
		                </div>
		                <div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;建设面积:</label>
		                  	<div class="col-sm-9">
		                  		<div class="input-group">
					                <input type="text" class="form-control" name="buildArea" th:value="${projectInfo.buildArea}"/>
					                <span class="input-group-addon">平方米</span>
				              	</div>
		                  	</div>
		                </div>
		                
            		</div>
            	</div>
              	<div class="row">
              		<div class="col-md-6">
              			<div class="form-group">
		                  	<label class="col-sm-3 control-label">&nbsp;上传建设局:</label>
		                  	<div class="col-sm-9">
	                    		<select class="form-control" name="buildOffice">
	                    			<option value="" th:selected="${projectInfo.buildOffice}=='' or ${projectInfo.buildOffice}==null">---选择建设局---</option>
	                    			<option value="fjxm" th:selected="${projectInfo.buildOffice}=='fjxm'">厦门市建设局</option>
	                    		</select>
	                    		<small>不选则该项目工程不上传建设局</small>
		                  	</div>
		                </div>
		            </div>
              		<div class="col-md-6">
              			<div class="form-group">
		                  	<label class="col-sm-3 control-label" style="padding-right:0;padding-left:0;"><i style="color:red;">*</i>&nbsp;市合同备案编号:</label>
		                  	<div class="col-sm-9">
	                    		<input type="text" class="form-control" name="cityConRecordNum" th:value="${projectInfo.cityConRecordNum}"/>
		                  		<small>&nbsp;</small>
		                  	</div>
		                </div>
		            </div>
            		<div class="col-md-6">
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;合同金额:</label>
		                  	<div class="col-sm-9">
		                  		<div class="input-group">
					                <input type="text" class="form-control" name="conAmount" th:value="${projectInfo.conAmount}"/>
					                <span class="input-group-addon">万元</span>
				              	</div>
		                  	</div>
		                </div>
            		</div>
            		<div class="col-md-6">
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;建设单位:</label>
		                  	<div class="col-sm-9">
	                    		<input type="text" class="form-control" name="buildCompany" th:value="${projectInfo.buildCompany}"/>
		                  	</div>
		                </div>
            		</div>
            		<div class="col-md-6">
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;总承包单位:</label>
		                  	<div class="col-sm-9">
	                    		<input type="text" class="form-control" name="contractCompany" th:value="${projectInfo.contractCompany}"/>
		                  	</div>
		                </div>
            		</div>
            		<div class="col-md-6">
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;监理单位:</label>
		                  	<div class="col-sm-9">
	                    		<input type="text" class="form-control" name="supervisorCompany" th:value="${projectInfo.supervisorCompany}"/>
		                  	</div>
		                </div>
            		</div>
            		<div class="col-md-6">
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;工程地址:</label>
		                  	<div class="col-sm-9">
	                    		<input type="text" class="form-control" name="projectAddress" th:value="${projectInfo.projectAddress}"/>
		                  	</div>
		                </div>
            		</div>
            		
            		<div class="col-md-6">
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;开工日期:</label>
		                  	<div class="col-sm-9">
		                  		<div class="input-group date">
				                  	<input type="text" class="form-control datepicker" readonly="readonly" name="startDate" th:value="${projectInfo.startDate}?${#dates.format(projectInfo.startDate, 'yyyy-MM-dd')}:''"/>
				                  	<div class="input-group-addon">
				                    	<i class="fa fa-calendar"></i>
				                  	</div>
				                </div>
		                  	</div>
		                </div>
            		</div>
            		<div class="col-md-6">
            			<div class="form-group">
		                  	<label for="plan_end_date" class="col-sm-3 control-label" style="padding-right: 0;"><i style="color:red;">*</i>&nbsp;计划竣工日期:</label>
		                  	<div class="col-sm-9">
		                  		<div class="input-group date">
				                  	<input type="text" class="form-control datepicker" readonly="readonly" name="planEndDate" th:value="${projectInfo.planEndDate}?${#dates.format(projectInfo.planEndDate, 'yyyy-MM-dd')}:''"/>
				                  	<div class="input-group-addon">
				                    	<i class="fa fa-calendar"></i>
				                  	</div>
				                </div>
		                  	</div>
		                </div>
            		</div>
            		
            		<div class="col-md-6">
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;工程性质:</label>
		                  	<div class="col-sm-9">
	                    		<select class="form-control" name="projectNature">
	                    			<option value="房建" th:selected="${projectInfo.projectNature=='房建'}">房建</option>
	                    			<option value="市政" th:selected="${projectInfo.projectNature=='市政'}">市政</option>
	                    			<option value="轨道" th:selected="${projectInfo.projectNature=='轨道'}">轨道</option>
	                    		</select>
		                  	</div>
		                </div>
            		</div>
            		<div class="col-md-6">
            			<div class="form-group">
		                  	<label class="col-sm-5 control-label"><i style="color:red;">*</i>&nbsp;安全文明施工措施费金额:</label>
		                  	<div class="col-sm-7">
		                  		<div class="input-group">
					                <input type="text" class="form-control" name="measureAmount" th:value="${projectInfo.measureAmount}"/>
					                <span class="input-group-addon">万元</span>
				              	</div>
		                  	</div>
		                </div>
            		</div>
            		<div class="col-md-6">
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;预付款金额:</label>
		                  	<div class="col-sm-9">
		                  		<div class="input-group">
					                <input type="text" class="form-control" name="advanceAmount" th:value="${projectInfo.advanceAmount}"/>
					                <span class="input-group-addon">万元</span>
				              	</div>
		                  	</div>
		                </div>
            		</div>
            	</div>
            	<div class="row">
            		<div class="col-md-12">
            			<div class="form-group">
		                  	<label class="col-sm-2 control-label" style="width:120px;"><i style="color:red;">*</i>&nbsp;工程概况:</label>
		                  	<div class="col-sm-10">
				                <textarea class="form-control" name="projectSurvey" rows="5" th:text="${projectInfo.projectSurvey}"></textarea>
		                  	</div>
		                </div>
            		</div>
            	</div>
            </div>
            <!-- /.box-body -->
        </div>
        
        <div class="box box-default box-solid" style="margin-bottom:5px;">
            <div class="box-header with-border">
              	<h3 class="box-title">单位基本信息</h3>
              	<div class="box-tools pull-right">
                	<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                	</button>
             	</div>
              	<!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
            	<div class="row">
            		<div class="col-md-6">
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;单位名称:</label>
		                  	<div class="col-sm-9">
	                    		<input type="text" class="form-control" name="useunitName" th:value="${projectInfo.useunitName}"/>
		                  	</div>
		                </div>
            		</div>
            		<div class="col-md-6">
            			<div class="form-group">
		                  	<label class="col-sm-4 control-label"><i style="color:red;">*</i>&nbsp;统一社会信用代码:</label>
		                  	<div class="col-sm-8">
	                    		<input type="text" class="form-control" name="socialCreditCode" th:value="${projectInfo.socialCreditCode}"/>
		                  	</div>
		                </div>
            		</div>
            		<div class="col-md-6">
            			<div class="form-group">
		                  	<label class="col-sm-3 control-label"><i style="color:red;">*</i>&nbsp;单位类型:</label>
		                  	<div class="col-sm-9">
		                  		<select name="useunitType.id" class="form-control">
		                  			<option th:each="useunitType : ${useunitTypes}" th:value="${useunitType.id}" th:text="${useunitType.typeName}" th:selected="${projectInfo.useunitType}?${projectInfo.useunitType.id==useunitType.id}:null"></option>
		                  		</select>
		                  	</div>
		                </div>
            		</div>
            	</div>
            </div>
        </div>
        
        <div th:if="${projectInfo.id}" class="box box-default box-solid" style="margin-bottom:5px;">
            <div class="box-header with-border">
              	<h3 class="box-title">工程状态&nbsp;<i class="fa fa-plus" onclick="fnEditProjectStatus()"  style="color:#444;cursor: pointer;"></i></h3>
              	<div class="box-tools pull-right">
                	<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                	</button>
             	</div>
              	<!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
            	<table class="table table-bordered">
	                <tr>
	                  <th style="width: 10px">序</th>
	                  <th>工程状态</th>
	                  <th>录入时间</th>
	                  <th>说明</th>
	                  <th width="150">操作</th>
	                </tr>
	                <tbody id="project_status_tbody">
		                <tr th:each="pstatus:${projectStatus}">
		                	<td th:text="${pstatusStat.count}"></td>
		                	<td th:text="${pstatus.status}==0?'开工':(${pstatus.status}==1?'停工':(${pstatus.status}==2?'复工':'结束'))"></td>
		                	<td th:text="${pstatus.createTime}?${#dates.format(pstatus.createTime, 'yyyy-MM-dd HH:mm')}:''"></td>
		                	<td th:text="${pstatus.remark}"></td>
		                	<td>
		                		<a th:href="'javascript:fnEditProjectStatus(\''+${pstatus.id}+'\')'">修改</a>&nbsp;
		                		<a th:href="'javascript:fnViewProjectStatus(\''+${pstatus.id}+'\')'">查看</a>&nbsp;
		                		<a th:href="'javascript:fnDelProjectStatus(\''+${pstatus.id}+'\')'">删除</a>
		                	</td>
		                </tr>
	                </tbody>
              	</table>
            </div>
        </div>
        
        <div class="box box-default box-solid" style="margin-bottom:5px;">
            <div class="box-header with-border">
              	<h3 class="box-title">材料管理</h3>
              	<div class="box-tools pull-right">
                	<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                	</button>
             	</div>
              	<!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
            	<table class="table table-bordered">
	                <tr>
	                  <th style="width: 10px">序</th>
	                  <th>电子件名称</th>
	                  <th>电子件列表(点击查看)</th>
	                  <th>说明</th>
	                  <th width="100">管理</th>
	                </tr>
	                <tbody>
		                <tr th:each="folder:${projectFolders}">
		                  <td th:text="${folderStat.count}"></td>
		                  <td th:text="${folder.folderName}"></td>
		                  <td th:if="${#lists.isEmpty(annexes)}">无</td>
		                  <td th:if="${#lists.isEmpty(annexes)}==false">
		                  	<p th:each="annex:${annexes}" th:if="${annex.annexFolder.id}==${folder.id}">
		                  		<input type="hidden" name="fieldIds" th:value="${annex.id}"/>
		                  		<a href="javascript:" th:onclick="'window.top.openCommonViewImgWin(\''+${annex.id}+'\')'" th:text="${annex.name}+${annex.extendName}"></a>
		                  	</p>
		                  </td>
		                  <td th:text="${folder.remark}"></td>
		                  <td><a href="javascript:" th:onclick="'fnEditAnnex(this,'+${folder.id}+',\''+${folder.folderName}+'\')'">扫描件管理</a></td>
		                </tr>
	                </tbody>
              	</table>
            </div>
        </div>
        </form>
        <div class="row" style="margin-top:20px;">
        	<div class="col-md-6">
	        	<button type="button" class="btn btn-block btn-default" onclick="fnCloseWin()" style="width:80px;float:right;">取消</button>
	        </div>
	        <div class="col-md-6">
	        	<button type="button" class="btn btn-block btn-primary" onclick="fnSaveEditForm()" style="width:80px;">保存</button>
	        </div>
        </div>
	</section>
	<!-- 添加编辑工程状态窗口 -->
	<div th:if="${projectInfo.id}" class="modal fade" id="project_status_modal" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
		<div class="modal-dialog" style="width:900px;">
			<div class="modal-content">
				<div class="modal-header">
				 	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">工程状态信息</h4>
				</div>
				<div class="modal-body" style="overflow: hidden; padding: 10px;">
					<form id="edit_status_form" class="form-horizontal">
	            		<input type="hidden" name="id" value=""/>
	            		<input type="hidden" name="createTime" value=""/>
	            		<input type="hidden" name="projectInfo.id" th:value="${projectInfo.id}"/>
	            		<input type="hidden" name="annexIds" value=""/>
	            		<div class="box box-default box-solid" style="margin-bottom:5px;">
				            <div class="box-header with-border">
				              	<h3 class="box-title">基本信息</h3>
				              	<div class="box-tools pull-right">
				                	<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
				                	</button>
				             	</div>
				              	<!-- /.box-tools -->
				            </div>
				            <!-- /.box-header -->
				            <div class="box-body" style="display: block;">
				            	<table class="littleTable" style="width:100%;">
				            		<tr>
				            			<td style="width:15%;text-align: right;">
				            				<label class="control-label"><i style="color:red;">*</i>&nbsp;工程名称:</label>
				            			</td>
				            			<td style="width:35%">
				            				<input type="text" class="form-control" id="project_info_name" readonly="readonly" th:value="${projectInfo.projectName}"/>
				            			</td>
										<td style="width:15%;text-align: right;">
											<label class="control-label"><i style="color:red;">*</i>&nbsp;工程状态:</label>
										</td>	
										<td>
											<select class="form-control" name="status">
												<option value="0">开工</option>
				                    			<option value="1">停工</option>
				                    			<option value="2">复工</option>
				                    			<option value="3">结束</option>
				                    		</select>
										</td>			            			
				            		</tr>
				            		<tr>
				            			<td style="width:15%;text-align: right;">
				            				<label class="control-label"><i style="color:red;">*</i>&nbsp;说明:</label>
				            			</td>
				            			<td colspan="3">
				            				<textarea class="form-control" name="remark" placeholder="请输入说明情况"></textarea>
				            			</td>
				            		</tr>
				            	</table>
				            </div>
				        </div>
				        <div class="box box-default box-solid" style="margin-bottom:5px;">
				            <div class="box-header with-border">
				              	<h3 class="box-title">材料管理</h3>
				              	<div class="box-tools pull-right">
				                	<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				             	</div>
				              	<!-- /.box-tools -->
				            </div>
				            <!-- /.box-header -->
				            <div class="box-body" style="display: block;">
				            	<table class="table table-bordered">
					                <tr>
					                  <th style="width: 10px">序</th>
					                  <th>电子件名称</th>
					                  <th>电子件列表(点击查看)</th>
					                  <th>说明</th>
					                  <th width="100">管理</th>
					                </tr>
					                <tbody>
						                <tr th:each="folder:${statusFolders}">
						                  <td th:text="${folderStat.count}"></td>
						                  <td th:text="${folder.folderName}"></td>
						                  <td name="status_annexes_td">无</td>
						                  <td th:text="${folder.remark}"></td>
						                  <td><a href="#" th:onclick="'fnEditAnnexPS(this,'+${folder.id}+',\''+${folder.folderName}+'\')'">扫描件管理</a></td>
						                </tr>
					                </tbody>
				              	</table>
				            </div>
			           	</div>
	            	</form>
				</div>
				<div class="modal-footer">
					 <button type="button" onclick="fnSaveProjectStatus(this,'next')" class="btn btn-primary">添加并继续</button> 
					 <button type="button" onclick="fnSaveProjectStatus(this,'close')" class="btn btn-primary">保存</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 工程状体查看 -->
	<div th:if="${projectInfo.id}" class="modal fade" id="project_status_view_modal" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
		<div class="modal-dialog" style="width:900px;">
			<div class="modal-content">
				<div class="modal-header">
				 	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">工程状态信息</h4>
				</div>
				<div class="modal-body" style="overflow: hidden; padding: 10px;">
					<form id="view_status_form" class="form-horizontal">
	            		<div class="box box-default box-solid" style="margin-bottom:5px;">
				            <div class="box-header with-border">
				              	<h3 class="box-title">基本信息</h3>
				              	<div class="box-tools pull-right">
				                	<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
				                	</button>
				             	</div>
				              	<!-- /.box-tools -->
				            </div>
				            <!-- /.box-header -->
				            <div class="box-body" style="display: block;">
				            	<table class="littleTable" style="width:100%;">
				            		<tr>
				            			<td style="width:15%;text-align: right;">
				            				<label class="control-label"><i style="color:red;">*</i>&nbsp;工程名称:</label>
				            			</td>
				            			<td style="width:35%">
				            				<div class="control-label" th:text="${projectInfo.projectName}"></div>
				            			</td>
										<td style="width:15%;text-align: right;">
											<label class="control-label"><i style="color:red;">*</i>&nbsp;工程状态:</label>
										</td>	
										<td>
											<div class="control-label" id="div_status"></div>
										</td>			            			
				            		</tr>
				            		<tr>
				            			<td style="width:15%;text-align: right;">
				            				<label class="control-label"><i style="color:red;">*</i>&nbsp;说明:</label>
				            			</td>
				            			<td colspan="3">
				            				<div class="control-label" id="div_remark"></div>
				            			</td>
				            		</tr>
				            	</table>
				            </div>
				        </div>
				        <div class="box box-default box-solid" style="margin-bottom:5px;">
				            <div class="box-header with-border">
				              	<h3 class="box-title">材料管理</h3>
				              	<div class="box-tools pull-right">
				                	<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				             	</div>
				              	<!-- /.box-tools -->
				            </div>
				            <!-- /.box-header -->
				            <div class="box-body" style="display: block;">
				            	<table class="table table-bordered">
					                <tr>
					                  <th style="width: 10px">序</th>
					                  <th>电子件名称</th>
					                  <th>电子件列表(点击查看)</th>
					                  <th>说明</th>
					                </tr>
					                <tbody>
						                <tr th:each="folder:${statusFolders}">
						                  <td th:text="${folderStat.count}"></td>
						                  <td th:text="${folder.folderName}"></td>
						                  <td name="status_annexes_td">无</td>
						                  <td th:text="${folder.remark}"></td>
						                </tr>
					                </tbody>
				              	</table>
				            </div>
			           	</div>
			        </form>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:src="@{/static/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<script type="text/javascript" th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
<!-- Slimscroll -->
<script type="text/javascript" th:src="@{/static/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<!-- bootstrap datepicker -->
<script type="text/javascript" th:src="@{/static/plugins/datepicker/bootstrap-datepicker.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/static/dist/js/app.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/bootstrap-validator/js/bootstrapValidator.min.js}"></script>
<!-- bootstrap fileinput js -->
<script th:src="@{/static/plugins/bootstrap-fileinput/js/plugins/sortable.min.js}" type="text/javascript"></script>
<script th:src="@{/static/plugins/bootstrap-fileinput/js/fileinput.min.js}" type="text/javascript"></script>
<script th:src="@{/static/plugins/bootstrap-fileinput/js/locales/fr.js}" type="text/javascript"></script>
<script th:src="@{/static/plugins/bootstrap-fileinput/js/locales/zh.js}" type="text/javascript"></script>
<script th:src="@{/static/plugins/bootstrap-fileinput/themes/explorer-fa/theme.js}" type="text/javascript"></script>
<script th:src="@{/static/plugins/bootstrap-fileinput/themes/fa/theme.js}" type="text/javascript"></script>
<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/
	var CTX = [[@{/}]];
	var STATIC = [[@{/static/}]];
	$(function(){
		//Date picker
	    $('.datepicker').datepicker({
	    	format:'yyyy-mm-dd',
	    	language:'zh-CN',
	      	autoclose: true
	    }).on('hide',function(){
			if($(this).val()!=''){
				var bootstrapValidator = $("#myform").data('bootstrapValidator');  
			    bootstrapValidator.updateStatus($(this).attr('name'), 'NOT_VALIDATED').validateField($(this).attr('name'));
			}
		});
		var initPic = $('#myform').find("input[name='picId']").val();
	  	//初始化上传控件
	    $("input[name='picFile']").fileinput({
		    overwriteInitial: true,
		    maxFileSize: 200,
		    showClose: false,
		    showCaption: false,
	        showUpload: false,
		    browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
		    removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
		    removeTitle: 'Cancel or reset changes',
		    elErrorContainer: '#kv-avatar-errors-1',
		    msgErrorClass: 'alert alert-block alert-danger',
		    defaultPreviewContent: (initPic==''||initPic==null)?'<img src="'+CTX+'static/images/nopic.png"/>':'<img src="'+CTX+'annex/get-file-stream?annexId='+initPic+'"/>',
		    layoutTemplates: {main2: '{preview} {remove} {browse}'},
		    allowedFileExtensions: ["jpg", "png", "gif"]
		}).on('filecleared', function(event) {
			$('#myform').find("input[name='picId']").val('');
		});
		
		$('#myform').bootstrapValidator({
			message: '此处输入有误',
	        excluded: [':disabled'],
	        feedbackIcons: {
	            valid: 'glyphicon glyphicon-ok',
	            invalid: 'glyphicon glyphicon-remove',
	            validating: 'glyphicon glyphicon-refresh'
	        },
	        fields:{
	        	'projectLicence':{
	        		message: '施工许可证输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '施工许可证不可为空'
	                    }
	                }
	        	},
	        	'projectName':{
	        		message: '工程名称输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '工程名称不可为空'
	                    }
	                }
	        	},
	        	'lngLat':{
	        		message: 'GIS经纬度输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: 'GIS经纬度不可为空'
	                    }
	                }
	        	},
	        	'labourCost':{
	        		message: '清单人工费输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '清单人工费不可为空'
	                    },
	                    regexp:{
	                    	regexp: /^\d+(\.\d+)?$/,// /^[-+]?\d+(\.\d+)?$/,
	                    	message: '非法数值'
	                    }
	                }
	        	},
	        	'buildArea':{
	        		message: '建设面积输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '建设面积不可为空'
	                    },
	                    regexp:{
	                    	regexp: /^\d+(\.\d+)?$/,// /^[-+]?\d+(\.\d+)?$/,
	                    	message: '非法数值'
	                    }
	                }
	        	},
	        	'cityConRecordNum':{
	        		message: '市合同备案编号输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '市合同备案编号不可为空'
	                    }
	                }
	        	},
	        	'conAmount':{
	        		message: '合同金额输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '合同金额不可为空'
	                    },
	                    regexp:{
	                    	regexp: /^\d+(\.\d+)?$/,// /^[-+]?\d+(\.\d+)?$/,
	                    	message: '非法数值'
	                    }
	                }
	        	},
	        	'buildCompany':{
	        		message: '建设单位输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '建设单位不可为空'
	                    }
	                }
	        	},
	        	'contractCompany':{
	        		message: '总承包单位输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '总承包单位不可为空'
	                    }
	                }
	        	},
	        	'supervisorCompany':{
	        		message: '监理单位输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '监理单位不可为空'
	                    }
	                }
	        	},
	        	'projectAddress':{
	        		message: '工程地址输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '工程地址不可为空'
	                    }
	                }
	        	},
	        	'startDate':{
	        		message: '开工日期输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '开工日期不可为空'
	                    }
	                }
	        	},
	        	'planEndDate':{
	        		message: '计划竣工日期输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '计划竣工日期不可为空'
	                    }
	                }
	        	},
	        	'measureAmount':{
	        		message: '安全文明施工措施费金额输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '安全文明施工措施费金额不可为空'
	                    },
	                    regexp:{
	                    	regexp: /^\d+(\.\d+)?$/,// /^[-+]?\d+(\.\d+)?$/,
	                    	message: '非法数值'
	                    }
	                }
	        	},
	        	'advanceAmount':{
	        		message: '预付款金额输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '预付款金额不可为空'
	                    },
	                    regexp:{
	                    	regexp: /^\d+(\.\d+)?$/,// /^[-+]?\d+(\.\d+)?$/,
	                    	message: '非法数值'
	                    }
	                }
	        	},
	        	'useunitName':{
	        		message: '单位名称输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '单位名称不可为空'
	                    }
	                }
	        	},
	        	'socialCreditCode':{
	        		message: '统一社会信用代码输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '统一社会信用代码不可为空'
	                    }
	                }
	        	},
	        	'useunitType.id':{
	        		message: '单位类型输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '单位类型不可为空'
	                    }
	                }
	        	},
	        	'location':{
	        		message: '工程所在地选择不合法',
	                validators: {
	                    notEmpty: {
	                        message: '工程所在地不可为空'
	                    }
	                }
	        	},
	        	'projectNature':{
	        		message: '工程性质选择不合法',
	                validators: {
	                    notEmpty: {
	                        message: '工程性质不可为空'
	                    }
	                }
	        	}
	        }
		});
		if($('#project_status_modal').length>0){
			//重置工程状态编辑框数据
			$('#project_status_modal').on('hidden.bs.modal',function(){
				fnResetProjectStatusForm();
			});
		}
		if($('#project_status_view_modal').length>0){
			$('#project_status_view_modal').on('hidden.bs.modal',function(){
				$('#div_status').html('');
				$('#div_remark').html('');
				$('#view_status_form').find("td[name='status_annexes_td']").html('无');
			});
		}
		$('#tianditu_modal').on('shown.bs.modal',function(){
			if(map==null){
				map = new AMap.Map('mapDiv',{
		            resizeEnable: true,
		            zoom: 12,
		            center: [118.10, 24.46]
		        });
				
			 	map.on('click', function(e) {
			 		if(marker==null){
		 			 	marker = new AMap.Marker({
			 	            icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
			 	            position: e.lnglat
			 	        });
			 	        marker.setMap(map);
			 		}else{
			 			marker.setPosition(e.lnglat);
			 		}
			    });
			}
			var lngLat = $('#myform').find("input[name='lngLat']").val();
			if(lngLat!=null&&lngLat!=''){
				lngLat = lngLat.split(',');
				if(marker==null){
					marker = new AMap.Marker({
		 	            icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
		 	            position: [Number(lngLat[0]),Number(lngLat[1])]
		 	        });
		 	        marker.setMap(map);
					
	        	}else{
	        		marker.setPosition(new AMap.LngLat(Number(lngLat[0]),Number(lngLat[1])));
	        	}
				map.setZoomAndCenter(15,marker.getPosition());
			}
		});
	});
	
	function fnChooseLnglat(){
		var lngLat = $('#myform').find("input[name='lngLat']").val();
		var width = $(window.parent).width()*3/4;//定义长度
		var height = $(window.parent).height()-50;
		var url = CTX+"main/select-lnglat?lngLat="+lngLat;
		top.openCommonFrameWin(url,width,height,function(returnData){
			$('#myform').find("input[name='lngLat']").val(returnData);
		});
	}
	
	function fnLoadProjectStatus(){
		var projectInfoId = $('#myform').find("input[name='id']").val();
		$.ajax({
			url: CTX+'project-info/query-project-status',
			type: 'get',
			dataType: 'json',
			data: {projectInfoId:projectInfoId},
			timeout: 10000,
			success: function(json){
				if(json){
					var htmlStr = '';
					$.each(json,function(i,ps){
						htmlStr += 
			                '<tr>'+
			                '	<td>'+(i+1)+'</td>'+
			                '	<td>'+(ps.status==0?'开工':ps.status==1?'停工':ps.status==2?'复工':'结束')+'</td>'+
			                '	<td>'+new Date(ps.createTime).Format('yyyy-MM-dd hh:mm')+'</td>'+
			                '	<td>'+ps.remark+'</td>'+
			                '	<td>'+
			                '		<a href="javascript:fnEditProjectStatus(\''+ps.id+'\')">修改</a>&nbsp;'+
			                '		<a href="javascript:fnViewProjectStatus(\''+ps.id+'\')">查看</a>&nbsp;'+
			                '		<a href="javascript:fnDelProjectStatus(\''+ps.id+'\')">删除</a>'+
			                '	</td>'+
			                '</tr>'
					});
					$('#project_status_tbody').html(htmlStr);
				}
			}
		});
	}
	//重置工程状态表单数据
	function fnResetProjectStatusForm(){
		$('#edit_status_form').find("input[name='id']").val('');
		$('#edit_status_form').find("input[name='annexIds']").val('');
		$('#edit_status_form').find("input[name='createTime']").val('');
		$('#edit_status_form').find("textarea[name='remark']").val('');
		$('#edit_status_form').find("select[name='status']").val('0');
		$('#edit_status_form').find("td[name='status_annexes_td']").html('无');
	}
	//新增/编辑工程状态信息
	function fnEditProjectStatus(id){
		$('#project_status_modal').modal('toggle');
		if(id){
			$.ajax({
				url: CTX+'project-info/find-project-status',
				type: 'get',
				data:{id:id},
				dataType: 'json',
				timeout: 10000,
				success: function(json){
					if(json){
						var ps = json.projectStatus;
						$('#edit_status_form').find("input[name='id']").val(ps.id);
						$('#edit_status_form').find("input[name='annexIds']").val(ps.annexIds);
						$('#edit_status_form').find("input[name='createTime']").val(new Date(ps.createTime).Format('yyyy-MM-dd hh:mm:ss'));
						$('#edit_status_form').find("textarea[name='remark']").val(ps.remark);
						$('#edit_status_form').find("select[name='status']").val(ps.status);
						if(json.annexes!=null){
							var htmlStr = '';
							$.each(json.annexes,function(i,annex){
								htmlStr += 
									'<p>'+
					              	'	<input type="hidden" name="ps_fieldIds" value="'+annex.id+'"/>'+
					              	'	<a href="javascript:window.top.openCommonViewImgWin(\''+annex.id+'\')">'+annex.name+'.'+annex.extendName+'</a>'+
					              	'</p>';
							});
							$('#edit_status_form').find("td[name='status_annexes_td']").html(htmlStr);
						}else{
							$('#edit_status_form').find("td[name='status_annexes_td']").html('无');
						}
					}
				},
				error: function(){
					alert('请求超时或系统出错!');
					$('#project_status_modal').modal('toggle');
				}
			});
		}
	}
	
	//查看工程状态信息
	function fnViewProjectStatus(id){
		$('#project_status_view_modal').modal('toggle');
		if(id){
			$.ajax({
				url: CTX+'project-info/find-project-status',
				type: 'get',
				data:{id:id},
				dataType: 'json',
				timeout: 10000,
				success: function(json){
					if(json){
						$('#div_status').html(json.projectStatus.status==1?'停工':(json.projectStatus.status==2?'复工':'结束'));
						$('#div_remark').html(json.projectStatus.remark);
						if(json.annexes!=null){
							var htmlStr = '';
							$.each(json.annexes,function(i,annex){
								htmlStr += 
									'<p>'+
					              	'	<a href="javascript:window.top.openCommonViewImgWin(\''+annex.id+'\')">'+annex.name+'.'+annex.extendName+'</a>'+
					              	'</p>';
							});
							$('#view_status_form').find("td[name='status_annexes_td']").html(htmlStr);
						}else{
							$('#view_status_form').find("td[name='status_annexes_td']").html('无');
						}
					}
				},
				error: function(){
					alert('请求超时或系统出错!');
					$('#project_status_view_modal').modal('toggle');
				}
			});
		}
	}
	
	//删除工程状态信息
	function fnDelProjectStatus(id){
		if(window.confirm('确定要删除该项吗?')){
			$.ajax({
				url: CTX+'project-info/del-project-status',
				type: 'post',
				data:{id:id},
				dataType: 'json',
				timeout: 10000,
				success: function(json){
					if(json.success){
						fnLoadProjectStatus();
					}
				},
				error: function(){
					alert('请求超时或系统出错!');
				}
			});
		}
	}
	
	//保存工程状态信息
	function fnSaveProjectStatus(_this,type){
		if($('#edit_status_form').find("textarea[name='remark']").val()==''){
			alert('请输入说明情况');
			return;
		}
		var oldbtnTxt = $(_this).html();
		$(_this).attr('disabled','disabled');
		$(_this).html('保存中...');
		$.ajax({
			url: CTX+'project-info/save-project-status',
			type: 'post',
			dataType:'json',
			data: $("#edit_status_form").serialize(),
			timeout: 15000,
			success: function(json){
				alert(json.msg);
				if(json.success){
					if(type=='next'){
						fnResetProjectStatusForm();
					}else{
						$('#project_status_modal').modal('toggle');
					}
					fnLoadProjectStatus();
					$("#myform input[name='status']").val(json.lastStatus);
				}
				$(_this).removeAttr('disabled');
				$(_this).html(oldbtnTxt);
			},
			error: function(){
				alert('请求超时或系统出错!');
				$(_this).removeAttr('disabled');
				$(_this).html(oldbtnTxt);
			}
		});
	}
	
	
	function fnSaveEditForm(){
		var result = $('#myform').data('bootstrapValidator');
		result.validate();
		if(result.isValid()){
			loading('正在保存,请稍后...');
			$.ajax({
				url: CTX+'project-info/save-project-info',
				type: 'post',
				processData: false,
		        contentType: false,
		        cache: false,
				dataType: 'json',
				data: new FormData($('#myform')[0]),//带附件异步提交
				timeout: 15000,
				success: function(json){
					loaded();
					alert(json.msg);
					if(json.success){
						window.parent.closeCommonFrameWin(json.success);
					}
				},
				error: function(){
					alert('请求超时或系统出错!');
					loaded();
				}
			});
		}
	}
	
	function fnCloseWin(){
		window.parent.closeCommonFrameWin();
	}
	
	//工程信息-扫描件管理
	function fnEditAnnex(tdEl,folderId,folderName){
		var annexIdStr = '';
		var fields_tdEl = $(tdEl).parent().prev().prev();
		if(fields_tdEl.find("input[name='fieldIds']").length>0){
			fields_tdEl.find("input[name='fieldIds']").each(function(){
				annexIdStr += ','+$(this).val();
			});
			annexIdStr = annexIdStr.substring(1);
		}
		//调用统一附件管理页面
		window.top.openUploadAnnexWin({
			folderId:folderId,
			folderName:folderName,
			annexIds:annexIdStr
		},function(data){
			//附件管理回调
			if(data.length>0){
				var htmlStr = '';
				$.each(data,function(i,annex){
					htmlStr += 
						'<p>'+
		              	'	<input type="hidden" name="fieldIds" value="'+annex.id+'"/>'+
		              	'	<a href="javascript:window.top.openCommonViewImgWin(\''+annex.id+'\')">'+annex.name+'.'+annex.extendName+'</a>'+
		              	'</p>';
				});
				$(tdEl).parent().prev().prev().html(htmlStr);
			}else{
				$(tdEl).parent().prev().prev().html('无');
			}
			if($("input[name='fieldIds']").length>0){
				var annexIdStr = '';
				$("input[name='fieldIds']").each(function(){
					annexIdStr += ','+$(this).val();
				});
				$('#myform').find("input[name='annexIds']").val(annexIdStr.substring(1));
			}else{
				$('#myform').find("input[name='annexIds']").val('');
			}
			//单独保存附件字段(可选，也可提交整个表单保存)
			fnSaveProjectInfoAnnexes();
		});
	}
	
	function fnSaveProjectInfoAnnexes(){
		var projectInfoId = $('#myform').find("input[name='id']").val();
		if(projectInfoId!=''){
			var annexIds = $('#myform').find("input[name='annexIds']").val();
			$.ajax({
				url: CTX+'project-info/save-project-info-annexes',
				type: 'post',
				dataType: 'json',
				data: {projectInfoId:projectInfoId,annexIds:annexIds},
				timeout: 10000,
				success: function(json){
					if(json.success){}
				},
				error: function(){
					alert('请求超时或系统出错!');
				}
			});
		}
	}
	
	//工程状态-扫描件管理
	function fnEditAnnexPS(tdEl,folderId,folderName){
		var annexIdStr = '';
		var fields_tdEl = $(tdEl).parent().prev().prev();
		if(fields_tdEl.find("input[name='ps_fieldIds']").length>0){
			fields_tdEl.find("input[name='ps_fieldIds']").each(function(){
				annexIdStr += ','+$(this).val();
			});
			annexIdStr = annexIdStr.substring(1);
		}
		//调用统一附件管理页面
		window.top.openUploadAnnexWin({
			folderId:folderId,
			folderName:folderName,
			annexIds:annexIdStr
		},function(data){
			//附件管理回调
			if(data.length>0){
				var htmlStr = '';
				$.each(data,function(i,annex){
					htmlStr += 
						'<p>'+
		              	'	<input type="hidden" name="ps_fieldIds" value="'+annex.id+'"/>'+
		              	'	<a href="javascript:window.top.openCommonViewImgWin(\''+annex.id+'\')">'+annex.name+'.'+annex.extendName+'</a>'+
		              	'</p>';
				});
				$(tdEl).parent().prev().prev().html(htmlStr);
			}else{
				$(tdEl).parent().prev().prev().html('无');
			}
			if($("input[name='ps_fieldIds']").length>0){
				var annexIdStr = '';
				$("input[name='ps_fieldIds']").each(function(){
					annexIdStr += ','+$(this).val();
				});
				$("#edit_status_form").find("input[name='annexIds']").val(annexIdStr.substring(1));
			}else{
				$("#edit_status_form").find("input[name='annexIds']").val('');
			}
			//单独保存附件字段(可选，也可提交整个表单保存)
			fnSaveProjectStatusAnnexes();
		});
	}
	
	function fnSaveProjectStatusAnnexes(){
		var psId = $('#edit_status_form').find("input[name='id']").val();
		if(psId!=''){
			var annexIds = $('#edit_status_form').find("input[name='annexIds']").val();
			$.ajax({
				url: CTX+'project-info/save-project-status-annexes',
				type: 'post',
				dataType: 'json',
				data: {projectStatusId:psId,annexIds:annexIds},
				timeout: 10000,
				success: function(json){
					if(json.success){}
				},
				error: function(){
					alert('请求超时或系统出错!');
				}
			});
		}
	}
/*]]>*/		
</script>
</html>
