<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
	<title>企业权限分配</title>
	<link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/dist/css/font-awesome.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/dist/css/ionicons.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/plugins/iCheck/all.css}"/>
	<link rel="stylesheet" th:href="@{/static/css/common.css}"/>
	<link rel="stylesheet" th:href="@{/static/dist/css/AdminLTE.css}" />
	<link rel="stylesheet" th:href="@{/static/dist/css/skins/_all-skins.min.css}" />
	<style type="text/css">
		body{background-color: #ecf0f5;}
		.page-header{font-size:15px;font-weight: bold;}
		.sidebar-menu>li>label {
		    padding: 5px 5px 5px 5px;
		    display: block;
		}
		.sidebar-menu .treeview-menu>li>label {
		    padding: 5px 5px 5px 15px;
		    display: block;
		    font-size: 14px;
		}
		.my-border{
			border: 1px solid #ddd;
    		margin-bottom: 5px;
   		    width: 160px;
    		margin-right: 5px;
    		float:left;
		}
		.vertical-tab > li.active{
			background-color: #eee;
		}
		.my-header{
			width: 100%;
		    background-color: #eee;
		    padding: 5px;
		    color: #888;
		}
		.nav-tabs-custom > .nav-tabs > li {
		    min-width:70px;
		}
	</style>
</head>
<body>
	<section class="content">
	<form id="saveForm">
		<input type="hidden" name="roleId" th:value="${adminRole.id}"/>
		<div class="nav-tabs-custom">
            <ul class="nav nav-tabs" id="tab_menu_main">
              <li th:each="mainAuth:${mainAuths}" th:class="${mainAuthStat.count}==1?'active':''">
              	<a th:href="'#tab_main_'+${mainAuthStat.count}" data-toggle="tab">
              		<label style="position: absolute;top:0;right:3px;">
                    	<input type="checkbox" name="authIds" class="minimal" fieldType="checkbox-main" th:value="${mainAuth.id}" th:checked="${#sets.contains(adminAuths, mainAuth)}"/>
                 	</label>
                 	<div style="text-align: center;">
                 		<i th:class="${mainAuth.icon}" style="font-size: 20px;"></i><br/>
                 		<span th:text="${mainAuth.name}"></span>
                 	</div>
              	</a>
              </li>
              <li class="pull-right header" style="padding-top:10px;"><i class="fa fa-th"></i> 主菜单</li>
            </ul>
            <div class="tab-content">
              <div th:each="mainAuth:${mainAuths}" th:class="${mainAuthStat.count}==1?'tab-pane active':'tab-pane'" th:id="'tab_main_'+${mainAuthStat.count}">
                <div class="row">
                	<div class="col-md-5">
                		<div class="box box-default">
				            <div class="box-header with-border">
				              <h3 class="box-title">左侧树形功能菜单</h3>
				            </div>
				            <!-- /.box-header -->
				            <div class="box-body" style="min-height:280px;">
				            	<ul class="sidebar-menu">
							        <li class="treeview active" th:each="leftAuth:${leftAuths}" th:if="${leftAuth.parentId} eq ${mainAuth.id} and ${#strings.contains(leftAuth.treeCode,mainAuth.id)}">
							        	<label>
				                    		<input type="checkbox" name="authIds" class="minimal" fieldType="checkbox-left" th:value="${leftAuth.id}" th:checked="${#sets.contains(adminAuths, leftAuth)}"/>
							        		<i th:class="${leftAuth.icon}"></i> <span th:text="${leftAuth.name}"></span>
							        	</label>
							        	<ul class="treeview-menu menu-open" th:if="${leftAuth.url}=='window:' or ${leftAuth.url}=='frame:'">
							        		<li class="treeview active" th:each="subauth:${leftAuths}" th:if="${subauth.parentId} eq ${leftAuth.id} and ${#strings.contains(subauth.treeCode,mainAuth.id)}">
							        			<label>
							                    	<input type="checkbox" name="authIds" class="minimal" fieldType="checkbox-left" th:value="${subauth.id}" th:checked="${#sets.contains(adminAuths, subauth)}"/>
							          				<i th:class="${subauth.icon}"></i> <span th:text="${subauth.name}"></span>
							          			</label>
							          			<ul class="treeview-menu menu-open" th:if="${leftAuth.url}=='window:' or ${leftAuth.url}=='frame:'">
									        		<li class="treeview active" th:each="subauth2:${leftAuths}" th:if="${subauth2.parentId} eq ${subauth.id} and ${#strings.contains(subauth2.treeCode,mainAuth.id)}">
									        			<label>
									                    	<input type="checkbox" name="authIds" class="minimal" fieldType="checkbox-left" th:value="${subauth2.id}" th:checked="${#sets.contains(adminAuths, subauth2)}"/>
									          				<i th:class="${subauth2.icon}"></i> <span th:text="${subauth2.name}"></span>
									          			</label>
									        		</li>
									        	</ul>
							        		</li>
							        	</ul>
							        </li>
						      	</ul>
				          	</div>
			         	</div>
                	</div>
                	<div class="col-md-7">
                		<div class="box box-default">
				            <div class="box-header with-border">
				              <h3 class="box-title">桌面功能菜单</h3>
				            </div>
				            <!-- /.box-header -->
				            <div class="box-body" style="min-height:280px;">
				            	<div class="row">
				            		<div class="col-xs-12">  
								        <ul class="nav nav-tab vertical-tab" role="tablist">  
								            <li th:each="deskAuth:${deskAuths}" th:if="${deskAuth.parentId} eq ${mainAuth.id}" role="presentation" class="my-border">  
								                <a th:href="'#tab_desk_'+${deskAuthStat.count}" role="tab" data-toggle="tab">
									            	<label style="position: absolute;top:0;right:3px;">
								                    	<input type="checkbox" name="authIds" class="minimal" fieldType="checkbox-desk" th:value="${deskAuth.id}" th:checked="${#sets.contains(adminAuths, deskAuth)}"/>
								                 	</label>
								                 	<img th:src="@{/static/wapp/icons/}+${deskAuth.icon}" style="width:25px;" class="img-polaroid wapp-icon handle"/> <span th:text="${deskAuth.name}"></span>
								                </a>  
								            </li>  
								        </ul>  
								    </div>  
								    <div class="tab-content vertical-tab-content col-xs-12">  
								        <div role="tabpanel" th:each="deskAuth:${deskAuths}" th:if="${deskAuth.parentId} eq ${mainAuth.id}" class="tab-pane"  th:id="'tab_desk_'+${deskAuthStat.count}">
								        	<div class="my-header" th:text="${deskAuth.name}+'-子菜单'"></div>
								        	<ul class="sidebar-menu">
										        <li class="treeview active" th:each="dlAuth:${deskLeftAuths}" th:if="${dlAuth.parentId} eq ${deskAuth.id} and ${#strings.contains(dlAuth.treeCode,deskAuth.id)}">
										        	<label>
							                    		<input type="checkbox" name="authIds" class="minimal" fieldType="checkbox-desk-chilid" th:value="${dlAuth.id}" th:checked="${#sets.contains(adminAuths, dlAuth)}"/>
										        		<i th:class="${dlAuth.icon}"></i> <span th:text="${dlAuth.name}"></span>
										        	</label>
										        	<ul class="treeview-menu menu-open" th:if="${dlAuth.url}=='window:' or ${dlAuth.url}=='frame:'">
										        		<li class="treeview active" th:each="subdlauth:${deskLeftAuths}" th:if="${subdlauth.parentId} eq ${dlAuth.id} and ${#strings.contains(subdlauth.treeCode,deskAuth.id)}">
										        			<label>
										                    	<input type="checkbox" name="authIds" class="minimal" fieldType="checkbox-desk-chilid" th:value="${subdlauth.id}" th:checked="${#sets.contains(adminAuths, subdlauth)}"/>
										          				<i th:class="${subdlauth.icon}"></i> <span th:text="${subdlauth.name}"></span>
										          			</label>
										          			<ul class="treeview-menu menu-open" th:if="${dlAuth.url}=='window:' or ${dlAuth.url}=='frame:'">
												        		<li class="treeview active" th:each="subdlauth2:${deskLeftAuths}" th:if="${subdlauth2.parentId} eq ${subdlauth.id} and ${#strings.contains(subdlauth2.treeCode,deskAuth.id)}">
												        			<label>
												                    	<input type="checkbox" name="authIds" class="minimal" fieldType="checkbox-desk-chilid" th:value="${subdlauth2.id}" th:checked="${#sets.contains(adminAuths, subdlauth2)}"/>
												          				<i th:class="${subauth2.icon}"></i> <span th:text="${subdlauth2.name}"></span>
												          			</label>
												        		</li>
												        	</ul>
										        		</li>
										        	</ul>
										        </li>
									      	</ul>
								        </div>  
								    </div> 
				            	</div>
				          	</div>
			         	</div>
                	</div>
                </div>
              </div>
            </div>
            <!-- /.tab-content -->
          </div>
          <div style="width:30%;margin:0 auto;">
        	<button type="button" class="btn btn-block btn-primary" onclick="fnSaveRoleAuth(this)">保存</button>
    	  </div>
    </form>
	</section>
</body>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	var CTX = [[@{/}]];
	var STATIC = [[@{/static/}]];
/*]]>*/	
</script>
<script type="text/javascript" th:src="@{/static/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<script type="text/javascript" th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
<!-- iCheck 1.0.1 -->
<script type="text/javascript" th:src="@{/static/plugins/iCheck/icheck.min.js}"></script>
<!-- AdminLTE App -->
<script type="text/javascript" th:src="@{/static/dist/js/app.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	$(function(){
		$('input').on('ifChecked', function(event){
			if($(this).attr('fieldType')=='checkbox-left'||$(this).attr('fieldType')=='checkbox-desk'){
				$('#tab_menu_main li').each(function(){
					if($(this).hasClass('active')){
						$(this).find("input").iCheck('check');
					}
				});
				if($(this).attr('fieldType')=='checkbox-left'){
					$(this).parent().parent().next().find("input").iCheck('check');
					$(this).parent().parent().parent().parent().prev().find("input").prop('checked','checked');
					$(this).parent().parent().parent().parent().prev().find("input").iCheck('update');
				}
			}
			if($(this).attr('fieldType')=='checkbox-desk-chilid'){
				$("div[id^='tab_main_']").each(function(){
					if($(this).hasClass('active')){
						$(this).find(".vertical-tab").each(function(){
							$(this).find("li").each(function(){
								if($(this).hasClass('active')){
									$(this).find("input").iCheck('check');
								}
							});
						});
					}
				});
				$(this).parent().parent().next().find("input").iCheck('check');
				$(this).parent().parent().parent().parent().prev().find("input").prop('checked','checked');
				$(this).parent().parent().parent().parent().prev().find("input").iCheck('update');
			}
		}).on('ifUnchecked',function(event){
			if($(this).attr('fieldType')=='checkbox-left'){
				$(this).parent().parent().next().find("input").iCheck('uncheck');
			}
		}); 
		$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
	      	checkboxClass: 'icheckbox_minimal-blue',
	      	radioClass: 'iradio_minimal-blue'
	    });
	});
	
	function fnSaveRoleAuth(_this){
		var oldTxt = $(_this).text();
		$(_this).attr('disabled','disabled');
		$(_this).html('保存中...');
		$.ajax({
			url: CTX+'authority/save-dist-authority',
			type: 'POST',
			dataType: 'json',
			data: $('#saveForm').serialize(),
			success: function(json){
				if(json){
					alert(json.msg);
					top.closeCommonFrameWin(json.success);
				}
				$(_this).removeAttr('disabled');
				$(_this).html(oldTxt);
			},
			error: function(){
				alert('请求超时或系统错误');
				$(_this).removeAttr('disabled');
				$(_this).html(oldTxt);
			}
		});
	}
/*]]>*/	
</script>	
</html>