<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
	<title>编辑首页功能菜单</title>
	<link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/dist/css/font-awesome.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/dist/css/ionicons.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/css/common.css}"/>
	<link rel="stylesheet" th:href="@{/static/plugins/select2/select2.css}"/>
	<link rel="stylesheet" th:href="@{/static/dist/css/AdminLTE.css}" />
	<link rel="stylesheet" th:href="@{/static/dist/css/skins/_all-skins.min.css}" />
	<link rel="stylesheet" th:href="@{/static/plugins/bootstrap-toggle/bootstrap-toggle.min.css}"/>
	<link rel="stylesheet" th:href="@{/static/plugins/bootstrap-validator/css/bootstrapValidator.min.css}"/>
	<style type="text/css">
		html,body {overflow-x:hidden;height:100%;min-height:100%;}
		body {
			padding-top:50px;
		}
		.navbar{padding: 0 10px;}
		.bar_left {
		    float: left;
		    line-height: 49px;
		}
		.bar_right {
		    float: right;
		    line-height: 49px;
		}
		.page_title {
		    width: 50%;
		    position: absolute;
		    left: 25%;
		    font-weight: 400;
		    text-align: center;
		    color: #232528;
		    font-size: 18px;
		    overflow: hidden;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    margin-top:none;
		}
		.col-sm-10 span{    
			word-break: break-all;
		    word-wrap: break-word;
		    white-space: normal;
		    display: block;
		    float:left;
		    height: 34px;
		    padding: 6px 12px 6px 0px;
		    font-size: 14px;
		    line-height: 1.42857143;
		    color: #777;
	    }
	    .wapp-icon{border: 0 !important;cursor: pointer;}
	    #wapp_icon{cursor: pointer;}
	    .logo_img {
		    padding-top: 5px;
		    height: 70px;
		    width: 70px;
		    display: inline-block;
		    position: relative;
		    -webkit-border-radius: 10%;
		    -moz-border-radius: 10%;
		    border-radius: 10%;
		    -webkit-background-clip: padding-box;
		    -moz-background-clip: padding-box;
		    background-clip: padding-box;
		}
		.border_alpha {
			text-align: center;
		    border: 1px solid #eee;
		    border-color: rgba(0,0,0,.1);
		    -moz-background-clip: padding;
		    -webkit-background-clip: padding;
		    background-clip: padding-box;
		}
		.img-thumbnail{
			width:60px;
		}
		.col-sm-10-span {
		    word-break: break-all;
		    word-wrap: break-word;
		    white-space: normal;
		    display: block;
		    float: left;
		    height: 34px;
		    padding: 6px 12px 6px 0px;
		    font-size: 14px;
		    line-height: 1.42857143;
		    color: #777;
		}
	</style>
</head>
<body>
	<nav id="nav_edit" class="navbar navbar-fixed-top navbar-default">
		<div class="bar_left"><button class="btn btn-default" type="button" onclick="fnGoBack()"><em class="glyphicon glyphicon-arrow-left"></em></button></div>
	  	<h2 class="page_title" style="margin-top:15px;" th:text="${authority.id}!=null?${parentAuth.name}+'-编辑'+${authority.name}:${parentAuth.name}+'-新增应用功能'"></h2>
	  	<div class="bar_right">
	  		<button id="del_btn" class="btn btn-danger" type="button" onclick="goDel(this)" style="display: none;">删除</button>
	  		<button class="btn btn-primary" type="button" onclick="goSubmit(this)">保存</button>
	  	</div>
	</nav>
	<div id="container_edit" class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<form id="saveForm" class="form-horizontal" role="form" style="margin-top: 20px;">
					<input type="hidden" name="id" th:value="${authority.id}"/>
					<input type="hidden" name="authorityType" th:value="${authority.authorityType}"/>
					<input type="hidden" name="parentId" th:value="${parentAuth.id}"/>
					<div class="form-group">
					 	<label class="col-sm-3 control-label">功能图标</label>
						<div class="col-sm-9">
							<input type="hidden" name="icon" th:value="${authority.icon}!=null?${authority.icon}:'biaodanmoban.png'"/>
							<img id="wapp_icon" class="img-thumbnail" th:src="@{/static/wapp/icons/}+(${authority.icon}!=null?${authority.icon}:'biaodanmoban.png')" data-toggle="modal" data-target="#myModal"/>
						</div>
					</div>
					<div class="form-group">
						 <label for="wapp_name" class="col-sm-3 control-label">功能名称</label>
						<div class="col-sm-9">
							<input type="text" name="name" class="form-control" placeholder="10个字内" th:value="${authority.name}"/>
						</div>
					</div>
					<div class="form-group">
						 <label for="wapp_url" class="col-sm-3 control-label">URL地址</label>
						<div class="col-sm-9">
							<div class="input-group">
				                <div class="input-group-btn">
				                  	<button id="urlHeader_btn" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				                  		<span th:text="${authority}!=null and ${authority.url}!=null?${#strings.substring(authority.url,0,#strings.indexOf(authority.url,':')+1)}:'frame:'"></span>
			                    		<span class="fa fa-caret-down"></span>
			                    	</button>
				                  	<ul class="dropdown-menu">
					                    <li><a href="javascript:fnSetUrlHead('frame:')">frame:</a></li>
					                    <li><a href="javascript:fnSetUrlHead('window:')">window:</a></li>
				                  	</ul>
			                	</div>
				                <input type="hidden" name="urlHeader" th:value="${authority}!=null and ${authority.url}!=null?${#strings.substring(authority.url,0,#strings.indexOf(authority.url,':')+1)}:'frame:'"/>
				                <input type="text" name="url" class="form-control" placeholder="请输入菜单首页地址" th:value="${authority}!=null and ${authority.url}!=null?${#strings.substring(authority.url,#strings.indexOf(authority.url,':')+1)}:''" />
				              </div>
						</div>
					</div>
					<div class="form-group">
					 	<label for="wapp_url" class="col-sm-3 control-label">默认显示</label>
						<div class="col-sm-9">
							<select id="roleType_selmenu" name="defaultRoleTypes" multiple="multiple" class="form-control">
								<option value="sys" th:selected="${authority}!=null and ${authority.defaultRoleTypes}!=null and ${#strings.indexOf(authority.defaultRoleTypes,'sys')}>-1">系统管理员</option>
								<option value="admin" th:selected="${authority}!=null and ${authority.defaultRoleTypes}!=null and ${#strings.indexOf(authority.defaultRoleTypes,'admin')}>-1">企业管理员</option>
								<option value="normal" th:selected="${authority}!=null and ${authority.defaultRoleTypes}!=null and ${#strings.indexOf(authority.defaultRoleTypes,'normal')}>-1">普通角色</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						 <label for="wapp_authority" class="col-sm-3 control-label">树形子菜单配置</label>
						<div class="col-sm-9">
							<span class="col-sm-10-span" id="wapp_authority">该菜单中所包含的可配置的树形子菜单权限</span>
							<div class="btn-group pull-right">
							    <button type="button" class="btn btn-link" onclick="goSetDeskLeftAuth()">配&nbsp;&nbsp;&nbsp;置</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header ">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h5 class="modal-title" id="myModalLabel">选择图标</h5>
	            </div>
	            <div class="modal-body">
	            	<div class="row" id="iconsContainer">
			        
			     	</div>
	            </div>
	        </div><!-- /.modal-content -->
	    </div><!-- /.modal -->
	</div>
</body>
<script type="text/javascript" th:src="@{/static/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script type="text/javascript" th:src="@{/static/plugins/jQueryUI/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/select2/select2.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/bootstrap-validator/js/bootstrapValidator.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
<script type="text/javascript" th:src="@{/static/wapp/wapp-icon-config.js}"></script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	var CTX = [[@{/}]];
	var STATIC = [[@{/static/}]];
	$(function(){
		$("#roleType_selmenu").select2({
		    tags: true,
		    placeholder: "选择角色类型",
		    allowClear: true
		});
		//初始化图标列表
		initIcons();
		//初始化表单
	    $('#saveForm').bootstrapValidator({
			message: '此处输入有误',
	        excluded: [':disabled'],
	        feedbackIcons: {
	            valid: 'glyphicon glyphicon-ok',
	            invalid: 'glyphicon glyphicon-remove',
	            validating: 'glyphicon glyphicon-refresh'
	        },
	        fields:{
	        	'name':{
	        		message: '菜单名称输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '菜单名称不可为空'
	                    },
	                    stringLength: {
	                        max: 10,
	                        message: '长度必须在10个字内'
	                    }
	                }
	        	},
	        	'url':{
	        		message: '菜单URL输入不合法',
	                validators: {
	                    notEmpty: {
	                        message: '菜单URL不可为空'
	                    }
	                }
	        	}
	        }
		});
		if($("#saveForm input[name='id']").val()!=''){
			$('#del_btn').show();
		}
	});
	
	function fnSetUrlHead(txt){
		$('#urlHeader_span').html(txt);
		$("input[name='urlHeader']").val(txt);
	}
	
	function selectIcon(){
		var srcurl = event.srcElement.src;
		var iconvalue = srcurl.substring(srcurl.lastIndexOf('/')+1);
		
		$('#saveForm').find("input[name='icon']").val(iconvalue);
		$('#saveForm').find("#wapp_icon").attr('src',srcurl);
	}
	
	function initIcons() {
		var arr = WappIconConfig.iconsArr;
		var baseUrl = WappIconConfig.baseUrl;
		var html = '';
		
		for (var i = 0; i < arr.length; i++) {
			html += '<div class="col-xs-2">';
			html += '  <img src="'+STATIC + baseUrl + arr[i].url + '" onclick="selectIcon();" class="img-thumbnail wapp-icon" data-toggle="modal" data-target="#myModal"/>';
			html += '  <p class="text-center">' + arr[i].name + '</p>';
			html += '</div>';
		}
		
		$("#iconsContainer").html(html);
	}
	
	function goLocalBack(){
		$('#nav_edit').fadeOut('fast');
		$('#container_edit').fadeOut('fast',function(){
			$('#nav_main').show();
			$('#container_main').show();
		});
	}
	
	function goDel(_this){
		if(window.confirm('请确保子项已删除，确定要执行删除吗?')){
			var oldTxt = $(_this).text();
			$(_this).attr('disabled','disabled');
			$(_this).html('删除中...');
			$.ajax({  
				url: CTX+'authority/delete-authority',
	            type: 'POST',  
	            data:{ids:$("#saveForm input[name='id']").val()},// 序列化表单值  
	            dataType: 'json',
	            success:function(json) {
					if(json.success){
						fnGoBack();
					}else{
		            	alert(json.msg);
		            	$(_this).removeAttr('disabled');
						$(_this).html(oldTxt);
					}
	            },  
	            error:function(json) {  
	            	alert('请求超时或系统出错!');
	            	$(_this).removeAttr('disabled');
					$(_this).html(oldTxt);
	            }  
	        }); 
		}
	}
	
	function goSubmit(_this){
		var result = $('#saveForm').data('bootstrapValidator');
		result.validate();
		if(result.isValid()){
			var oldTxt = $(_this).text();
			$(_this).attr('disabled','disabled');
			$(_this).html('保存中...');
			$.ajax({  
				url: CTX+'authority/save-authority',
	            type: 'POST',  
	            data:$('#saveForm').serialize(),// 序列化表单值  
	            dataType: 'json',
	            success:function(json) {
	            	alert(json.msg);
					$(_this).removeAttr('disabled');
					$(_this).html(oldTxt);
					if(json.success){
						fnGoBack();
					}
	            },  
	            error:function(json) {  
	            	alert('请求超时或系统出错!');
	            	$(_this).removeAttr('disabled');
					$(_this).html(oldTxt);
	            }  
	        });  
		}
	}
	
	function goSetDeskLeftAuth(){
		var id = $("#saveForm input[name='id']").val();
		if(id==''){
			alert('请先保存当前菜单');
			return;
		}
		window.location.href = CTX+"authority/set-left-auth.html?parentId="+id+"&authorityType=4&backPage=set-home-auth-input";
		
	}
	
	function fnGoBack(){
		window.location.href = CTX+"authority/set-home-auth.html?authId="+$("input[name='parentId']").val();
	}
/*]]>*/		
</script>	
</html>