
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>人员管理</title>
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <link rel="stylesheet" th:href="@{/static/layuiadmin/layui/css/layui.css}" media="all"/>
  <link rel="stylesheet" th:href="@{/static/layuiadmin/style/admin.css}" media="all"/>
</head>
<body>
   
  <input id="unitId" type="hidden" th:value="${unitId}"/>
  <input id="setUnitFlag" type="hidden" value="0"/>
  <div class="layui-fluid">   
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
              <input type="text" id="userName"  name="name" placeholder="请输入" autocomplete="off" class="layui-input"></input>
            </div>
           </div>
  
           <div class="layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block" style="width:100px;">
              <select id="state"  name="state">
                <option value="">=请选择=</option>
                <option value="0">启用</option>
                <option value="1">禁用</option>
              </select>
            </div>
          </div>
        
          <div class="layui-inline">
            <button  style="margin-left:50px;"    class="layui-btn layuiadmin-btn-admin" lay-submit="" lay-filter="userSearch">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
            <button class="layui-btn layuiadmin-btn-admin" data-type="clear">清空</button>
            <button class="layui-btn layuiadmin-btn-admin" data-type="add">添加</button>
            <button class="layui-btn layuiadmin-btn-admin" data-type="batchDelet">批量删除</button>
          </div>
        </div>
      </div>
      
      <div class="layui-card-body">
          <table class="layui-hide" id="user-table-page" lay-filter="user-table-page"></table>
          <script type="text/html" id="indexTpl">
          {{d.LAY_TABLE_INDEX+1}}
          </script>
           <script type="text/html" id="people-isOpen">
           {{# if (d.state=== 0) { }}
           <input lay-event="switchOpen" type="checkbox"  id="{{d.id}}" name="isOpen" lay-skin="switch" lay-text="启用|禁用" lay-filter="switchOpen"  checked=""></input>
           {{# } else if(d.state=== 1) { }}
           <input lay-event="switchOpen"  type="checkbox" id="{{d.id}}" name="isOpen" lay-skin="switch" lay-text="启用|禁用" lay-filter="switchOpen" ></input>
           {{# } }}
          </script>
          
           <script type="text/html" id="addBut">
		   <a lay-event="edit" title="编辑"  href="javascript:;" class="ml-5" style="text-decoration:none"><i class="layui-icon">&#xe642;</i></a>	
		    &nbsp;
            &nbsp;
            <a lay-event="setUnit" title="分配部门"   href="javascript:;" class="ml-5" style="text-decoration:none"><i class="layui-icon">&#xe620;</i></a>	
            &nbsp;
            &nbsp;
            <a lay-event="setRole" title="分配角色"   href="javascript:;" class="ml-5" style="text-decoration:none"><i class="layui-icon">&#xe64c;</i></a>	
            &nbsp;
            &nbsp;
           <a lay-event="del" title="删除"   href="javascript:;" class="ml-5" style="text-decoration:none"><i class="layui-icon">&#xe640;</i></a>	
           
       </script>
      </div>
    </div>
  </div>

  <script type="text/javascript" th:src="@{/static/layuiadmin/layui/layui.js}"></script>
  <script>
  layui.config({
    base: '../static/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'useradmin', 'table','form'], function(){
    var $ = layui.$
    ,form = layui.form
    ,table = layui.table;
    //监听搜索
    form.on('submit(userSearch)', function(data){
      var field = data.field;
      //执行重载
      table.reload('user-table-page', {
        where: field
      });
    });
   
    
  //layUi 判断是否选中lay-filter就相当于id
  form.on('switch(switchOpen)', function(data){
	  //获取当前控件
	  var id=$(this).attr("id");
	  isOpen(id);
    });  
    
    //按钮button
    table.render({
        elem: '#user-table-page'
        ,url: layui.setter.base + '../../baseManage/userPage?unitId='+$("#unitId").val()
        ,height: 'full-100'
        ,cols: [[
           {type:'checkbox'}
          ,{title: '序号',templet: '#indexTpl',align:'center'}
          ,{field:'userName',  title: '姓名',align:'center'}
          ,{field:'phone',  title:'电话',align:'center'}
          ,{field:'unitName',  title:'部门',align:'center'}
          ,{field:'state', title: '状态', minWidth: 150,templet:'#people-isOpen',align:'center'}
          ,{field:'sign', title: '操作', minWidth: 150,align:'center',templet:'#addBut'}
        ]]
        ,page: true
      });
    
    //操作列
    table.on('tool(user-table-page)', function(obj){
    	var data = obj.data;
        if(obj.event === 'del'){
        	delet(data);
        }else if(obj.event === 'edit'){
        	edit(data);
        }else if(obj.event==='setUnit'){
        	setUnit(data);
        }else if(obj.event==='setRole'){
        	setRole(data);
        }
      });
    //事件
    var active = {
      add: function(){
    	  //获取当父窗口索引
    	  layer.open({
               type: 2
              ,title: '添加人员'
              ,content: 'userAddView?unitId='+$("#unitId").val()
              ,maxmin: true
              ,area: ['420px', '350px']
              ,btn: ['确定', '取消']
              ,yes: function(index, layero){
                //点击确认触发 iframe 内容中的按钮提交
                var body = layer.getChildFrame('body', index);
                //获取iframe中的指定元素
            	  var iframeWindow = window['layui-layer-iframe'+ index]
            	  ,submitID = 'people-add-form-submit'
                  ,submit = layero.find('iframe').contents().find('#'+ submitID);
            	   iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
                         var field = data.field; //获取提交的字段
                         var myForm=body.find('#myForm');
                         //提交 Ajax 成功后，静态更新表格中的数据
                       	$.ajax({
     			        url:'userAdd',
     			        method:'post',
     			        dataType:'json',
     			        data:myForm.serialize(),
     			        success:function(date){
     				      if(date.msg==0){
     				    	  layer.msg("账号已存在,请重新输入!",{
     				 	            time:1000
     				 	      });
     				      }else if(date.msg==1){
     				    	  table.reload('user-table-page'); //数据刷新
     				    	  layer.msg("保存成功!",{
     				 	            time:1000
     				 	      });
     				    	  parent.layui.$("#userFlag").val("1");
     				    	  layer.close(index); //关闭弹层
     				      }
     			        },
     			        error:function(){
     				    alert('请求超时或系统错误');
     			        }
     		            }); 
                     
                       });
                       submit.trigger('click');  
              }
            });
      },clear:function(){
    	  $("#userName").val("");
    	  //复位重新渲染select
    	  $("#state").val('');
    	  form.render('select');
      },batchDelet:function(){
    	  var checkStatus = table.checkStatus('user-table-page')
          ,checkData = checkStatus.data; //得到选中的数据
          if(checkData.length === 0){
            return layer.msg('请选择数据');
          }
          batchDelet(checkData);
      }
    }  
    $('.layui-btn.layuiadmin-btn-admin').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });
  
  //常用数据
  function delet(node){
	  var $ = layui.$;
	  var table = layui.table;
	  $.ajax({
	        url:'userDelet',
	        method:'post',
	        dataType:'json',
	        data:{"id":node.id},
	        success:function(data2){
	        	 //数据刷新
	        	 //window.parent.location.reload();
	        	 parent.layui.$("#userFlag").val("1");
	        	 table.reload('user-table-page');
 	             layer.msg("用户已删除!",{
		 	            time:1000
			 	  });
 	         
	        },
	        error:function(){
		    alert('请求超时或系统错误');
	        }
        }); 
  }
  
  //编辑用户信息
  function edit(node){
	  var $ = layui.$;
	  var table = layui.table;
	  layer.open({
          type: 2
         ,title: '编辑人员'
         ,content: 'userAddView?unitId='+$("#unitId").val()+"&amp;id="+node.id
         ,maxmin: true
         ,area: ['420px', '280px']
         ,btn: ['确定', '取消']
         ,yes: function(index, layero){
           //点击确认触发 iframe 内容中的按钮提交
           var body = layer.getChildFrame('body', index);
           //获取iframe中的指定元素
       	  var iframeWindow = window['layui-layer-iframe'+ index]
       	  ,submitID = 'people-add-form-submit'
          ,submit = layero.find('iframe').contents().find('#'+ submitID);
       	   iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
                    var field = data.field; //获取提交的字段
                    var myForm=body.find('#myForm');
                    //提交 Ajax 成功后，静态更新表格中的数据
                  	$.ajax({
			        url:'userAdd',
			        method:'post',
			        dataType:'json',
			        data:myForm.serialize(),
			        success:function(date){
			        	if(date.msg==0){
    				    	  layer.msg("账号已存在,请重新输入!",{
    				 	            time:1000
    				 	      });
    				      }else if(date.msg==1){
    				    	  table.reload('user-table-page'); //数据刷新
    				    	  layer.msg("保存成功!",{
    				 	            time:1000
    				 	      });
    				    	  layer.close(index); //关闭弹层
    				      }
			        	
			        },
			        error:function(){
				    alert('请求超时或系统错误');
			        }
		            }); 
                  });
                  submit.trigger('click');  
         }
       });
	  
  }
  
  //状态改变
  function isOpen(id){
	  var $ = layui.$;
	  var table = layui.table;
	  $.ajax({
	        url:'userStateOpen',
	        method:'post',
	        dataType:'json',
	        data:{"id":id},
	        success:function(data2){
	        },
	        error:function(){
		    alert('请求超时或系统错误');
	        }
        }); 
	  
  }
  
  function batchDelet(data){
	  var ids=[];
	  var $ = layui.$;
	  var table = layui.table;
	  for (var i in data){
            ids.push(data[i].id);
      }
	  $.ajax({
	        url:'userBatchDelet',
	        method:'post',
	        dataType:'json',
	        data:{"ids":ids.join(",")},
	        success:function(data2){
	        	 layer.msg("删除成功!",{
		 	            time:1000
		 	      });
	         table.reload('user-table-page');
	         parent.layui.$("#userFlag").val("1");
	        },
	        error:function(){
		    alert('请求超时或系统错误');
	        }
      }); 
  }
  
  function setUnit(node){
	  var index = layer.open({
	              type: 2
	             ,title: node.userName+'-部门分配'
	             ,content: 'userUnitSetView?id='+node.id
	             ,maxmin: true
	             ,area: ['350px', '200px']
	             ,btn: ['确定', '取消']
	             ,end: function(){
	            	 var setUnitFlag=$("#setUnitFlag").val();
	            	 alert(setUnitFlag);
	             }
	           });
	   layer.full(index);
  }
  
  function setRole(node){
	  var $ = layui.$;
	  var index = layer.open({
	              type: 2
	             ,title: node.userName+'-角色分配'
	             ,content: 'userRoleSetView?id='+node.id
	             ,maxmin: true
	             ,area: ['350px', '200px']
	             ,btn: ['确定', '取消']
	             ,yes: function(index, layero){
       	         var iframeWindow = window['layui-layer-iframe'+ index]
       	        ,submitID = 'LAY-role-submit'
                ,submit = layero.find('iframe').contents().find('#'+ submitID);
       	          //监听提交
                 iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
                 var field = data.field; //获取提交的字段
                 //提交 Ajax 
                 $.ajax({
		         url: 'userRoleSet',
			     dataType: 'json',
			     data:{userId:field.userId,roles:field.roles},
			     success: function(data){
			    	 layer.msg("设置成功!",{
			 	            time:1000
			 	      });
	          layer.close(index);
			 },
			error: function() {
				layer.alert('网络异常,请稍后重试!');
			}
		});
           
             });
             submit.trigger('click');
         }
       });
	   layer.full(index);
  }
  
  
  
  
  </script>
</body>
</html>

