<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>项目工程-信息</title>
</head>
<body>
	<div style="width: 100%;position: relative;padding:5px;">
		<img class="img-responsive mCS_img_loaded" width="100%" th:src="${projectInfo.picId}!=null?@{/annex/get-file-stream(annexId=${projectInfo.picId})}:@{/static/images/noPicture.jpg}"/>
		<div class="img-title" style="left:5px;right:5px;bottom:5px;" th:text="${projectInfo.projectName}"></div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div style="text-align: center;color:#fff;line-height: 28px;">
				<span>开工</span><br/>
				<span th:text="${#dates.format(projectInfo.startDate, 'yyyy-MM-dd')}">2018-03-01</span>
			</div>
		</div>
		<div class="col-sm-4">
			<div style="text-align: center;border: 2px dotted #3c8dbc;border-radius: 8px;padding: 3px;font-weight: 600">
				<span class="text-orange" style="font-size: 16px;" th:text="${days}+'天'">378天</span><br/>
				<span class="text-orange">剩余天数</span>
			</div>
		</div>
		<div class="col-sm-4">
			<div style="text-align: center;color:#fff;line-height: 28px;">
				<span>竣工</span><br/>
				<span th:text="${#dates.format(projectInfo.planEndDate, 'yyyy-MM-dd')}">2018-08-31</span>
			</div>
		</div><br/>
		<div class="col-sm-6">
			<div style="text-align: center;color:#fff;line-height: 28px;">
				<span>建筑面积：</span>
				<span th:text="${projectInfo.buildArea}+'㎡'"></span>
			</div>
		</div>
		<div class="col-sm-6">
			<div style="text-align: center;color:#fff;line-height: 28px;">
				<span>工程造价：</span>
				<span th:text="${projectInfo.conAmount}+'万元'"></span>
			</div>
		</div>
		<!-- <div class="col-sm-12">
			<div style="text-align: right;color:#fff;line-height: 28px;">
				<a href="#" style="color:#fff;margin-right: 20px;">项目详情>></a>
			</div>
		</div> -->
	</div>
	<br/>
	<h4 class="title">劳务人员</h4>
	<div style="width:100%;overflow: hidden;">
		<div class="col-sm-6 no-padding">
			<div class="hori-panel" style="height:100px;">
				<div>
					<ul class="my-project-list">
						<li style="line-height:35px;"><div class="my-product-info">劳务单位<h4 class="text-orange text-number pull-right" style="line-height:35px;" id="project_info_panel1_company_num">0</h4></div></li>
						<li style="line-height:35px;"><div class="my-product-info">劳务班组<h4 class="text-orange text-number pull-right" style="line-height:35px;" id="project_info_panel1_team_num">0</h4></div></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-6 no-padding">
			<div class="hori-panel" style="height:100px;">
				<div>
					<ul class="my-project-list">
						<li style="line-height:35px;"><div class="my-product-info">在职人员<h4 class="text-orange text-number pull-right" style="line-height:35px;" id="project_info_panel1_personnel_num">0</h4></div></li>
						<li style="line-height:35px;"><div class="my-product-info">在场人员<h4 class="text-orange text-number pull-right" style="line-height:35px;" id="project_info_panel1_bepresent_num">0</h4></div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<h4 class="title">当前在场人员工种统计</h4>
	<div style="width:100%;overflow: hidden;">
		<div id="panel1_work_type_chart" class="chart" style="height:200px;"></div>
	</div>
	<h4 class="title">当前工地实时通行记录 <span class="pull-right" style="font-size: 14px;cursor: pointer;" onclick="fnMoreAtteInfomationPanel1()">更多》</span></h4>
	<div style="width:100%;padding:5px;min-height:150px;">
		<ul id="panel1_inout_list" class="products-list product-list-in-box">
     	</ul>
	</div>
	<script id="panel1_inout_list_temp" type="text/template">
		{{? it.length>0}}
		{{~it:data}}
		<li class="item">
	         <div class="product-img"> 
	           <img th:src="@{/static/images/u10353.png}" style="width:60px;height:auto;"/>
	         </div>
			 /*<![CDATA[*/
	         <div class="product-info" style="margin:6px 0px;">
	           	<a href="javascript:void(0)" class="product-title">
	           		{{=data.userName}}
	           		<span class="label pull-right" style="margin-right:10px;">{{=data.swipeTime}}</span>
	           	</a>
				{{?data.userType==='02'}}
	            <div class="product-description" style="margin-top:5px;">
	            	{{=data.projectTeamName}}&nbsp;&nbsp;{{=data.workType}}
	            </div>
				{{??}}
				<div class="product-description" style="margin-top:5px;">
	            	{{=data.adminType}}
	            </div>
				{{?}}
	            <div class="product-description" style="margin-top:5px;">
	            	{{?data.accControlDevice===null && data.attendanceDevice===null}}
					无设备记录
					{{??data.accControlDevice!=null && data.attendanceDevice===null}}
					{{=data.accControlDevice}}
					{{??data.accControlDevice===null && data.attendanceDevice!=null}}
					{{=data.attendanceDevice}}
					{{?}}
	            	<span class="label {{?data.swipeStatus=='进场'}}label-info{{??}}label-success{{?}} pull-right" style="margin-right:10px;">{{=data.swipeStatus}}</span>
	            </div>
	         </div>
			/*]]>*/	
	    </li>
		{{~}}
		{{??}}		
		<div class="my-no-data-panel">暂无数据</div>
		{{?}}
	</script>
	<script th:inline="javascript" type="text/javascript">
	/*<![CDATA[*/
		var Panel1_com_pageno = 1,Panel1_com_pagesize = 6,Panel1_com_total = 0;
		var Panel1_team_pageno = 1,Panel1_team_pagesize = 6,Panel1_team_total = 0;
		var Panel1_dot_inout_list_temp = null;
		$(function(){
			Panel1_dot_inout_list_temp = doT.template($('#panel1_inout_list_temp').html());
			//统计项目劳务信息
			fnCountProjectInfoPanel1();
			//实时通行记录
			fnQueryInoutPanel1();
			//当前在场人员工种统计
			fnCountWorkTypeChartPanel1();
			
			$('img').on('error',function(){
				$(this).attr('src',STATIC+'images/noimage.jpg');
			});
		});
		
		function fnCountProjectInfoPanel1(){
			var projectInfoId = [[${projectInfo.id}]];
			$.ajax({
				url: CTX+'gis/count-project-info',
				type: 'GET',
				dataType: 'json',
				data: {projectInfoId: projectInfoId},
				timeout: 10000,
				success: function(json){
					if(json){
						$('#project_info_panel1_company_num').html(json.partCompanyNum);
						$('#project_info_panel1_team_num').html(json.projectTeamNum);
						$('#project_info_panel1_personnel_num').html(json.personneNum);
						$('#project_info_panel1_bepresent_num').html(json.bepresentNum);
					}	
				}
			});
		}
		
		//实时通行记录
		function fnQueryInoutPanel1(){
			var projectInfoId = [[${projectInfo.id}]];
			$.ajax({
				url:CTX+'atte-infomation/query-inout-page',
				type:'get',
				dataType:'json',
				timeout:10000,
				data: {pageNum:1,size:4,projectInfoId:projectInfoId},
				success:function(json){
					$('#panel1_inout_list').html(Panel1_dot_inout_list_temp(json.rows));
				},
				error: function(){
					$('#panel1_inout_list').html('<div class="my-no-data-panel">网络错误或请求超时</div>');
				}
			});
		}
		
		//查看更多进出场信息
		function fnMoreAtteInfomationPanel1(){
			var projectInfoId = [[${projectInfo.id}]];
			var url = CTX+'main/atte-infomation-manage.html?projectInfoId='+projectInfoId;
			openCommonFrameWin(url,null,null);
		}
		
		function fnCountWorkTypeChartPanel1(){
			var projectInfoId = [[${projectInfo.id}]];
			$.ajax({
				url: CTX+'gis/count-work-type-chart',
				type: 'GET',
				dataType: 'json',
				timeout: 10000,
				data: {projectInfoId:projectInfoId},
				success: function(json){
					if(json&&json.length>0){
						var seriesData = [];
						$.each(json,function(i,wc){
							seriesData.push({name: wc.workTypeName, value: wc.personnelNum});
						});
						var myChart = echarts.init(document.getElementById('panel1_work_type_chart'));
						// 指定图表的配置项和数据
				        var option = {
				       	    tooltip : {
				       	        trigger: 'item',
				       	        formatter: "{a} <br/>{b} : {c} ({d}%)"
				       	    },
				       	    series : [
				       	        {
				       	            name: '工种统计',
				       	            type: 'pie',
				       	            radius : '70%',
				       	            center: ['50%', '50%'],
				       	         	data: seriesData,
				       	        	label:{
				       	        		normal: {
				       	                    formatter: '{b}\n{c}人'
				       	        		}
				       	        	},
				       	            itemStyle: {
				       	                emphasis: {
				       	                    shadowBlur: 10,
				       	                    shadowOffsetX: 0,
				       	                    shadowColor: 'rgba(0, 0, 0, 0.5)'
				       	                }
				       	            }
				       	        }
				       	    ]
				        };
				        myChart.setOption(option);
					}else{
						document.getElementById('panel1_work_type_chart').innerHTML = '<div style="background:url('+STATIC+'images/gis/nochart-2.png);width:100%;height:100%;font-size: 26px;padding-top: 15%;">暂无数据</div>';
					}
				},
				error: function(){
					document.getElementById('panel1_work_type_chart').innerHTML = '<div style="background:url('+STATIC+'images/gis/nochart-2.png);width:100%;height:100%;font-size: 26px;padding-top: 15%;">网络错误或请求超时</div>';
				}
			});
		}
	/*]]>*/	
	</script>
</body>
</html>