<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>项目工程总览信息</title>
</head>
<body>
	<h4 class="title">工程统计</h4>
	<div class="row">
		<div class="col-sm-4 no-padding">
			<div class="hori-panel" style="height:170px;">
				<div>
					<h4 style="margin-top:50px;">工程总数</h4>
					<h3 id="project_info_all_num" class="text-orange text-number">0</h3>
				</div>
			</div>
		</div>
		<div class="col-sm-8 no-padding">
			<div id="project_info_all_chart" class="chart" style="height:170px;"></div>
		</div>
	</div>
	<br/>
	<h4 class="title">在建工程劳务统计</h4>
	<div style="width:100%;overflow: hidden;">
		<div class="col-sm-4 no-padding">
			<div class="hori-panel" style="height:130px;">
				<div>
					<h4 style="margin-top:30px;">在建工程</h4>
					<h3 id="project_info_all_build_num" class="text-orange text-number">0</h3>
				</div>
			</div>
		</div>
		<div class="col-sm-8 no-padding">
			<div class="hori-panel" style="height:130px;">
				<div>
					<ul class="my-project-list">
						<li><div class="my-product-info">劳务单位<h4 class="text-orange text-number pull-right" id="project_info_all_company_num">0</h4></div></li>
						<li><div class="my-product-info">劳务班组<h4 class="text-orange text-number pull-right" id="project_info_all_team_num">0</h4></div></li>
						<li><div class="my-product-info">在职人数<h4 class="text-orange text-number pull-right" id="project_info_all_personnel_num">0</h4></div></li>
						<li><div class="my-product-info">在场人数<h4 class="text-orange text-number pull-right" id="project_info_all_bepresent_num">0</h4></div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<h4 class="title">在建工程列表 <span class="pull-right" style="font-size: 14px;">截至当前24小时内</span></h4>
	<div style="width:100%;padding:5px;min-height:150px;">
	<ul id="project_info_all_list" class="products-list product-list-in-box">
     </ul>
     <h5 id="project_info_all_load" class="title" style="text-align: center;font-size:14px;cursor: pointer;display: none;">加载更多</h5>
	</div>
	<script id="project_info_all_list_temp" type="text/template">
	/*<![CDATA[*/
	{{? it.length>0}}
		{{~it:data}}
		<li class="item">
         <div class="product-img"> 
           <img src="{{=data.picUrl}}" alt="Product Image" onerror="this.src='{{=data.errorPic}}';" style="width:100px;height:auto;"/>
         </div>
		 
         <div class="product-info" style="margin:6px 0px;">
           	<a href="javascript:void(0)" class="product-title text-lime">{{=data.projectName}}</a>
            <div class="product-description row" style="margin-top:5px;">
            	<div class="col-sm-6">
            		劳务单位：{{=data.partCompanyNum}}
            	</div>
            	<div class="col-sm-6">
            		劳务班组：{{=data.projectTeamNum}}
            	</div>
            </div>
            <div class="product-description row" style="margin-top:5px;">
            	<div class="col-sm-6">
            		在职人员：{{=data.personneNum}}
            	</div>
            	<div class="col-sm-6">
            		在场人数：{{=data.bepresentNum}}
            	</div>
            </div>
         </div>
        </li>
		{{~}}
		
	{{??}}
		<div style="width:100%;text-align:center;color:#3c8dbc;font-size: 26px;">暂无数据</div>
	{{?}}
	/*]]>*/
	</script>
	<script th:inline="javascript" type="text/javascript">
	/*<![CDATA[*/
	var All_total=0,All_pageno = 1,All_pagesize = 5;
	var All_dot_project_info_list_temp = null;
	$(function(){
		All_dot_project_info_list_temp = doT.template($('#project_info_all_list_temp').html());
		//美化滚动条
		$('#view_panel1').mCustomScrollbar({
			theme:"minimal-dark",
			scrollbarPosition:"outside"
		});
		//在建工程统计
		fnCountProjectInfoAll();
		//在建工程列表
		fnQueryProjectInfoAll(All_pageno,All_pagesize);
		$('#project_info_all_load').on('click',function(){
			if($(this).html()=='没有数据了'||$(this).html()=='加载中...'){
				return;
			}
			All_pageno++;
			fnQueryProjectInfoAll(All_pageno,All_pagesize);
		});
	});
	
	function fnCountProjectInfoAll(){
		$.ajax({
			url: CTX+'gis/count-project-info-all',
			type: 'GET',
			dataType: 'json',
			timeout: 10000,
			success: function(json){
				if(json){
					$('#project_info_all_num').html(json.projectAllNum);
					$('#project_info_all_build_num').html(json.projectIngNum);
					$('#project_info_all_company_num').html(json.partCompanyNum);
					$('#project_info_all_team_num').html(json.projectTeamNum);
					$('#project_info_all_personnel_num').html(json.personneNum);
					$('#project_info_all_bepresent_num').html(json.bepresentNum);
					//工程统计-饼图
					var myChart = echarts.init(document.getElementById('project_info_all_chart'));
					// 指定图表的配置项和数据
			        var option = {
						color:['#f5990c','#2cd405'],
			       	    tooltip : {
			       	        trigger: 'item',
			       	        formatter: "{a} <br/>{b} : {c} ({d}%)"
			       	    },
			       	    series : [
			       	        {
			       	            name: '工程统计',
			       	            type: 'pie',
			       	            radius : '70%',
			       	            center: ['50%', '55%'],
			       	            data: [{
			       	             	name: '在建',
			       	            	value: json.projectIngNum
			       	        	},{
			       	             	name: '竣工',
			       	            	value: json.projectFinishNum
			       	        	}],
			       	        	label:{
			       	        		normal: {
			       	                    formatter: '{b}\n{c}项'
			       	        		}
			       	        	},
			       	            itemStyle: {
			       	                emphasis: {
			       	                    shadowBlur: 10,
			       	                    shadowOffsetX: 0,
			       	                    shadowColor: 'rgba(0, 0, 0, 0.5)'
			       	                }
			       	            }
			       	        }
			       	    ]
			        };
			        myChart.setOption(option);
				}	
			}
		});
	} 
	
	function fnQueryProjectInfoAll(pageNo,pageSize){
		$('#project_info_all_load').show();
		$('#project_info_all_load').html('加载中...');
		$.ajax({
			url: CTX+'gis/query-project-info-all',
			type: 'GET',
			dataType: 'json',
			data: {pageNo: pageNo, pageSize: pageSize},
			timeout: 10000,
			success: function(json){
				if(json){
					All_total = json.total;
					if(json.rows.length>0){
						$.each(json.rows,function(i,row){
							if(row.picId!=null&&row.picId!=''){
								row.picUrl = CTX+'annex/get-file-stream?annexId='+row.picId;
							}else{
								row.picUrl = STATIC+'images/nopic.png';
							}
							row.errorPic = STATIC+'images/nopic.png';
						});
					}
					if(pageNo==1){
						$('#project_info_all_list').html(All_dot_project_info_list_temp(json.rows));
					}else{
						$('#project_info_all_list').append(All_dot_project_info_list_temp(json.rows));
					}
					if(All_total<=0){
						$('#project_info_all_load').hide();
					}else{
						if($('#project_info_all_list li').length<All_total){
							$('#project_info_all_load').html('加载更多');
						}else{
							$('#project_info_all_load').html('没有数据了');
						}
					}
				}	
			}
		});
	}
	/*]]>*/
	</script>
</body>
</html>