<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-store"/>
<meta http-equiv="Expires" content="0" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
<title>后台登陆</title>
<link rel="stylesheet" th:href="@{/static/login/css/style.css}"/>
<link rel="icon" th:href="@{/static/images/avatar.png}"/>
<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
<link rel="stylesheet" th:href="@{/static/layui/css/public.css}" media="all" />
<style type="text/css">
.loginBody{ background:url("static/images/login_bk.jpg") no-repeat center center;background-size:cover;background-attachment:fixed;background-color:#CCCCCC;}
</style>
</head>
<body  class="loginBody">
	<form id="loginForm" class="layui-form">
	<input type="hidden" id="getHeight" style="height: 100%"></input>
		<div class="login_face"><img th:src="@{/static/images/avatar.png}" class="userAvatar"></img></div>
		<div class="layui-form-item input-item">
			<label for="userName">用户名</label>
			<input type="text" placeholder="请输入用户名" autocomplete="off" id="userName" name="userName" class="layui-input" lay-verify="required"></input>
		</div>
		<div class="layui-form-item input-item">
			<label for="password">密码</label>
			<input type="password" placeholder="请输入密码" autocomplete="off" id="password" name="password"  class="layui-input" lay-verify="required"></input>
		</div>
		<div class="layui-form-item">
			<button id="login_but" type="button" class="layui-btn layui-block"  onclick="loginSubmit()">登录</button>
		</div>
	</form>
	<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{/static/login/js/login.js}"></script>
	<script type="text/javascript" th:src="@{/static/layui/js/cache.js}"></script>
	<script th:src="@{/static/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<!--[if lte IE 8]>
<script type="text/javascript"  th:src="@{/static/plugins/jQuery/jquery-1.10.2.min.js}"></script>
<![endif]-->
<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/
	//登录
	var CTX = [[@{/}]];
 	function loginSubmit(){
	var msgHeight=document.documentElement.clientHeight*0.62;
 		 

		if($("#userName").val() == ''||$("#password").val() == ''){
			 layer.msg("请输入账号和密码!",{
	 	            time:2000,
	 	            offset: msgHeight+'px'
	 	        });
			return;
		}
		$('#login_but').text("登录中...").attr("disabled","disabled");
    	$.ajax({
			url:CTX+'login/validate',
			method:'post',
			dataType:'json',
			data:$('#loginForm').serialize(),
			success:function(json){
				if(json.msg==0){
					var mainViewUrl=CTX+'login/mainView';
					window.location.href = CTX+'login/mainView';
				}else if(json.msg==1){
					$('#login_but').text('登&nbsp;录'); 
					layer.msg("该用户已经被禁用",{
			 	            time:1000,
			 	            offset: msgHeight+'px'
			 	      });
					$('#login_but').text("登录");
					$('#login_but').attr("disabled",false); 
				}else if(json.msg==2){
					layer.msg("请输入正确的账号密码",{
			 	            time:1000,
			 	            offset: msgHeight+'px'
			 	        });
					$('#login_but').text("登录");
					$('#login_but').attr("disabled",false); 
				}
			},
			error:function(){
				$('#tipMsg').text('请求超时或网络错误');
				$('#login_btn').removeAttr('disabled');
				$('#login_btn').html('登&nbsp;录');
			}
		}); 
	}
/*]]>*/
</script>
	
</body>
</html>