<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--
* @Copyright(c): 厦门路桥信息股份有限公司  版权所有
* @author :XMRBI
* @Description:合同正文上传
* @createDate:2018-8-10
-->
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<title>合同正文上传</title>
<link rel="stylesheet"
	th:href="@{/static/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/static/dist/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/static/dist/css/ionicons.min.css}" />
<link rel="stylesheet" th:href="@{/static/css/common.css}" />
<link rel="stylesheet" th:href="@{/static/plugins/select2/select2.css}" />
<link rel="stylesheet"
	th:href="@{/static/plugins/bootstrap-treeview/bootstrap-treeview.min.css}" />
<link rel="stylesheet"
	th:href="@{/static/plugins/bootstrap-toggle/bootstrap-toggle.min.css}" />
<link rel="stylesheet"
	th:href="@{/static/plugins/bootstrap-validator/css/bootstrapValidator.min.css}" />
<link rel="stylesheet" th:href="@{/static/dist/css/AdminLTE.css}" />
<link rel="stylesheet"
	th:href="@{/static/dist/css/skins/_all-skins.min.css}" />
<link rel="stylesheet"
	th:href="@{/static/dist/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/static/dist/css/ionicons.min.css}" />
<link rel="stylesheet"
	th:href="@{/static/plugins/jvectormap/jquery-jvectormap-1.2.2.css}" />
<!-- Theme style -->
<link rel="stylesheet" th:href="@{/static/dist/css/AdminLTE.min.css}" />
<link rel="stylesheet"
	th:href="@{/static/dist/css/skins/_all-skins.min.css}" />
<link rel="stylesheet" th:href="@{/static/css/common.css}" />
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet"
	th:href="@{/static/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/static/plugins/bootstrap-table/dist/bootstrap-table.min.css}" />
<style type="text/css">
.panel {
	margin-bottom: 0px;
}

.form-group {
	margin-bottom: 2px;
}
</style>
<style type="text/css">
html, body {
	overflow-x: hidden;
}

body {
	padding-top: 5px;
}

.box.box-solid.box-default>.box-header {
	background-color: #DEF2FF;
}

.col-sm-10 span {
	word-break: break-all;
	word-wrap: break-word;
	white-space: normal;
	display: block;
	float: left;
	height: 34px;
	padding: 6px 12px 6px 0px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #777;
}

#compList>thead>tr>th {
	text-align: center;
	vertical-align: middle !important;
}

#compList>tbody>tr>td {
	vertical-align: middle !important;
}

#annexList>thead>tr>th {
	text-align: center;
	vertical-align: middle !important;
	vertical-align: middle !important;
}

#annexList>tbody>tr>td {
	text-align: center;
	vertical-align: middle !important;
	vertical-align: middle !important;
}

#btn_upload, #btn_delete {
	padding: 3px 6px;
	font-size: 12px;
}

input {
	text-align: center;
}

.table>tbody>tr>td {
	padding: 3px;
}
</style>
</head>
<body>
				
     <div class="box box-default collapsed-box box-solid" style="margin: 5px 0px;border-color: #DEF2FF;">
                <div class="box-header with-border" style="padding: 8px;">
                    <span style="font-weight: bold;font-size: 14px;">附件列表</span>
                    <form id="formAnnex" class="form-horizontal">
                    </form>
                </div>
                 </div>
				<div id="btn_div" class=""  style="margin-bottom: 5px;margin-left: 16px;">
			     <button id="btn_upload" type="button" class="btn btn-primary" th:onclick="'fnUploadAnnex('+${anndexFolderId}+',\''+${anndexFolderName}+'\')'">
			        <span class="glyphicon glyphicon-upload" aria-hidden="true" style="color: #18A689"></span>上传附件
			     </button>
			     &nbsp;
			    <button id="btn_delete" type="button" class="btn btn-primary" onclick="fnDeleteAllAnnex()" >
			      <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: red;"></span>批量删除
			     </button>
			    </div> 
				
		<!-- 附件上传通用窗口 -->
	<div class="modal fade modal-info" id="upload_annex_win" role="dialog" data-backdrop="false" aria-hidden="true">
		<div class="modal-dialog" style="width:900px;">
	      	<div class="modal-content" style="background-color:rgba(255, 255, 255, 0);">
		        <div class="modal-header" style="padding:5px;">
		          	<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:0;">
		            	<span aria-hidden="true">&times;</span>
		            </button>
		            <button type="button" class="close" style="margin-right:5px;margin-top: -1px;" onclick="fnMaxModalWin2(this)">
		            	<i class="fa fa-square-o" style="font-size:16px;"></i>
		            </button>
		          	<h4 class="modal-title" style="text-align:center;"></h4>
		        </div>
		        <div class="modal-body" style="height: 500px;padding:0px;background-color: rgba(3, 51, 101, 0.9) !important;">
		          	<iframe id="annexFrame" name="annexFrame" style="width: 100%;height:100%;border:0;"></iframe>
		        </div>
	      	</div>
		</div>
	</div>
	
	<!-- 通用查看图片窗口 -->
	<div class="modal fade" id="common_viewimg_win" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
		<div class="modal-dialog" style="width:800px;">
			<div class="modal-content">
				<div class="modal-header" style="padding:10px;">
				 	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">图片查看</h4>
				</div>
				<div class="modal-body" style="overflow: hidden; padding: 10px;">
					
				</div>
			</div>
		</div>
	</div>
	
	<!-- frame窗口信息 -->
	<div class="modal fade modal-primary" id="common_frame_win" role="dialog" data-backdrop="false" aria-hidden="true">
		<div class="modal-dialog" style="width:1024px;">
	      	<div class="modal-content" style="background-color:rgba(255, 255, 255, 0);">
		        <div class="modal-header" style="padding:5px;">
		          	<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:0;">
		            	<span aria-hidden="true">&times;</span>
		            </button>
		            <button type="button" class="close max-btn" style="margin-right:5px;margin-top: -1px;" onclick="fnMaxModalWin(this)">
		            	<i class="fa fa-square-o" style="font-size:16px;"></i>
		            </button>
		          	<h4 class="modal-title"></h4>
		        </div>
		        <div class="modal-body" style="height: 550px;padding:0px;background-color: rgba(3, 51, 101, 0.9) !important;">
		          	<iframe style="width: 100%;height:100%;border:0;"></iframe>
		        </div>
	      	</div>
		</div>
	</div>
	
	

</body>
<!-- jQuery 2.2.3 -->
<script th:src="@{/static/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/common.js}"></script>
<script
	th:src="@{/static/plugins/bootstrap-validator/js/bootstrapValidator.min.js}"></script>
<script
	th:src="@{/static/plugins/bootstrap-table/dist/bootstrap-table.min.js}"></script>
<script
	th:src="@{/static/plugins/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/static/plugins/jQuery/jquery.serializejson.min.js}"></script>
<script th:src="@{/static/plugins/datepicker/bootstrap-datepicker.js}"></script>
<script
	th:src="@{/static/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js}"></script>
<script type="text/javascript"
	th:src="@{/static/plugins/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<script
	th:src="@{/static/plugins/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js}"></script>
<script type="text/javascript"
	th:src="@{/static/plugins/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
<script type="text/javascript"
	th:src="@{/static/plugins/bootstrap-contextmenu/bootstrap-contextmenu.js}"></script>
<script type="text/javascript"
	th:src="@{/static/plugins/bootstrap-contextmenu/prettify.js}"></script>
<script type="text/javascript"
	th:src="@{/static/plugins/attention/zDialog/zDrag.js}"></script>
<!-- Slimscroll -->
<script type="text/javascript"
	th:src="@{/static/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<script type="text/javascript" th:src="@{/static/dist/js/app.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
<script type="text/javascript" src="../pageoffice.js" id="po_js_main"></script>
<script th:inline="javascript" type="text/javascript">


/*<![CDATA[*/
	var CTX = [[@{/}]];
	var STATIC = [[@{/static/}]];
		$(function () {
			
			//附件管理弹窗关闭事件
			$('#upload_annex_win').on('hidden.bs.modal',function(){
				var returnData = $('#upload_annex_win iframe')[0].contentWindow.parentCallBack();//window.frames['annexFrame'].window.parentCallBack();//
				$('#upload_annex_win iframe').removeAttr('src');
				if(ANNEX_CALLBACK){
					ANNEX_CALLBACK(returnData);
				}
				ANNEX_CALLBACK = null;
			});
			
			//查看图片窗口关闭事件
			$('#common_viewimg_win').on('hidden.bs.modal',function(){
				$('#common_viewimg_win modal-body').empty();
			});
			
			
			$("#fEffectedStatus").val(" ");
			//1.初始化各个Table
			//合同信息的表格
		    var oTable = new TableInit();
		    oTable.Init();
		    //供应商的表格
		    var oSupplierTableInit=new SupplierTableInit();
		    oSupplierTableInit.Init();
		    //法务审核人表格
		    var oAuditorTableInit=new AuditorTableInit();
		    oAuditorTableInit.Init();
		    //会计审核人表格
		    var oAccoutingAuditorTableInit=new AccoutingAuditorTableInit();
		    oAccoutingAuditorTableInit.Init();
		    //2.初始化Button的点击事件
		    var oButtonInit = new ButtonInit();
		    
		    //合同摘要表
		    var contractOwner=$("#contractOwner").val();
			var contractOwnerDept=$("#contractOwnerDept").val();
			$("#spanContractOwner").text(contractOwner);
			$("#spanContractOwnerDept").text(contractOwnerDept);
		    oButtonInit.Init();
		    //初始化时间控件
		    $('.datepicker').datepicker({
		    	format:'yyyy-mm',
		    	language:'zh-CN',
		      	autoclose: true,
		      	startView: 'months', //开始视图层，为月视图层
		        maxViewMode:'years', //最大视图层，为年视图层
		        minViewMode:'months', //最小视图层，为月视图层
		        clearBtn: true
		    }).on('hide',function(){
				
			});
		    
			//初始化通用frame弹窗关闭事件
			$('#common_frame_win').on('hidden.bs.modal',function(){
				$('#common_frame_win iframe').removeAttr('src');
				$('#common_frame_win .modal-title').html('');
				//还原窗口大小
				$('#common_frame_win').css({'overflow-y':'auto'});
				$('#common_frame_win').find('.modal-dialog').css({width:oldWinW+'px',margin:'30px auto'});
				$('#common_frame_win').find('.modal-body').css({height:oldWinH+'px'});
				$('#common_frame_win .max-btn').find('i').removeClass('fa-clone');
				$('#common_frame_win .max-btn').find('i').addClass('fa-square-o');
			});
			$('#common_frame_win').on('show.bs.modal',function(){
				if(oldWinH>($(window).height()-100)){
					oldWinH = $(window).height()-100;
					$('#common_frame_win .modal-body').height(oldWinH);
				}
			});
			$('#common_frame_win').find('iframe').on('load',function(){
				$('#common_frame_win .modal-title').html($(this).contents().attr("title"));
			});
		});
		
		
		var TableInit = function () {
		    var oTableInit = new Object();
		    //初始化项目的Table
		    oTableInit.Init = function () {
		        $('#dataList').bootstrapTable({
		        	url: CTX + 'project/send-project-message-manage', //请求后台的URL（*）
		            method: 'get',                      //请求方式（*）
		            striped: true,                      //是否显示行间隔色
		            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
		            pagination: true,                   //是否显示分页（*）
		            sortable: false,                     //是否启用排序
		            sortOrder: "asc",                   //排序方式
		            queryParams: oTableInit.queryParams,//传递参数（*）
		            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
		            pageNumber:1,                       //初始化加载第一页，默认第一页
		            pageSize: 5,                        //每页的记录行数（*）
		            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
		            queryParamsType: "a",
		            strictSearch: true,
		            minimumCountColumns: 2,             //最少允许的列数
		            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
		            undefinedText: "",
		            columns: [
					{
					    field: 'number',
					    title:'序号',
					    align : 'center',
					    sortable:true,
					    formatter:function(value,row,index){
					    	var pageSize=$('#dataList').bootstrapTable('getOptions').pageSize;
			                var pageNumber=$('#dataList').bootstrapTable('getOptions').pageNumber;
			                return pageSize * (pageNumber - 1) + index + 1;
					    }
					},{
					    field: 'projectName',
					    title:'项目名称',
					    align : 'center',
					    sortable:true,
					},{
					    field: 'projectCode',
					    title:'项目编码',
					    align : 'center',
					    sortable:true
					},
					{
					    field: 'operation',
					    title:'操作',
					    align : 'center',
					    sortable:true,
					    formatter:function(v,r,i){
							return '<input type="radio" onclick="chooseRadio(this)" name="projectData" title='+r.projectName+'  id='+r.id+' />';
		   				}
					},
					]
		        });
		    };
		    //得到查询的参数
		    oTableInit.queryParams = function (params) {
		        var temp = {   //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
		        	pageNum: params.pageNumber,//页码params.offset
	                size: params.pageSize,//页面大小params.limit
	                projectName:$("input[name='projectName']").val(),
	                projectCode:$("input[name='projectCode']").val(),
		        };
		        return temp;
		    };
		    return oTableInit;
		};
		
		//初始化供应商列表
		var SupplierTableInit = function () {
		    var oSupplierTableInit = new Object();
		    //初始化Table
		    oSupplierTableInit.Init = function () {
		        $('#supplierList').bootstrapTable({
		        	url: CTX + 'supplier/send-supplier-manage', //请求后台的URL（*）
		            method: 'get',                      //请求方式（*）
		            striped: true,                      //是否显示行间隔色
		            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
		            pagination: true,                   //是否显示分页（*）
		            sortable: false,                     //是否启用排序
		            sortOrder: "asc",                   //排序方式
		            queryParams: oSupplierTableInit.queryParams,//传递参数（*）
		            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
		            pageNumber:1,                       //初始化加载第一页，默认第一页
		            pageSize: 5,                       //每页的记录行数（*）
		            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
		            queryParamsType: "a",
		            strictSearch: true,
		            minimumCountColumns: 2,             //最少允许的列数
		            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
		            undefinedText: "",
		            columns: [
					{
					    field: 'number',
					    title:'序号',
					    align : 'center',
					    sortable:true,
					    formatter:function(value,row,index){
					    	var pageSize=$('#supplierList').bootstrapTable('getOptions').pageSize;
			                var pageNumber=$('#supplierList').bootstrapTable('getOptions').pageNumber;
			                return pageSize * (pageNumber - 1) + index + 1;
					    }
					},{
					    field: 'FNumber',
					    title:'供应商编码',
					    align : 'center',
					    sortable:true,
					},{
					    field: 'FName',
					    title:'供应商名称',
					    align : 'center',
					    sortable:true
					},
					{
					    field: 'operation',
					    title:'操作',
					    align : 'center',
					    sortable:true,
					    formatter:function(v,r,i){
							return '<input type="radio" onclick="chooseRadio(this)" name="supplierData" title='+r.FName+'  id='+r.id+' />';
		   				}
					},
					]
		        });
		      
		    };
		    //得到查询的参数
		    oSupplierTableInit.queryParams = function (params) {
		        var temp = {   //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
		        	pageNum: params.pageNumber,//页码params.offset
	                size: params.pageSize,//页面大小params.limit
	                fNumber: $("input[name='fNumber']").val(),
	                fEffectedStatus: $("#fEffectedStatus").val(),
	                fName: $("input[name='fName']").val(),
		        };
		        return temp;
		    };
		    return oSupplierTableInit;
		};
		
		//法务审核人表格
		var AuditorTableInit = function () {
		    var oAuditorTableInit = new Object();
		    //初始化Table
		    oAuditorTableInit.Init = function () {
		        $('#auditorList').bootstrapTable({
		        	url: CTX + 'contract/auditor-view', //请求后台的URL（*）
		            method: 'get',                      //请求方式（*）
		            striped: true,                      //是否显示行间隔色
		            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
		            pagination: true,                   //是否显示分页（*）
		            sortable: false,                     //是否启用排序
		            sortOrder: "asc",                   //排序方式
		            queryParams: oAuditorTableInit.queryParams,//传递参数（*）
		            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
		            pageNumber:1,                       //初始化加载第一页，默认第一页
		            pageSize: 5,                       //每页的记录行数（*）
		            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
		            queryParamsType: "a",
		            strictSearch: true,
		            minimumCountColumns: 2,             //最少允许的列数
		            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
		            undefinedText: "",
		            columns: [
					{
					    field: 'number',
					    title:'序号',
					    align : 'center',
					    sortable:true,
					    formatter:function(value,row,index){
					    	var pageSize=$('#auditorList').bootstrapTable('getOptions').pageSize;
			                var pageNumber=$('#auditorList').bootstrapTable('getOptions').pageNumber;
			                return pageSize * (pageNumber - 1) + index + 1;
					    }
					},{
					    field: 'userName',
					    title:'法务审核员',
					    align : 'center',
					    sortable:true,
					},
					{
					    field: 'operation',
					    title:'操作',
					    align : 'center',
					    sortable:true,
					    formatter:function(v,r,i){
							return '<input type="radio" onclick="chooseRadio(this)" name="supplierData" title='+r.userName+'  id='+r.userId+' />';
		   				}
					},
					]
		        });
		    };
		    //得到查询的参数
		    oAuditorTableInit.queryParams = function (params) {
		        var temp = {   //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
	                roleName:"法务审核人",
		        };
		        return temp;
		    };
		    return oAuditorTableInit;
		};
		
		//会计审核人表格
		var AccoutingAuditorTableInit = function () {
		    var oAccoutingAuditorTableInit = new Object();
		    //初始化Table
		    oAccoutingAuditorTableInit.Init = function () {
		        $('#accoutingAuditorList').bootstrapTable({
		        	url: CTX + 'contract/auditor-view', //请求后台的URL（*）
		            method: 'get',                      //请求方式（*）
		            striped: true,                      //是否显示行间隔色
		            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
		            pagination: true,                   //是否显示分页（*）
		            sortable: false,                     //是否启用排序
		            sortOrder: "asc",                   //排序方式
		            queryParams: oAccoutingAuditorTableInit.queryParams,//传递参数（*）
		            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
		            pageNumber:1,                       //初始化加载第一页，默认第一页
		            pageSize: 5,                       //每页的记录行数（*）
		            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
		            queryParamsType: "a",
		            strictSearch: true,
		            minimumCountColumns: 2,             //最少允许的列数
		            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
		            undefinedText: "",
		            columns: [
					{
					    field: 'number',
					    title:'序号',
					    align : 'center',
					    sortable:true,
					    formatter:function(value,row,index){
					    	var pageSize=$('#accoutingAuditorList').bootstrapTable('getOptions').pageSize;
			                var pageNumber=$('#accoutingAuditorList').bootstrapTable('getOptions').pageNumber;
			                return pageSize * (pageNumber - 1) + index + 1;
					    }
					},{
					    field: 'userName',
					    title:'会计审核员',
					    align : 'center',
					    sortable:true,
					},
					{
					    field: 'operation',
					    title:'操作',
					    align : 'center',
					    sortable:true,
					    formatter:function(v,r,i){
							return '<input type="radio" onclick="chooseRadio(this)" name="supplierData" title='+r.userName+'  id='+r.userId+' />';
		   				}
					},
					]
		        });
		      
		    };
		    //得到查询的参数
		    oAccoutingAuditorTableInit.queryParams = function (params) {
		        var temp = {   //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
	                roleName:"会计审核人",
		        };
		        return temp;
		    };
		    return oAccoutingAuditorTableInit;
		};
		
		/* ------------------------------------- */
		//失去焦点事件
		function loseFocus(){
			var contractName=$("#contractName").val();
			var contractNumber=$("#contractNumber").val();
			var contractOwner=$("#contractOwner").val();
			var contractOwnerDept=$("#contractOwnerDept").val();
			var contractConfirmWay=$("input[name='contract_ConfirmWay']:checked").val();
			var contractSigningBasis=$("#contractSigningBasis").val();
			var contractMainThing=$("#contractMainThing").val();
		    var contractMoney=$("#contractMoney").val();
			
			$("#spanContractName").text(contractName);
			$("#spanContractNumber").text(contractNumber);
			$("#spanContractMoney").text(contractMoney);
			$("#spanContractMoney").text(contractMoney);
			$("#spanContractMainThing").text(contractMainThing);
			$("#spanContractSigningBasis").text(contractSigningBasis);
			$("#spanContractConfirmWay").text(contractConfirmWay);
		}
		
		//查询-刷新
		var queryInfo = function(Type){
			if(Type==1){//项目查询
				var data = JSON.stringify($('#formSearch').serializeJSON());
				var queryData = {from: data};
				$('#dataList').bootstrapTable('refreshOptions',{pageNumber:1,pageSize:5,query:queryData});	
			}else if(Type==2){//供应商查询
				var data = JSON.stringify($('#formSupplierSearch').serializeJSON());
				var queryData = {from: data};
				$('#supplierList').bootstrapTable('refreshOptions',{pageNumber:1,pageSize:5,query:queryData});
			}else if(Type==3){
				var queryData = {roleName: "法务审核人"};
				$('#auditorList').bootstrapTable('refreshOptions',{pageNumber:1,pageSize:5,query:queryData});
			}else if(Type==4){
				var queryData = {roleName: "会计审核人"};
				$('#accoutingAuditorList').bootstrapTable('refreshOptions',{pageNumber:1,pageSize:5,query:queryData});
			}
		}
		
		//点击事件保存名称和id
		var code;
		var name;
		var obj;
		function chooseRadio(node){
			 name =node.title;
			 code =node.id;
			 obj=node;
		}
		
		//初始化按钮
		var ButtonInit = function () {
		    var oInit = new Object();
		    var postdata = {};

		    oInit.Init = function () {
		        //初始化页面上面的按钮事件
		    };
		    return oInit;
		};
		
		//打开模态框
		function openModel(Type){
			if(Type==1){//项目名称
				queryInfo(1);
				$('#openProjectModal').modal('toggle');
			}else if(Type==2){//合同签约方
				$("#contract_party_type").val(" ");
				$('#openSupplierModal').modal('toggle');
			}else if(Type==3){//签约方的供应商选择
				queryInfo(2);
				$('#openSupplierChooseModal').modal('toggle');
			}else if(Type==4){//法务审核人
				queryInfo(3);
				$('#openAuditorModal').modal('toggle');
			}else if(Type==5){//会计审核人
				queryInfo(4);
				$("#openAccoutingAuditorModal").modal('toggle');
			}
			
		}         
		

		//关闭模态框
		function fnCloseWin(Type){
			if(Type==1){//项目名称
				resetParams(1);
				$('#openProjectModal').modal('toggle');
			}else if(Type==2){//签约方模态
				$("#sign_contract_name").val("");
				$("#contract_party_type").val("");
				$('#openSupplierModal').modal('toggle');
			}else if(Type==3){//供应商模态
				resetParams(2);
				$('#openSupplierChooseModal').modal('toggle');
			}else if(Type==4){//法务审核人
				$('#openAuditorModal').modal('toggle');
			}else if(Type==5){//会计审核人
				$('#openAccoutingAuditorModal').modal('toggle');
			}
		}
		
		//确定合同数据
		function suerChoose(Type){
			
			if(Type==1){//合同名称
				var val=$('input:radio[name="projectData"]:checked').val();
				  if(val==null){
					  alert("请选择项目!");
					  return
				  }else{
					  //$("#project_Name").val(name);
					  $("input[name='project_Name']").val(name);
					  $("input[name='projectId']").val(code);
					  //$("#projectId").val(code);
					  $('#openProjectModal').modal('toggle');
					  //单选框默认样式-搜索框重置
					  $('input:radio[name="projectData"]:checked').attr("checked",false);
					  resetParams(1);
				  }
			 }else if(Type==2){//签约方模态框值
				 if($("#sign_contract_name")==" "){
					 alert("请选择签约公司！");
	                 return;	
				 }
				 
				 if($("#contract_party_type").val()==" "){
					alert("请选择签约类型！");
                    return;					
				}
				var com="甲方:厦门轨道物资有限公司  / "+$("#contract_party_type").val()+":"+$("#sign_contract_name").val();
				$("input[name='sign_Contract_People']").val(com);
				$("#spanSignContractPeople").text($("#sign_contract_name").val());;
				$("input[name='contractPartyType']").val($("#contract_party_type").val());
				$("input[name='signContractPeople']").val($("#sign_contract_name").val());
				$('#openSupplierModal').modal('toggle');
				resetParams(3);
			}else if(Type==3){//合同签约方-合同界面
				$("input[name='sign_contract_name']").val(name);
				$("#sign_contract_name").val(name); 
				$('#openSupplierChooseModal').modal('toggle');
			}else if(Type==4){//法务审核人
				$("input[name='legalAuditor']").val(name);
				$("input[name='legalAuditorId']").val(code);
				$('#openAuditorModal').modal('toggle');
			}else if(Type){//会计审核人
				$("input[name='accoutingAuditor']").val(name);
				$("input[name='accoutingAuditorId']").val(code);
				$("#openAccoutingAuditorModal").modal('toggle');
			}
		}
		
		//合同主界面删除输入框数据
		function delContractData(Type){
			if(Type==1){//项目名称
				$("input[name='project_Name']").val("");
			}else if(Type==2){//签约方名称
				$("input[name='sign_Contract_People']").val("");
				$("#spanSignContractPeople").text("");
				$("input[name='contractPartyType']").val("");
				$("input[name='signContractPeople']").val("");
			}else if(Type==3){//法务审核人
				$("input[name='legalAuditor']").val("");
			}else if(Type==4){//会计审核人
				$("input[name='accoutingAuditor']").val("");
			}
		}
		
		//重置项目信息查询的参数
		function  resetParams(Type){
			 if(Type==1){//项目名称
				 $("#projectCode").val(" ");
				 $("#projectName").val(" "); 
			 }else if(Type==2){//供应商
				 $("input[name=fName]").val(" ");
				 $("input[name=fNumber]").val(" ");
			 }else if(Type==3){//签约模态框界面
				 $("#sign_contract_name").val(" ");
				 $("#contract_party_type").val(" ");
			 }
		}
		/* ------------------------------------- */
		
		/* ------------------附件------------------- */	
	//上传附件
	var annexIds=[];//保存上传的附件id
	function fnUploadAnnex(folderId,folderName){
		//调用统一附件管理页面
		openUploadAnnexWin({
			folderId:folderId,
			folderName:folderName/* ,
			annexIds:annexIdStr */
		},function(data){
			//附件管理回调
			if(data.length>0){
				var tbody = document.getElementById("annexList_body");
				var allRows = tbody.getElementsByTagName('tr');
				
				if(allRows != null && allRows.length > 0){
					var tds = allRows[0].getElementsByTagName('td');
					if(tds.length == 1){//原本无附件
						var children = tbody.childNodes;
						for(var i = children.length -1; i >= 0; i--){
							tbody.removeChild(children[i]);
						}
					}
				}
				
				var index = allRows == null ? 1 : allRows.length + 1;
				$.each(data,function(i,annex){
					addAnnexRow(index,annex);
					index++;
				});
			}
			//单独保存附件字段
			fnSaveReportAnnexes();
		});
	}
	
	//附件上传窗口
	function openUploadAnnexWin(jsonData,callback){
		$('#upload_annex_win .modal-title').html('附件管理-'+jsonData.folderName);
		$('#upload_annex_win').modal('toggle');
		window.setTimeout(function(){
			var url = CTX+'annex/list.html?folderId='+jsonData.folderId+'&annexIds='+jsonData.annexIds;
			$('#upload_annex_win iframe').attr('src',url);	
		},300);
		ANNEX_CALLBACK = callback;
	}
	//附件子页面回调
	function closeUploadAnnexWin(){
		$('#upload_annex_win').modal('toggle');
	}
	
	//打开图片查看窗口
	function openCommonViewImgWin(annexIds){
		if(annexIds==null||annexIds==''){
			alert('附件不存在');
			return;
		}
		loading('加载中...');
		$.ajax({
			url:CTX+'annex/query-annex',
			type:'get',
			dataType:'json',
			timeout:10000,
			data: {annexIds:annexIds},
			success:function(json){
				loaded();
				if(json&&json.length>0){
					var liStr = '',imgStr = '';
					$.each(json,function(i,annex){
						if(annex.extendName.toLowerCase()=='jpg'||annex.extendName.toLowerCase()=='jpeg'||
								annex.extendName.toLowerCase()=='bmp'||annex.extendName.toLowerCase()=='gif'||
								annex.extendName.toLowerCase()=='png'){
							liStr += '<li data-target="#myCarousel" data-slide-to="'+i+'" '+(i==0?'class="active"':'')+'></li>';
							imgStr += 
								'<div class="item '+(i==0?'active':'')+'">'+
								'	<img src="'+STATIC+annex.relativePath+'" alt="'+annex.name+'" onerror="this.src=\''+STATIC+'images/noPicture.jpg\';" style="margin:0 auto;max-width:100%;"/>'+
								'	<div class="carousel-caption">'+annex.name+'</div>'+
								'</div>';
						}
					});
					if(liStr!=''&&imgStr!=''){
						$('#common_viewimg_win .modal-body').html(
							'<div id="myCarousel" class="carousel slide">'+
							'<ol class="carousel-indicators">'+
							liStr+
							'</ol>'+
							'<div class="carousel-inner">'+
							imgStr+
							'</div>'+
							'<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">'+
							'    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>'+
							'    <span class="sr-only">Previous</span>'+
							'</a>'+
							'<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">'+
							'    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>'+
							'    <span class="sr-only">Next</span>'+
							'</a>'+
							'</div>'
						);
						$('#common_viewimg_win').modal('toggle');
					}else{
						$.each(json,function(i,annex){
							window.location.href = STATIC+annex.relativePath;
						});
					}
				}else{
					$('#common_viewimg_win').modal('toggle');
					$('#common_viewimg_win .modal-body').html('<div class="img_div" style="width:100%; height:100%;text-align:center;"><img src="'+STATIC+'images/noPicture.jpg" style="max-width:100%;height:auto;"/></div>');
				}
			},
			error:function(){
				alert('请求超时或系统错误');
				loaded();
			}
		});
	}
	
	//附件管理弹窗关闭事件
	$('#upload_annex_win').on('hidden.bs.modal',function(){
		var returnData = $('#upload_annex_win iframe')[0].contentWindow.parentCallBack();//window.frames['annexFrame'].window.parentCallBack();//
		$('#upload_annex_win iframe').removeAttr('src');
		if(ANNEX_CALLBACK){
			ANNEX_CALLBACK(returnData);
		}
		ANNEX_CALLBACK = null;
	});
	
	//附件上传成功，表格添加行数据
	function addAnnexRow(index,annex){
		var tBody = document.getElementById("annexList_body");
		var allRows = tBody.getElementsByTagName('tr');
		var newRow = tBody.insertRow();
	    var newCell0 = newRow.insertCell();
	    var newCell1 = newRow.insertCell();
	    var newCell2 = newRow.insertCell();
	    var newCell3 = newRow.insertCell();
	    var newCell4 = newRow.insertCell();
	    
	    newCell0.innerHTML = "<input hidden=\"hidden\" name=\"fieldIds\" value=\"" + annex.id+ "\"/>" + "<span>"+index+"</span>";
	    newCell1.innerHTML = "<a href=\"javascript:\" onclick=\"openCommonViewImgWin(\'"+annex.id+"\')\">"+
	    	annex.name + "." + annex.extendName +"</a>";
	    newCell2.innerHTML = annex.creator;
	    newCell3.innerHTML = formatDate(annex.uploadTime);
	    newCell4.innerHTML = "<a href=\"javascript:\" onclick=\"fnDeleteAnnex(this,\'"+ annex.id +"\')\">"
	    				+ "<span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\" style=\"color: red;\" title=\"删除\"></span>"
	    				+ "</a>";
	    				
	 annexIds.push(annex.id);
	}
	
	function fnMaxModalWin2(_this){
		if($(_this).find('i').hasClass('fa-square-o')){
			//执行最大化窗口
			$(_this).parent().parent().parent().parent().css({'overflow-y':'hidden'});
			$(_this).parent().parent().parent().css({width:$(window).width()+'px',margin:'0px auto'});
			$(_this).parent().next().css({height:($(window).height()-$(_this).parent().outerHeight())+'px'});
			$(_this).find('i').removeClass('fa-square-o');
			$(_this).find('i').addClass('fa-clone');
		}else{
			//还原窗口大小
			$(_this).parent().parent().parent().parent().css({'overflow-y':'auto'});
			$(_this).parent().parent().parent().css({width:'900px',margin:'30px auto'});
			$(_this).parent().next().css({height:'500px'});
			$(_this).find('i').removeClass('fa-clone');
			$(_this).find('i').addClass('fa-square-o');
		}
	}
	
	//格式化日期
	function formatDate(time){
	    var date = new Date(time);
	    var year = date.getFullYear(),
	        month = date.getMonth()+1,//月份是从0开始的
	        day = date.getDate(),
	        hour = date.getHours(),
	        min = date.getMinutes(),
	        sec = date.getSeconds();
	    var preArr = Array.apply(null,Array(10)).map(function(elem, index) {
	        return '0'+index;
	    });////开个长度为10的数组 格式为 00 01 02 03

	    var newTime = year + '-' +
	                (preArr[month]||month) + '-' +
	                (preArr[day]||day);/*  + ' ' +
	                (preArr[hour]||hour) + ':' +
	                (preArr[min]||min) + ':' +
	                (preArr[sec]||sec); */
	    return newTime;         
	  }
	
		//获得所有附件的id
		function getAllAnnexId(){
			var annexIdStr = "";
			var fieldIds = document.getElementsByName("fieldIds");
			if(fieldIds.length>0){
				for(var i=0,len=fieldIds.length; i<len; i++){
					annexIdStr += ',' + fieldIds[i].value;
				}
				annexIdStr = annexIdStr.substring(1);
			}
			return annexIdStr;
		}
		
		//批量删除
		function fnDeleteAllAnnex(){
			var annexIdStr = getAllAnnexId();
			if(annexIdStr.length > 0){
				//发送请求
				fnSendDelAnnex(annexIdStr)
				var tbody = document.getElementById("annexList_body");
				var children = tbody.childNodes;
				for(var i = children.length -1; i >= 0; i--){
					tbody.removeChild(children[i]);
				}
			}
			 annexIds=[];
		}
		
		//删除附件
		function fnDeleteAnnex(obj,id){
		    fnSendDelAnnex(id);
			annexIds[ annexIds.indexOf(id)] = null;//删除数组中的附件id
			annexIds.splice( annexIds.indexOf( null ), 1 );//删除数组中的附件id
			var index = obj.parentNode.parentNode.rowIndex;
			//console.log("删除附件：" + id);
			document.getElementById("annexList").deleteRow(index);
			
			//重新排序
			var tBody = document.getElementById("annexList_body");
			var allRows = tBody.getElementsByTagName('tr');
			for(var i=0;i<allRows.length;i++){
				var firstCell = allRows[i].getElementsByTagName('td')[0];
				var span = firstCell.getElementsByTagName('span')[0];
				span.innerHTML = i+1;
			}
		}
		

		
		//发送删除附件的请求
		function fnSendDelAnnex(annexId){
			$.ajax({
				url: CTX+"annex/delete-annex",
				type: "POST",
				data: {key: annexId},
				dataType: 'json',
				success: function(data){
					if(data.success){
						return true;
					}
				}
			});
		}
		
		//载入数据
		function loadForm(){
			var contractName=$("#contractName").val();
            var contractConfirmWay=$("input[name='contract_ConfirmWay']:checked").val();
            var contractMatter=$("#contractMatter").val();
            var contractMoney=$("#contractMoney").val();
            var isLeaderApproval=$("input[name='isLeader_Approval']:checked").val();
            var isStamp=$("input[name='is_Stamp']:checked").val();
            var theOtherParty=$("#theOtherParty").val();
            var theOtherPartyPhone=$("#theOtherPartyPhone").val();
            var contractNumber=$("#contractNumber").val();
            var contractSigningBasis=$("#contractSigningBasis").val();
            var contractMainThing=$("#contractMainThing").val();
            var contractTextNumber=$("#contractTextNumber").val();
            var ownContractTextNumber=$("#ownContractTextNumber").val();
            var otherContractTextNumber=$("#otherContractTextNumber").val();
            var contractOwner=$("#contractOwner").val();
            var contractOwnerPhone=$("#contractOwnerPhone").val();
            var contractOwnerDept=$("#contractOwnerDept").val();
            
            $("input[name='contractOwnerDept']").val(contractOwnerDept);
            $("input[name='contractOwnerPhone']").val(contractOwnerPhone);
            $("input[name='contractOwner']").val(contractOwner);
            $("input[name='contractName']").val(contractName);
            $("input[name='contractConfirmWay']").val(contractConfirmWay);
            $("input[name='contractMatter']").val(contractMatter);
            $("input[name='contractMoney']").val(contractMoney);
            $("input[name='isLeaderApproval']").val(isLeaderApproval);
            $("input[name='isStamp']").val(isStamp);
            $("input[name='theOtherParty']").val(theOtherParty);
            $("input[name='theOtherPartyPhone']").val(theOtherPartyPhone);
            $("input[name='contractNumber']").val(contractNumber);
            $("input[name='contractSigningBasis']").val(contractSigningBasis);
            $("input[name='contractMainThing']").val(contractMainThing);
            $("input[name='contractTextNumber']").val(contractTextNumber);
            $("input[name='ownContractTextNumber']").val(ownContractTextNumber);
            $("input[name='otherContractTextNumber']").val(otherContractTextNumber);
            $("input[name='isPromise']").val(1);
		}
		
	  	//保存、提交
	    function fnSubmitReport(isSubmit){
            var contractTextNumber=$("#contractTextNumber").val();
            var ownContractTextNumber=$("#ownContractTextNumber").val();
            var otherContractTextNumber=$("#otherContractTextNumber").val();
            var isPromise=$("#isPromise").val();
            var contractMoney=$("#contractMoney").val();
            //合同金额判断
            if(!(contractMoney==null||contractMoney=="")){
                var moneyTest=/^(([1-9]{1}\d*)|0)(\.\d{1,150})?$/;//金额正则
            	if(!(moneyTest.test(contractMoney))){
            		alert("请输入正确的合同金额！");
            		return;
            	}
            }
            
	  		//合同份数格式判断
	  			var numberTest = /^\+?[1-9]\d*$/;
		  		if(!numberTest.test(contractTextNumber)||!numberTest.test(ownContractTextNumber)||!numberTest.test(otherContractTextNumber)){
		  			 alert("请输入正确的合同份数！");
		  			 return
		  		}
	  		//是否承诺
	  		if(!$("#isPromiseState").is(":checked")){
	  			alert("请承诺！")
	  			return
	  		}
	  		
	  		//加载表单数据
	  		 loadForm();
	  		    if(isSubmit==1){
	  		    	$("#contractListFrom").attr("action",CTX + 'contract/save-contract?state=拟稿&annexIds='+annexIds);
	  		    }
	  		  $("#contractListFrom").submit();
	  		 annexIds=[];
	    }
	  	
	  	//关闭合同签订界面返回主界面
	  	function fnClickReport(){
	  		$("#closeContractFrom").attr("action",CTX + 'contract/contract-enter');
	  		$("#closeContractFrom").submit();
	  	}
	  	
	 
		/*]]>*/
	</script>

	</html>

